In [38]:
import pandas as pd
from sqlalchemy import create_engine, text, types
import sqlite3
import pyodbc
import math
import plotly.express as px
from datetime import datetime, timedelta
import openpyxl
import urllib
conn_postgres = "postgresql://postgres:1234@localhost:5432/GSA"
conn_postgres2 = "postgresql://postgres:1234@localhost:5432/GRS"

In [39]:
from sqlalchemy import create_engine

import urllib.parse
DB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'GRSDASHBOARD',
    "username": 'lasapp',
    "password": 'lasapp@LAS123'
}

# Build ODBC connection string from existing DB_CONFIG
odbc_params = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={DB_CONFIG['server']};"
    f"DATABASE={DB_CONFIG['database']};"
    f"UID={DB_CONFIG['username']};"
    f"PWD={DB_CONFIG['password']};"
)
odbc_connect_str = urllib.parse.quote_plus(odbc_params)

# Create SQLAlchemy engine for SQL Server via pyodbc
engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
# engine_postgres = create_engine(conn_postgres)
engine_postgres2 = create_engine(conn_postgres2)

# simple test query
# with engine_sqlserver.connect() as conn_sql:
#     print(conn_sql.execute("SELECT * FROM grsdbrd.CR_Data").scalar())

In [40]:
regions_dict= {
    'Makka': ['مكة المكرمة', 'الجموم', 'جدة', 'بحرة'], 'Madinah':['المدينة المنورة'],
    'Riyadh': ['الرياض', 'المزاحمية', 'الدرعية', 'حريملاء','مرات', "القويعية", 'الخرج', 'الدلم', 'الزلفى', 'الغاط', 'المجمعه', 
                'جلاجل','حوطة سدير', 'روضة سدير', 'الرين', 'الافلاج', 'السليل', 'ضرماء', 'رماح', 'ثادق', 'عفيف', 'وادى الدواسر'],
    'Eastern': ['الدمام', 'الخبر', 'القطيف', 'الاحساء', 'الجبيل','النعيرية', 'ابقيق', 'راس تنوره', 'الخفجي',"حفر الباطن", "القيصومة"],
    'Qasim':['بريدة','رياض الخبراء','عنيزة','الرس','البكيرية','البدائع', 'البطين', 'الخبراء والسحابين', 'عيون الجواء', 'القوارة', 'الشماسية', 'المذنب', 'الاسياح'],
    "Hael":["حائل", 'بقعاء', 'الشنان', 'جبة', 'موقق', 'الشملي', 'الغزالة', 'الحائط', 'سميراء', 'السليمي'],
    "Tabuk": ['تبوك','الوجه', 'تيماء', 'ضباء'],
    "Jawf": ['دومة الجندل', 'صوير', 'سكاكا', 'القريات', 'طبرجل', 'العيساوية'],
    "Northern Borders": ['رفحاء', 'عرعر', 'طريف']} # 'ضباء', 'حقل', 'الوجه', 'أملج', 'البدع', 'حقل', 'العيص', 'الحمادة', 


geoActions = {'البيانات الجيومكانية صحيحة':['الجيومكانية صحيحة', 'الجيومكانية صحيحه', 'الجيومكانيه صحيحه', 'جيومكانية صحيحة'],'تعديل بيانات وصفية':['بيانات وصفية', 'بيانات وصفيه', 'البيانات الوصفية', 'البيانات الوصفيه'], 'تعديل أبعاد الأرض':['أبعاد', 'ابعاد', 'تعديل أبعاد', 'تعديل ابعاد', 'تعديل الأبعاد', 'تعديل الابعاد'], 
                'تجزئة':['تجزئة','التجزئة'], 'دمج':['دمج', 'الدمج'], 'رفض':["يعاد", 'رفض', 'نقص','مرفوض',"مستندات", "ارفاق", "إرفاق", "غير صحيحة", "الارض المختارة غير صحيحة"]}

rejectionReasons = {'محضر الدمج/التجزئة':['محضر', 'المحضر', 'المحضر المطلوب', 'محضر اللجنة الفنية'], 
                    'إزدواجية صكوك': ['ازدواجية صكوك', 'إزدواجية صكوك', 'ازدواجيه', 'إزدواجيه صكوك'],
                    "خطأ في بيانات الصك'":['خطأ في بيانات الصك', 'خطأ في الصك'],
                    'صك الأرض':['صك الأرض', 'صك الارض', 'صك', 'الصك'], 
                    "إرفاق المؤشرات":["مؤشرات", "إرفاق كافه المؤشرات", "ارفاق كافة المؤشرات","ارفاق كافه المؤشرات"],
                    'طلب لوحدة عقارية':['طلب لوحدة عقارية', 'وحدة', 'وحده', 'وحده عقارية', 'وحدة عقاريه', 'عقارية'], 
                    'طلب مسجل مسبقاً':['سابق', 'مسبقا', 'مسبقاً', 'مسبق', 'طلب آخر', 'مكرر', 'طلب تسجيل اول مكرر'], 'إختيار خاطئ': ['اختيار خاطئ','المختارة غير صحيحة','إختيار خاطئ','المختارة غير صحيحه'],
                    "المخطط المعتمد":["المخطط", "مخطط"]}

def getGeoAction(df):
    
    if 'City Name' in df.columns:
        df['Region'] = ''
        for regionName, cities in regions_dict.items():
            df.loc[df["City Name"].isin(cities), 'Region'] = regionName
    
    # Ensure required columns exist
    if not {'Geo Supervisor Recommendation','GEO Recommendation'}.issubset(df.columns):
        return df

    df['GeoAction'] = ''
    df['Rejection'] = ''

    for i in range(len(df)):
        recomm = df.at[i, 'Geo Supervisor Recommendation']
        recomm2 = df.at[i, 'GEO Recommendation']

        # Normalize empty values
        if pd.isna(recomm) or recomm == '':
            recomm = recomm2
        if pd.isna(recomm) or recomm == '':
            df.at[i, 'GeoAction'] = 'No Action'
            continue

        text = str(recomm)

        action_found = False

        # -----------------------------------------------------
        # 1️⃣ FIRST: check all official actions from geoActions
        # -----------------------------------------------------
        for action, keywords in geoActions.items():
            if any(k in text for k in keywords):
                df.at[i, 'GeoAction'] = action
                action_found = True

                # If it is a rejection, also check reasons
                if action == 'رفض':
                    for reject, r_words in rejectionReasons.items():
                        if any(k in text for k in r_words):
                            df.at[i, 'Rejection'] = reject

                break  # stop scanning actions once matched

        # -----------------------------------------------------
        # 2️⃣ If no official action found, check “شطفة”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['شطفة', 'الشطفة', 'شطفه']):
                df.at[i, 'GeoAction'] = 'شطفة'
                continue

        # -----------------------------------------------------
        # 3️⃣ If still nothing, check “غرفة كهرباء”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['كهرب', 'غرف', 'غرفة كهرباء', 'غرفة الكهرباء', 'غرفة', 'الكهرباء']):
                df.at[i, 'GeoAction'] = 'غرفة كهرباء'
                continue

        # -----------------------------------------------------
        # 4️⃣ If still no match → No Action
        # -----------------------------------------------------
        if not action_found:
            df.at[i, 'GeoAction'] = 'No Action'

    return df

def calculate_sla(row, work_dates):
    trans_date = row[0]
    comp_date = row[1]
    try:
        period = int((comp_date - trans_date).days)
        
        sla = 0
        for i in range(period):
            current_date = trans_date + timedelta(days=i)
            if current_date in work_dates:
                sla += 1
            else:
                pass
        return int(sla)
    except:
        return None
    

def load_excel(filename):
    wb = openpyxl.load_workbook(filename, read_only=True)
    ws = wb['Sheet1']
    header_row_idx = None
    for i, row in enumerate(ws.iter_rows(max_col=2, max_row=10, values_only=True)):
        if row and 'Case Number' in row:
            header_row_idx = i
            break
    wb.close()
    if header_row_idx is not None:
        df = pd.read_excel(filename, sheet_name='Sheet1', skiprows=header_row_idx)
        return df
    else:
        raise ValueError(f"Header row with 'Case Number' not found in: {filename}")
    
def convert_to_date(df):
    dtimeFields = ['Case Date', 'Case Submission Date','Latest Action Date','Transferred to Geospatial','GEO Completion','GEO S Completion','Transferred to Ops', 'Attachment Added Date', "ListDate"]
    for field in dtimeFields:
        if field in df.columns:
            df[field] = pd.to_datetime(df[field]).dt.date
    return df

In [41]:
# editors = pd.read_excel(r"D:\Unclassified\GRS Evaluation System\2025 - 12\Supplementary Cases\Cases Per Editor_POD.xlsx", sheet_name='Sheet2')
editors = pd.read_sql("""SELECT * FROM evaluation."EditorsList" 
                        WHERE "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team',
                      'Support Team_Morning', 'Support Team_Night','RG-Cases') 
                      AND  "UserID" NOT IN ('GAlabdullah.c', 'MBIbrahim.c', 'RAlshammari.c', 'YAlhamad.c', 'NAlmuwallad.c', 'NAbuthunayn.c', 'WAlqadhibi.c', 'HEltahir.c', 'SAlwehibi.c', 'AAldughyyem.c')""", engine_postgres2)
print(len(editors))
editors.head()

191

,EditorName,CasePortalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,Maha Alzahrani,Maha Alzahrani,MAlzahrani.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08
1,Ahad Al-Zahrani,Ahad AlZahrani,ASAlZahrani.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08
2,Saleh Mansour Al-Morqi,Saleh AlMorqi,Salmorqi.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08
3,Latifa Al-Rasheed,Latifa AlRasheed,Lalrasheed.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08
4,Dyaeldin Mohamed Mahmoud,Dyaeldin Mahmoud,Dmahmoud.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08

In [42]:
# editors = editors[editors["CasePortalName"]=='Adel Alrashidi']
editors["Required"] = 2
editorName = editors["CasePortalName"].unique().tolist()
editors.head()

,EditorName,CasePortalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate,Required
0,Maha Alzahrani,Maha Alzahrani,MAlzahrani.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08,2
1,Ahad Al-Zahrani,Ahad AlZahrani,ASAlZahrani.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08,2
2,Saleh Mansour Al-Morqi,Saleh AlMorqi,Salmorqi.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08,2
3,Latifa Al-Rasheed,Latifa AlRasheed,Lalrasheed.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08,2
4,Dyaeldin Mohamed Mahmoud,Dyaeldin Mahmoud,Dmahmoud.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-02-08,2

In [43]:
sql = """SELECT * FROM grsdbrd."GeoCompletion" """
# sql += """WHERE "Geo Supervisor" = 'Adel Alrashidi' """
completed = pd.read_sql(sql, engine_sqlserver)

In [44]:
completed = convert_to_date(completed)
completed = completed.sort_values(by="GEO S Completion", ascending=True)
print(f"All completed: {len(completed)}")
completed = completed.drop_duplicates(subset="Case Number", keep='last')
print(f"Unique Count: {len(completed)}")
completed = completed[completed["GeoAction"]!= 'No Action']
print(f"Excluding No Action: {len(completed)}")

All completed: 801951
Unique Count: 559635
Excluding No Action: 487310

In [45]:
current_cases = pd.read_sql("""SELECT * FROM grsdbrd."CurrentCases" """, engine_sqlserver)
evaluated_cases = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable" 
                              UNION 
                              SELECT "UniqueKey" FROM evaluation."CaseAssignment" """, engine_postgres2)
print(len(current_cases), current_cases["UploadDate"].unique())
evaluated_cases = evaluated_cases.drop_duplicates(subset="UniqueKey")
print(len(evaluated_cases))
# assigned_cases = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."" """, engine_postgres2)

170024 ['2026-02-11']
17570

In [46]:
import psycopg2
DB_SETTINGS = {
    # "dbname": "GSA",
    "dbname": "GRS",
    "user": "evalApp",
    "password": "app1234",
    # "host": "10.150.40.74",
    "host":"127.0.0.1",
    "port": "5432"
}
def get_connection():
    return psycopg2.connect(**DB_SETTINGS)

In [11]:
# city = 'الرياض'
# text = """SELECT TOP 1 * FROM grsdbrd.GeoCompletion WHERE "GEO S Completion" BETWEEN '2025-12-29' AND '2025-12-30' """
# text += f"""AND "City Name" = N'{city}' """
# pd.read_sql(text, engine_sqlserver)

In [47]:
df_cases = completed[completed["Geo Supervisor"].isin(editors["CasePortalName"])]
df_cases = df_cases[(~df_cases["Case Number"].isin(current_cases["Case Number"])) & (~df_cases["UniqueKey"].isin(evaluated_cases["UniqueKey"]))]
counts = df_cases.groupby("Geo Supervisor").size().reset_index(name="Count")
print(len(df_cases), len(counts))
# counts

311275 191

In [48]:
df_cases.groupby("GeoAction").size().reset_index()

                    GeoAction       0
0  البيانات الجيومكانية صحيحة   15227
1                       تجزئة   43034
2           تعديل أبعاد الأرض   45906
3          تعديل بيانات وصفية   65434
4                         دمج   11520
5                         رفض  120563
6                        شطفة    7831
7                 غرفة كهرباء    1760

In [49]:
counts.loc[counts["Count"].idxmin()]

Geo Supervisor    Reem Alotaibi
Count                        10
Name: 156, dtype: object

In [50]:
selected_rows = []

for _, row in editors.iterrows():
    editor = row["CasePortalName"]
    total_required = int(row["Required"])

    reject_needed = total_required // 2
    non_reject_needed = math.ceil(total_required / 2)

    editor_cases = (
        df_cases[df_cases["Geo Supervisor"] == editor]
        .sort_values("GEO S Completion", ascending=False)
    )

    reject_cases = editor_cases[editor_cases["GeoAction"] == "رفض"]
    non_reject_cases = editor_cases[~editor_cases["GeoAction"].isin(["رفض", "No Action"])]

    selected_reject = reject_cases.head(reject_needed)
    selected_non_reject = non_reject_cases.head(non_reject_needed)

    selected = pd.concat([selected_reject, selected_non_reject])

    # Optional: Top-up from remaining recent cases if shortage exists
    if len(selected) < total_required:
        remaining = total_required - len(selected)
        extra_cases = (
            editor_cases
            .drop(selected.index)
            .head(remaining)
        )
        selected = pd.concat([selected, extra_cases])

    selected_rows.append(selected)

df_selected = pd.concat(selected_rows, ignore_index=True)
print(len(df_selected))

382

In [51]:
# Organise the dataframe into case assignment table format
final_df = df_selected[["UniqueKey", "Case Number", "REN", "GEO S Completion", "Geo Supervisor", "Geo Supervisor Recommendation", "SupervisorName","GroupID", "GeoAction", "Region"]]
final_df = final_df.rename(columns={"GEO S Completion":"CompletionDate","Geo Supervisor":"EditorName", "Geo Supervisor Recommendation":"EditorRecommendation"})
final_df["AssignedSupervisor"] = ''
final_df["AssignmentDate"] = datetime.now().date()
# final_df.head(3)

In [52]:
#### Shuffle the dataframe
final_df = (
    final_df
    .sample(frac=1, random_state=42)  # random_state optional (for reproducibility)
    .reset_index(drop=True)
)
final_df.head(3)

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate
0,FR20251175916_2026-02-09 10:02:56,FR20251175916,1451824081700000,2026-02-09,Mohamed Hasabeldaeim,submit | يعاد إلى مدقق الطلبات‑الأرض المختارة ...,Osman Bakri,Editor Morning Shift,رفض,Hael,,2026-02-11
1,FR20251016326_2026-02-10 08:40:07,FR20251016326,7804055754500000,2026-02-10,Aisha Alasmari,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Musab Hassan,Pod-Al-Shuhada-2,رفض,Riyadh,,2026-02-11
2,FR20251165116_2026-02-10 21:23:29,FR20251165116,7528437049500000,2026-02-10,Ammar Kamal,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Khaled Abdulwahab,Support Team_Night,رفض,Eastern,,2026-02-11

In [53]:
final_df.groupby(["EditorName", "GeoAction"]).size().reset_index(name="Count").head(6)

            EditorName           GeoAction  Count
0        AHMED Mahmmod  تعديل بيانات وصفية      1
1        AHMED Mahmmod                 رفض      1
2   Abdulaziz AlOtaibi  تعديل بيانات وصفية      1
3   Abdulaziz AlOtaibi                 رفض      1
4  Abdulaziz Alhegbani                 دمج      1
5  Abdulaziz Alhegbani                 رفض      1

In [54]:
final_df[final_df["CompletionDate"]==final_df["CompletionDate"].min()]

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate
265,FR2025538215_2025-08-12 11:20:47,FR2025538215,6821560881100000,2025-08-12,Asmaa Alanazi,assignCaseWorker | يعاد الى مدقق الطلبات – نقص...,None,None,رفض,Eastern,,2026-02-11

In [55]:
final_df["CompletionDate"].min(), final_df["CompletionDate"].max()

(datetime.date(2025, 8, 12), datetime.date(2026, 2, 11))

In [56]:
supervisors = pd.read_sql("""SELECT DISTINCT("SupervisorName") FROM evaluation."EditorsList" 
                         WHERE "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team',
                        'Support Team_Morning', 'Support Team_Night','RG-Cases')
                        AND "SupervisorName" NOT IN  ('Mohammed AlDaly','Ahmad ElFadil', 'Mohammed Fadil','Musab Hassan','Mohammed Ibrahim Mohammed', 'Mazin MohammedKhir')
                         AND "SupervisorName" IS NOT NULL """, engine_postgres2)["SupervisorName"].tolist()
# supervisors = supervisors[supervisors["SupervisorName"].isin(["Fatimah Almarshed",
# "Fatimah Haddadi",
# "Osman Bakri",
# "Raseel Alharthi"])]["SupervisorName"].tolist()
# for sup in supervisors:
#     if sup in ['Mohammed AlDaly','Ahmad ElFadil', 'Mohammed Fadil','Musab Hassan','Mohammed Ibrahim Mohammed']:
#         supervisors.remove(sup)
# supervisors = supervisors[-3:]
len(supervisors), supervisors

(8,
 ['Osman Bakri',
  'Mohamed Loay',
  'Shaden Alfuraihi',
  'Mosab Alsafi',
  'Ahmad Ishag',
  'Musab AlSheikh',
  'Anas Marzouk',
  'Khaled Abdulwahab'])

In [57]:
# supervisors.remove('Mohammed Fadil')
# supervisors

In [58]:
# Assign to supervisors
final_df["AssignedSupervisor"] = [
    supervisors[i % len(supervisors)]
    for i in range(len(final_df))
]
final_df["AssignmentType"] = 'Auto'

In [59]:
final_df.groupby("AssignedSupervisor").size()

AssignedSupervisor
Ahmad Ishag          48
Anas Marzouk         47
Khaled Abdulwahab    47
Mohamed Loay         48
Mosab Alsafi         48
Musab AlSheikh       48
Osman Bakri          48
Shaden Alfuraihi     48
dtype: int64

In [60]:
# today = datetime.now().date()

# assignment_days = [
#     today,
#     today + timedelta(days=1),
#     today + timedelta(days=2),
#     today + timedelta(days=5)
# ]
# assignment_days

In [61]:
# final_df["AssignmentDate"] = pd.NaT

# for supervisor, group in final_df.groupby("AssignedSupervisor"):
#     idx = group.index.tolist()
#     n = len(idx)
#     # print(idx, n)

#     final_df.loc[idx, "AssignmentDate"] = [
#         assignment_days[i % 4] for i in range(n)
#     ]

In [62]:
final_df.groupby(["AssignedSupervisor", "AssignmentDate"]).size()

AssignedSupervisor  AssignmentDate
Ahmad Ishag         2026-02-11        48
Anas Marzouk        2026-02-11        47
Khaled Abdulwahab   2026-02-11        47
Mohamed Loay        2026-02-11        48
Mosab Alsafi        2026-02-11        48
Musab AlSheikh      2026-02-11        48
Osman Bakri         2026-02-11        48
Shaden Alfuraihi    2026-02-11        48
dtype: int64

In [63]:
final_df.head()

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate,AssignmentType
0,FR20251175916_2026-02-09 10:02:56,FR20251175916,1451824081700000,2026-02-09,Mohamed Hasabeldaeim,submit | يعاد إلى مدقق الطلبات‑الأرض المختارة ...,Osman Bakri,Editor Morning Shift,رفض,Hael,Osman Bakri,2026-02-11,Auto
1,FR20251016326_2026-02-10 08:40:07,FR20251016326,7804055754500000,2026-02-10,Aisha Alasmari,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Musab Hassan,Pod-Al-Shuhada-2,رفض,Riyadh,Mohamed Loay,2026-02-11,Auto
2,FR20251165116_2026-02-10 21:23:29,FR20251165116,7528437049500000,2026-02-10,Ammar Kamal,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Khaled Abdulwahab,Support Team_Night,رفض,Eastern,Shaden Alfuraihi,2026-02-11,Auto
3,FR20251167255_2026-02-10 11:39:14,FR20251167255,7490505620000000,2026-02-10,Mohammed Saif,submit | تمت تجزئة القطع و ترقيمها بناء علي بي...,Shaden Alfuraihi,Editor Morning Shift,تجزئة,Makka,Mosab Alsafi,2026-02-11,Auto
4,FR2025893068_2026-02-10 08:14:48,FR2025893068,3002101947400000,2026-02-10,Mohammed Alfathel,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Mosab Alsafi,Editor Morning Shift,رفض,Eastern,Ahmad Ishag,2026-02-11,Auto

In [27]:
# final_df.to_excel(r"D:\Unclassified\GRS Evaluation System\2025 - 12\Supplementary Cases\SupplementaryCases_POD.xlsx", index=False)

In [64]:
final_df.to_sql("CaseAssignment", engine_postgres2, schema='evaluation',if_exists='append',index=False)

382

In [65]:
final_df["UploadDate"] = final_df["AssignmentDate"]
# final_df.head()
final_df.to_sql("OpsData", engine_postgres2, schema='evaluation',if_exists='append',index=False)

382

### Retired Cases

In [44]:
def check_unevaluateded_status():
    print("Checking Unevaluated Cases...")
    conn = get_connection()
    # Create SQLAlchemy engine for SQL Server via pyodbc
    engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
    # 1. Fetch all un-evaluated assignments
    
    current_df = pd.read_sql("""SELECT "Case Number" FROM grsdbrd."CurrentCases" """, engine_sqlserver)['Case Number'].dropna().unique().tolist()
    evaluated_df = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable"
                                UNION SELECT "UniqueKey" FROM evaluation."CaseAssignment" """, conn)["UniqueKey"].dropna().unique().tolist()
    current_cases = str(current_df).strip('[]') #','.join([current_df[:10]])
    evaluated_cases = str(evaluated_df).strip('[]')
    # print(current_df[:10])
    # print(current_cases)
    # print(evaluated_cases)
    query_assignments = f"""
        SELECT * FROM evaluation."CaseAssignment"
        WHERE "IsEvaluated" = FALSE AND "IsRetired" = FALSE AND "AssignmentDate" <> CURRENT_DATE
        AND "Case Number" IN ({current_cases})
        """
    # print(query_assignments)
    assignments = pd.read_sql(query_assignments, conn)
    print("****", len(assignments))
    if assignments.empty:
        print("All unevaluated cases are still valid")
        return  # Nothing to do
    
    # # print(f"There are {len(assignments)} un-evaluated cases to be updated")
    
    # # 2. Loop through each assignment and check if case exists in OpsData
    # # QtWidgets.QMessageBox.warning(None, "Unresolved Assignments", 
    # #         f"There are {len(assignments)} unresolved cases.")
    editors_names = str(assignments["EditorName"].dropna().unique().tolist()).strip('[]')
    geo_comp = pd.read_sql(f"""SELECT * FROM grsdbrd."GeoCompletion" WHERE "Geo Supervisor" IN ({editors_names}) """, engine_sqlserver)
    potential_replacements = geo_comp[(~geo_comp["Case Number"].isin(current_df)) & (~geo_comp["UniqueKey"].isin(evaluated_df))]
    potential_replacements = potential_replacements.sort_values(by="GEO S Completion", ascending=False)
    print(len(geo_comp), len(potential_replacements))
    # return potential_replacements
    for idx, row in assignments.head(2).iterrows():
        assign_id = row["AssignmentID"]
        case_id = row["UniqueKey"]
        editor = row["EditorName"]
        assigned_supervisor = row["AssignedSupervisor"]
        assignment_date = row["AssignmentDate"]
        geo_action = row["GeoAction"]
        print(f"Searching for replacement for {case_id}, {editor}, {geo_action}...")
        if geo_action=="رفض":
            action = [geo_action]
            action_query = f"""AND "GeoAction" = N'{geo_action}' """
        else:
            action = ['شطفة', 'تجزئة', 'غرفة كهرباء', 'تعديل أبعاد الأرض', 'تعديل بيانات وصفية', 'البيانات الجيومكانية صحيحة', 'دمج']
            action_query = """AND "GeoAction" NOT IN (N'رفض', N'No Action') """
        replacement = potential_replacements[(potential_replacements["Geo Supervisor"]==editor) & (potential_replacements["GeoAction"].isin(action))]
    # #     print(f"_____{len(replacement)}")
        if not replacement.empty:
            replacement_case = replacement.iloc[0]
            replacement_case["REN"] = str(replacement_case["REN"])
            # print(f"Replacement Case: {replacement_case["Case Number"]}, REN: {replacement_case["REN"]}, Date: {replacement_case["GEO S Completion"]}\n========================")

            update_query = """UPDATE evaluation."CaseAssignment"
                            SET "IsRetired" = TRUE
                                WHERE "AssignmentID" = %s """
            cols =  ["UniqueKey", "Case Number", "REN", "GEO S Completion", "Geo Supervisor", 
                        "Geo Supervisor Recommendation", "SupervisorName", "GroupID", "GeoAction", "Region"]
            values = replacement_case[cols].tolist() + [assigned_supervisor, assignment_date, "Replacement", case_id]
    #         print(len(values))
            insert_query = text(f"""
                    INSERT INTO evaluation."CaseAssignment"
                    ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation", 
                    "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate", "AssignmentType", "ReplacedCase")
                    VALUES ({values})
                """)
            print(f"Case: '{case_id}',  '{values[0]}'") #\nInsert Query: {insert_query}
            cur = conn.cursor()
            cur.execute(update_query, [assign_id])
            cur.execute("""
                INSERT INTO evaluation."CaseAssignment"
                ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation", 
                "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate", "AssignmentType", "ReplacedCase")
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
            """, values)
            conn.commit()
            cur.close()
            # retired_assigments = assignments["AssignmentID"].dropna().tolist()
            update_query = f"""UPDATE evaluation."CaseAssignment"
                            SET "IsRetired" = TRUE
                            WHERE "AssignmentID" = '{assign_id}' """
            # '({str(retired_assigments).strip('[]')})
    # print(retired_assigments)
            # print(f"Update Query:\n{update_query}")
    conn.close()
    engine_sqlserver.dispose()

In [46]:
# replacement = 
check_unevaluateded_status()

Checking Unevaluated Cases...

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_49996\3282657446.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  evaluated_df = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable"
C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_49996\3282657446.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  assignments = pd.read_sql(query_assignments, conn)

**** 1
3772 3472
Searching for replacement for FR20251014923_2026-01-07 10:29:18, Amjad Alnajey, رفض...
Case: 'FR20251014923_2026-01-07 10:29:18',  'FR20251170587_2026-02-08 14:34:39'

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_49996\3282657446.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  replacement_case["REN"] = str(replacement_case["REN"])