In [1]:
import pandas as pd
from sqlalchemy import create_engine, text, types
import sqlite3
import pyodbc
import math
import plotly.express as px
from datetime import datetime, timedelta
import openpyxl
import urllib
conn_postgres = "postgresql://postgres:1234@localhost:5432/GSA"
conn_postgres2 = "postgresql://postgres:1234@localhost:5432/GRS"

In [2]:
from sqlalchemy import create_engine

import urllib.parse
DB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'GRSDASHBOARD',
    "username": 'lasapp',
    "password": 'lasapp@LAS123'
}

# Build ODBC connection string from existing DB_CONFIG
odbc_params = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={DB_CONFIG['server']};"
    f"DATABASE={DB_CONFIG['database']};"
    f"UID={DB_CONFIG['username']};"
    f"PWD={DB_CONFIG['password']};"
)
odbc_connect_str = urllib.parse.quote_plus(odbc_params)

# Create SQLAlchemy engine for SQL Server via pyodbc
engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
# engine_postgres = create_engine(conn_postgres)
engine_postgres2 = create_engine(conn_postgres2)

# simple test query
# with engine_sqlserver.connect() as conn_sql:
#     print(conn_sql.execute("SELECT * FROM grsdbrd.CR_Data").scalar())

In [3]:
regions_dict= {
    'Makka': ['مكة المكرمة', 'الجموم', 'جدة', 'بحرة'], 'Madinah':['المدينة المنورة'],
    'Riyadh': ['الرياض', 'المزاحمية', 'الدرعية', 'حريملاء','مرات', "القويعية", 'الخرج', 'الدلم', 'الزلفى', 'الغاط', 'المجمعه', 
                'جلاجل','حوطة سدير', 'روضة سدير', 'الرين', 'الافلاج', 'السليل', 'ضرماء', 'رماح', 'ثادق', 'عفيف', 'وادى الدواسر'],
    'Eastern': ['الدمام', 'الخبر', 'القطيف', 'الاحساء', 'الجبيل','النعيرية', 'ابقيق', 'راس تنوره', 'الخفجي',"حفر الباطن", "القيصومة"],
    'Qasim':['بريدة','رياض الخبراء','عنيزة','الرس','البكيرية','البدائع', 'البطين', 'الخبراء والسحابين', 'عيون الجواء', 'القوارة', 'الشماسية', 'المذنب', 'الاسياح'],
    "Hael":["حائل", 'بقعاء', 'الشنان', 'جبة', 'موقق', 'الشملي', 'الغزالة', 'الحائط', 'سميراء', 'السليمي'],
    "Tabuk": ['تبوك','الوجه', 'تيماء'],
    "Jawf": ['دومة الجندل', 'صوير', 'سكاكا', 'القريات', 'طبرجل', 'العيساوية'],
    "Northern Borders": ['رفحاء', 'عرعر', 'طريف']} # 'ضباء', 'حقل', 'الوجه', 'أملج', 'البدع', 'حقل', 'العيص', 'الحمادة', 


geoActions = {'البيانات الجيومكانية صحيحة':['الجيومكانية صحيحة', 'الجيومكانية صحيحه', 'الجيومكانيه صحيحه', 'جيومكانية صحيحة'],'تعديل بيانات وصفية':['بيانات وصفية', 'بيانات وصفيه', 'البيانات الوصفية', 'البيانات الوصفيه'], 'تعديل أبعاد الأرض':['أبعاد', 'ابعاد', 'تعديل أبعاد', 'تعديل ابعاد', 'تعديل الأبعاد', 'تعديل الابعاد'], 
                'تجزئة':['تجزئة','التجزئة'], 'دمج':['دمج', 'الدمج'], 'رفض':["يعاد", 'رفض', 'نقص','مرفوض',"مستندات", "ارفاق", "إرفاق", "غير صحيحة", "الارض المختارة غير صحيحة"]}

rejectionReasons = {'محضر الدمج/التجزئة':['محضر', 'المحضر', 'المحضر المطلوب', 'محضر اللجنة الفنية'], 
                    'إزدواجية صكوك': ['ازدواجية صكوك', 'إزدواجية صكوك', 'ازدواجيه', 'إزدواجيه صكوك'],
                    "خطأ في بيانات الصك'":['خطأ في بيانات الصك', 'خطأ في الصك'],
                    'صك الأرض':['صك الأرض', 'صك الارض', 'صك', 'الصك'], 
                    "إرفاق المؤشرات":["مؤشرات", "إرفاق كافه المؤشرات", "ارفاق كافة المؤشرات","ارفاق كافه المؤشرات"],
                    'طلب لوحدة عقارية':['طلب لوحدة عقارية', 'وحدة', 'وحده', 'وحده عقارية', 'وحدة عقاريه', 'عقارية'], 
                    'طلب مسجل مسبقاً':['سابق', 'مسبقا', 'مسبقاً', 'مسبق', 'طلب آخر', 'مكرر', 'طلب تسجيل اول مكرر'], 'إختيار خاطئ': ['اختيار خاطئ','المختارة غير صحيحة','إختيار خاطئ','المختارة غير صحيحه'],
                    "المخطط المعتمد":["المخطط", "مخطط"]}

def getGeoAction(df):
    
    if 'City Name' in df.columns:
        df['Region'] = ''
        for regionName, cities in regions_dict.items():
            df.loc[df["City Name"].isin(cities), 'Region'] = regionName
    
    # Ensure required columns exist
    if not {'Geo Supervisor Recommendation','GEO Recommendation'}.issubset(df.columns):
        return df

    df['GeoAction'] = ''
    df['Rejection'] = ''

    for i in range(len(df)):
        recomm = df.at[i, 'Geo Supervisor Recommendation']
        recomm2 = df.at[i, 'GEO Recommendation']

        # Normalize empty values
        if pd.isna(recomm) or recomm == '':
            recomm = recomm2
        if pd.isna(recomm) or recomm == '':
            df.at[i, 'GeoAction'] = 'No Action'
            continue

        text = str(recomm)

        action_found = False

        # -----------------------------------------------------
        # 1️⃣ FIRST: check all official actions from geoActions
        # -----------------------------------------------------
        for action, keywords in geoActions.items():
            if any(k in text for k in keywords):
                df.at[i, 'GeoAction'] = action
                action_found = True

                # If it is a rejection, also check reasons
                if action == 'رفض':
                    for reject, r_words in rejectionReasons.items():
                        if any(k in text for k in r_words):
                            df.at[i, 'Rejection'] = reject

                break  # stop scanning actions once matched

        # -----------------------------------------------------
        # 2️⃣ If no official action found, check “شطفة”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['شطفة', 'الشطفة', 'شطفه']):
                df.at[i, 'GeoAction'] = 'شطفة'
                continue

        # -----------------------------------------------------
        # 3️⃣ If still nothing, check “غرفة كهرباء”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['كهرب', 'غرف', 'غرفة كهرباء', 'غرفة الكهرباء', 'غرفة', 'الكهرباء']):
                df.at[i, 'GeoAction'] = 'غرفة كهرباء'
                continue

        # -----------------------------------------------------
        # 4️⃣ If still no match → No Action
        # -----------------------------------------------------
        if not action_found:
            df.at[i, 'GeoAction'] = 'No Action'

    return df

def calculate_sla(row, work_dates):
    trans_date = row[0]
    comp_date = row[1]
    try:
        period = int((comp_date - trans_date).days)
        
        sla = 0
        for i in range(period):
            current_date = trans_date + timedelta(days=i)
            if current_date in work_dates:
                sla += 1
            else:
                pass
        return int(sla)
    except:
        return None
    

def load_excel(filename):
    wb = openpyxl.load_workbook(filename, read_only=True)
    ws = wb['Sheet1']
    header_row_idx = None
    for i, row in enumerate(ws.iter_rows(max_col=2, max_row=10, values_only=True)):
        if row and 'Case Number' in row:
            header_row_idx = i
            break
    wb.close()
    if header_row_idx is not None:
        df = pd.read_excel(filename, sheet_name='Sheet1', skiprows=header_row_idx)
        return df
    else:
        raise ValueError(f"Header row with 'Case Number' not found in: {filename}")
    
def convert_to_date(df):
    dtimeFields = ['Case Date', 'Case Submission Date','Latest Action Date','Transferred to Geospatial','GEO Completion','GEO S Completion','Transferred to Ops', 'Attachment Added Date', "ListDate"]
    for field in dtimeFields:
        if field in df.columns:
            df[field] = pd.to_datetime(df[field]).dt.date
    return df

In [4]:
# editors = pd.read_excel(r"D:\Unclassified\GRS Evaluation System\2025 - 12\Supplementary Cases\Cases Per Editor_POD.xlsx", sheet_name='Sheet2')
editors = pd.read_sql("""SELECT * FROM evaluation."EditorsList" 
                        WHERE "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team') 
                        AND "SupervisorName" <> 'Ahmad ElFadil' """, engine_postgres2)
editors.head()

,EditorName,CasePortalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,Nawaf Al-Harbi,Nawaf AlHarbi,Nharbi.c,MMohammedKhir.c,Mazin MohammedKhir,Editor Night Shift,2026-01-05
1,Ibrahim Abu Bashar,Ibrahim Abu Bashar,Ibashar.c,ralotaibi.c,Reem Alotaibi,Editor Morning Shift,2026-01-05
2,Khaled Abdulwahab,Khaled Abdulwahab,Kabdulwahab.c,oazab.c,Omar Azab,Editor Night Shift,2026-01-05
3,Abdallh Magdy,Abdullah Magdy,Amagdy.c,maldaly.c,Mohammed Mustafa Al-Daly,Pod-Al-Shuhada-1,2026-01-05
4,Abdul Rahman Ismail,Abdulrahman Ismail,aismail.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-01-05

In [5]:
print(len(editors))

179

In [6]:
# editors = editors[editors["EditorName"]=='Mohammed Hamed']
editors["Required"] = 2
editorName = editors["CasePortalName"].unique().tolist()
editors.head()

,EditorName,CasePortalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate,Required
0,Nawaf Al-Harbi,Nawaf AlHarbi,Nharbi.c,MMohammedKhir.c,Mazin MohammedKhir,Editor Night Shift,2026-01-05,2
1,Ibrahim Abu Bashar,Ibrahim Abu Bashar,Ibashar.c,ralotaibi.c,Reem Alotaibi,Editor Morning Shift,2026-01-05,2
2,Khaled Abdulwahab,Khaled Abdulwahab,Kabdulwahab.c,oazab.c,Omar Azab,Editor Night Shift,2026-01-05,2
3,Abdallh Magdy,Abdullah Magdy,Amagdy.c,maldaly.c,Mohammed Mustafa Al-Daly,Pod-Al-Shuhada-1,2026-01-05,2
4,Abdul Rahman Ismail,Abdulrahman Ismail,aismail.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2026-01-05,2

In [7]:
sql = """SELECT * FROM grsdbrd."GeoCompletion" """
# sql += """WHERE "GEO S Completion" <= '2025-12-20' AND "Geo Supervisor" = 'Mohammed Hamed' """
completed = pd.read_sql(sql, engine_sqlserver)

In [8]:
completed = convert_to_date(completed)
completed = completed.sort_values(by="GEO S Completion", ascending=True)
print(len(completed))
completed = completed.drop_duplicates(subset="Case Number", keep='last')
print(len(completed))

696085
477522

In [9]:
current_cases = pd.read_sql("""SELECT * FROM grsdbrd."CurrentCases" """, engine_sqlserver)
evaluated_cases = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable" 
                              UNION 
                              SELECT "UniqueKey" FROM evaluation."CaseAssignment" """, engine_postgres2)
print(len(current_cases))
evaluated_cases = evaluated_cases.drop_duplicates(subset="UniqueKey")
print(len(evaluated_cases))
# assigned_cases = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."" """, engine_postgres2)

140019
8517

In [10]:
import psycopg2
DB_SETTINGS = {
    # "dbname": "GSA",
    "dbname": "GRS",
    "user": "evalApp",
    "password": "app1234",
    # "host": "10.150.40.74",
    "host":"127.0.0.1",
    "port": "5432"
}
def get_connection():
    return psycopg2.connect(**DB_SETTINGS)

In [ ]:
def check_unevaluateded_status():
    print("Checking Unevaluated Cases...")
    conn = get_connection()
    # Create SQLAlchemy engine for SQL Server via pyodbc
    engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
    # 1. Fetch all un-evaluated assignments
    
    current_df = pd.read_sql("""SELECT "Case Number" FROM grsdbrd."CurrentCases" """, engine_sqlserver)['Case Number'].dropna().unique().tolist()
    evaluated_df = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable"
                                UNION SELECT "UniqueKey" FROM evaluation."CaseAssignment" """, conn)["UniqueKey"].dropna().unique().tolist()
    current_cases = str(current_df).strip('[]') #','.join([current_df[:10]])
    evaluated_cases = str(evaluated_df).strip('[]')
    # print(current_df[:10])
    # print(current_cases)
    # print(evaluated_cases)
    query_assignments = f"""
        SELECT * FROM evaluation."CaseAssignment"
        WHERE "IsEvaluated" = FALSE AND "IsRetired" = FALSE AND "AssignmentDate" <> CURRENT_DATE
        AND "Case Number" IN ({current_cases})
        """
    # print(query_assignments)
    assignments = pd.read_sql(query_assignments, conn)
    print("****", len(assignments))
    if assignments.empty:
        print("All unevaluated cases are still valid")
        return  # Nothing to do
    
    # # print(f"There are {len(assignments)} un-evaluated cases to be updated")
    
    # # 2. Loop through each assignment and check if case exists in OpsData
    # # QtWidgets.QMessageBox.warning(None, "Unresolved Assignments", 
    # #         f"There are {len(assignments)} unresolved cases.")
    editors_names = str(assignments["EditorName"].dropna().unique().tolist()).strip('[]')
    geo_comp = pd.read_sql(f"""SELECT * FROM grsdbrd."GeoCompletion" WHERE "Geo Supervisor" IN ({editors_names}) """, engine_sqlserver)
    potential_replacements = geo_comp[(~geo_comp["Case Number"].isin(current_df)) & (~geo_comp["UniqueKey"].isin(evaluated_df))]
    potential_replacements = potential_replacements.sort_values(by="GEO S Completion", ascending=False)
    print(len(geo_comp), len(potential_replacements))
    # return potential_replacements
    for idx, row in assignments.head(1).iterrows():
        assign_id = row["AssignmentID"]
        case_id = row["UniqueKey"]
        editor = row["EditorName"]
        assigned_supervisor = row["AssignedSupervisor"]
        assignment_date = row["AssignmentDate"]
        geo_action = row["GeoAction"]
        print(f"Searching for replacement for {case_id}, {editor}, {geo_action}...")
        if geo_action=="رفض":
            action = [geo_action]
            action_query = f"""AND "GeoAction" = N'{geo_action}' """
        else:
            action = ['شطفة', 'تجزئة', 'غرفة كهرباء', 'تعديل أبعاد الأرض', 'تعديل بيانات وصفية', 'البيانات الجيومكانية صحيحة', 'دمج']
            action_query = """AND "GeoAction" NOT IN (N'رفض', N'No Action') """
    #     print(case_id, editor, assigned_supervisor, geo_action)
    #     replacement_query = f"""
    #         SELECT TOP 1 * FROM grsdbrd."GeoCompletion"
    #         WHERE "Geo Supervisor" = '{editor}'
    #         {action_query}
    #         AND "UniqueKey" NOT IN ({evaluated_cases})
    #         AND "Case Number" NOT IN ({current_cases})
    #         ORDER BY "GEO S Completion" DESC
    #     """
        replacement = potential_replacements[(potential_replacements["Geo Supervisor"]==editor) & (potential_replacements["GeoAction"].isin(action))]
    # #     print(f"_____{len(replacement)}")
        if not replacement.empty:
            replacement_case = replacement.iloc[0]
            replacement_case["REN"] = str(replacement_case["REN"])
            print(f"Replacement Case: {replacement_case["Case Number"]}, REN: {replacement_case["REN"]}, Date: {replacement_case["GEO S Completion"]}\n========================")

            update_query = """UPDATE evaluation."CaseAssignment"
                            SET "IsRetired" = TRUE
                                WHERE "AssignmentID" = %s """
            cols =  ["UniqueKey", "Case Number", "REN", "GEO S Completion", "Geo Supervisor", 
                        "Geo Supervisor Recommendation", "SupervisorName", "GroupID", "GeoAction", "Region"]
            values = replacement_case[cols].tolist() + [assigned_supervisor, assignment_date, "Replacement"]
    #         print(len(values))
            insert_query = text(f"""
                    INSERT INTO evaluation."CaseAssignment"
                    ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation", 
                    "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate", "AssignmentType)
                    VALUES ({values})
                """)
            print(f"Case: {case_id} is replaced by: {values[0]}\nInsert Query: {insert_query}")
    #         # cur = conn.cursor()
    #         # cur.execute(update_query, [assign_id])
    #         # cur.execute("""
    #         #     INSERT INTO evaluation."CaseAssignment"
    #         #     ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation", 
    #         #     "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate")
    #         #     VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
    #         # """, values)
    #         # conn.commit()
    #         # cur.close()
    retired_assigments = assignments["AssignmentID"].dropna().tolist()
    update_query = f"""UPDATE evaluation."CaseAssignment"
                    SET "IsRetired" = TRUE
                    WHERE "AssignmentID" IN ({str(retired_assigments).strip('[]')}) """
    print(retired_assigments)
    print(f"Update Query:\n{update_query}")
    conn.close()
    engine_sqlserver.dispose()

In [36]:
# replacement = 
check_unevaluateded_status()

Checking Unevaluated Cases...

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_25204\3557991548.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  evaluated_df = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable"
C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_25204\3557991548.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  assignments = pd.read_sql(query_assignments, conn)

**** 12
35696 34204
Searching for replacement for FR2025936824_2026-01-04 19:38:55, Khaled AlSharif, تعديل بيانات وصفية...
Replacement Case: FR2025736749, REN: 7870798340000000, Date: 2025-10-27
========================
Case: FR2025936824_2026-01-04 19:38:55 is replaced by: FR2025736749_2025-10-27 17:29:29
Insert Query:
                    INSERT INTO evaluation."CaseAssignment"
                    ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation",
                    "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate", "AssignmentType)
                    VALUES (['FR2025736749_2025-10-27 17:29:29', 'FR2025736749', '7870798340000000', datetime.date(2025, 10, 27), 'Khaled AlSharif', 'submit | تم تعديل البيانات الوصفية بناء على بيانات وزارة البلديات والإسكان/ الأمانة ، حيث ان اطوال الصك المذكورة لا يوجد بها شطفة-تم ترقيم القطعة ورقم المخطط وحدود القطعة بناءا على بيانات وزارة البلديات والاسكان', 'Ahmad ElFadil', 'Editor Night Shift', 'تعديل بيانات وصفية', 'Riyadh', 'Raseel Alharthi', datetime.date(2026, 1, 6), 'Replacement'])

[13090, 11973, 12141, 12149, 12308, 12380, 12441, 12539, 12561, 12645, 12681, 12818]
Update Query:
UPDATE evaluation."CaseAssignment"
                    SET "IsRetired" = TRUE
                    WHERE "AssignmentID" IN (13090, 11973, 12141, 12149, 12308, 12380, 12441, 12539, 12561, 12645, 12681, 12818)

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_25204\3557991548.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  replacement_case["REN"] = str(replacement_case["REN"])

In [13]:
replacement[replacement["UniqueKey"].isin(evaluated_cases["UniqueKey"])]

Empty DataFrame
Columns: [Case Number, Absolute Ownership, Duplicate Case, Generated Titles, Case Submission Date, Latest Action Date, Action, Assignee, Transferred to Geospatial, Return To Geo Team, Count of Returns Cases , GEO Completion, GEO S Completion, Transferred to Ops, Case Status, REN, Boundary Length Deed, Boundary Length Parcel, MoJ Deed Number, Moj Real Estate Serial, MoJ Plan #, MoJ Real Estate Area, MoJ Land Number, City Name, District Name, MoJ Deed Area Text, Property Type, Parcel Area Size, Parcel Number (PCP), Location Description, Attachments, Attachment Added Date, Deed East Limit Description, Deed East Limit Length, Deed Eastern Type, Deed  West Limit Description, Deed West Limit Length, Deed Western Boarder Type, Deed North Limit Description, Deed North Limit Length, Deed Northern Boarder Type, Deed South Limit Description, Deed South Limit Length, Deed Sothern Boarder Type, CW, CW Recommendation, CWS, CWS Recommendation, QC, QC Recommendation, GEO, GEO Recommendation, Geo Supervisor, Geo Supervisor Recommendation, UniqueKey, UploadDate, UploadedBy, Region, GeoAction, Rejection, SLA, EditorName, UserID, SupervisorID, SupervisorName, GroupID, ListDate]
Index: []

[0 rows x 67 columns]

In [11]:
current_cases["UploadDate"].max()

'2026-01-08'

In [12]:
df_cases = completed[completed["Geo Supervisor"].isin(editors["CasePortalName"])]
df_cases = df_cases[(~df_cases["Case Number"].isin(current_cases["Case Number"])) & (~df_cases["UniqueKey"].isin(evaluated_cases["UniqueKey"]))]
counts = df_cases.groupby("Geo Supervisor").size().reset_index(name="Count")
print(len(df_cases), len(counts))
# counts

332309 179

In [13]:
counts.loc[counts["Count"].idxmin()]

Geo Supervisor    Maha Alzahrani
Count                        114
Name: 90, dtype: object

In [14]:
df_cases.head(2)

,Case Number,Absolute Ownership,Duplicate Case,Generated Titles,Case Submission Date,Latest Action Date,Action,Assignee,Transferred to Geospatial,Return To Geo Team,...,Region,GeoAction,Rejection,SLA,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
103825,FR2024591039,None,NaN,NaN,2024-11-25,2025-02-24,CW Pool,None,2024-12-22,Yes,...,Riyadh,رفض,إختيار خاطئ,0.0,None,None,None,None,None,NaT
103824,FR2024558306,None,NaN,NaN,2024-11-11,2025-02-24,CW Pool,None,2025-01-15,Yes,...,Riyadh,تعديل بيانات وصفية,,0.0,None,None,None,None,None,NaT

In [15]:

selected_rows = []

for _, row in editors.iterrows():
    editor = row["CasePortalName"]
    total_required = int(row["Required"])

    reject_needed = total_required // 2
    non_reject_needed = math.ceil(total_required / 2)

    editor_cases = (
        df_cases[df_cases["Geo Supervisor"] == editor]
        .sort_values("GEO S Completion", ascending=False)
    )

    reject_cases = editor_cases[editor_cases["GeoAction"] == "رفض"]
    non_reject_cases = editor_cases[~editor_cases["GeoAction"].isin(["رفض", "No Action"])]

    selected_reject = reject_cases.head(reject_needed)
    selected_non_reject = non_reject_cases.head(non_reject_needed)

    selected = pd.concat([selected_reject, selected_non_reject])

    # Optional: Top-up from remaining recent cases if shortage exists
    if len(selected) < total_required:
        remaining = total_required - len(selected)
        extra_cases = (
            editor_cases
            .drop(selected.index)
            .head(remaining)
        )
        selected = pd.concat([selected, extra_cases])

    selected_rows.append(selected)

df_selected = pd.concat(selected_rows, ignore_index=True)
print(len(df_selected))

358

In [16]:
# Organise the dataframe into case assignment table format
final_df = df_selected[["UniqueKey", "Case Number", "REN", "GEO S Completion", "Geo Supervisor", "Geo Supervisor Recommendation", "SupervisorName","GroupID", "GeoAction", "Region"]]
final_df = final_df.rename(columns={"GEO S Completion":"CompletionDate","Geo Supervisor":"EditorName", "Geo Supervisor Recommendation":"EditorRecommendation"})
final_df["AssignedSupervisor"] = ''
final_df["AssignmentDate"] = datetime.now().date()
final_df.head()

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate
0,FR20251093907_2026-01-07 22:01:00,FR20251093907,5012922511200000,2026-01-07,Nawaf AlHarbi,submit | يعاد إلى مدقق الطلبات‑نقص في المستندا...,Mazin MohammedKhir,Editor Night Shift,رفض,Makka,,2026-01-08
1,FR20251083190_2026-01-07 22:07:57,FR20251083190,8198581389500000,2026-01-07,Nawaf AlHarbi,submit | تم تعديل البيانات الوصفية,Mazin MohammedKhir,Editor Night Shift,تعديل بيانات وصفية,Riyadh,,2026-01-08
2,FR2025836232_2026-01-07 12:01:57,FR2025836232,8341884070300000,2026-01-07,Ibrahim Abu Bashar,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Reem Alotaibi,Editor Morning Shift,رفض,Eastern,,2026-01-08
3,FR2025973860_2026-01-07 08:44:23,FR2025973860,8158793956700000,2026-01-07,Ibrahim Abu Bashar,submit | الصك المرفق لا يعبر عن قطعة الأرض الم...,Reem Alotaibi,Editor Morning Shift,تعديل بيانات وصفية,Eastern,,2026-01-08
4,FR20251023435_2026-01-07 21:46:31,FR20251023435,8518799141500000,2026-01-07,Khaled Abdulwahab,submit | يعاد إلى مدقق الطلبات‑الأرض المختارة ...,Omar Azab,Editor Night Shift,رفض,Eastern,,2026-01-08

In [17]:
#### Shuffle the dataframe
final_df = (
    final_df
    .sample(frac=1, random_state=42)  # random_state optional (for reproducibility)
    .reset_index(drop=True)
)
final_df.head(10)

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate
0,FR20251015942_2026-01-07 19:14:06,FR20251015942,5374863835900000,2026-01-07,Mohammed Hamed,submit | تم التجزئة,Omar Azab,Editor Night Shift,تجزئة,Hael,,2026-01-08
1,FR20251006520_2026-01-07 21:43:05,FR20251006520,7558737664500000,2026-01-07,Aboalhassan Shatir,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Omar Azab,Editor Night Shift,رفض,Makka,,2026-01-08
2,FR2025828081_2026-01-07 08:11:51,FR2025828081,8886167014300000,2026-01-07,Najla Alotaibi,submit | مع ملاحظة بيانات وزارة العدل لم تنعكس...,Mustafa Alnmar,Editor Morning Shift,شطفة,Madinah,,2026-01-08
3,FR2025512866_2025-11-10 13:29:39,FR2025512866,5808752580700000,2025-11-10,Reem Alzahrani,submit | تم الدمج - الطلب لوحدة عقارية يرجى مل...,Mohammed Ibrahim Mohammed,Pod-Al-Shuhada-2,دمج,Qasim,,2026-01-08
4,FR2025997091_2026-01-06 21:58:01,FR2025997091,9256475324500000,2026-01-06,Ahmad Ishag,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Omar Azab,Editor Night Shift,رفض,Hael,,2026-01-08
5,FR2025996073_2026-01-07 07:33:45,FR2025996073,4570862763200000,2026-01-07,Razan AlMuqayel,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Reem Alotaibi,Editor Morning Shift,رفض,Makka,,2026-01-08
6,FR20251015476_2026-01-07 21:46:31,FR20251015476,7807377937000000,2026-01-07,Abdulaziz Almutlaq,submit | تم التجزئة - تم المعالجة بناء على توج...,Mohammed Fadil,Editor Night Shift,تجزئة,Hael,,2026-01-08
7,FR20251186488_2026-01-06 16:10:37,FR20251186488,6306297153500000,2026-01-06,Ahmad Ishag,submit | تم المعالجة بناء على توجيه الحوكمة ال...,Omar Azab,Editor Night Shift,تجزئة,Riyadh,,2026-01-08
8,FR2025938003_2026-01-07 21:46:31,FR2025938003,2920077048500000,2026-01-07,Musab AlAmin,submit | تم التجزئة.,Mohammed Fadil,Editor Night Shift,تجزئة,Makka,,2026-01-08
9,FR2025997345_2026-01-07 09:42:41,FR2025997345,6040485471200000,2026-01-07,Asaad Ali,submit | يعاد الى مدقق الطلبات خطأ في الصك – ا...,Shaden Alfuraihi,Editor Morning Shift,رفض,Qasim,,2026-01-08

In [18]:
final_df.groupby(["EditorName", "GeoAction"]).size().reset_index(name="Count")

              EditorName           GeoAction  Count
0          AHMED Mahmmod  تعديل بيانات وصفية      1
1          AHMED Mahmmod                 رفض      1
2     Abdulaziz AlOtaibi  تعديل بيانات وصفية      1
3     Abdulaziz AlOtaibi                 رفض      1
4    Abdulaziz Alhegbani               تجزئة      1
..                   ...                 ...    ...
353        Waleed Hassan                 رفض      1
354    Wardah Alshahrani                 دمج      1
355    Wardah Alshahrani                 رفض      1
356        Wijdan AlAsab  تعديل بيانات وصفية      1
357        Wijdan AlAsab                 رفض      1

[358 rows x 3 columns]

In [19]:
final_df["CompletionDate"].min(), final_df["CompletionDate"].max()

(datetime.date(2025, 8, 24), datetime.date(2026, 1, 8))

In [20]:
supervisors = pd.read_sql("""SELECT DISTINCT("SupervisorName") FROM evaluation."EditorsList" 
                         WHERE "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift','Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team')
                         AND "SupervisorName" IS NOT NULL """, engine_postgres2)["SupervisorName"].tolist()
# supervisors = supervisors[supervisors["SupervisorName"].isin(["Fatimah Almarshed",
# "Fatimah Haddadi",
# "Osman Bakri",
# "Raseel Alharthi"])]["SupervisorName"].tolist()
supervisors.remove('Mohammed Mustafa Al-Daly')
supervisors.remove('Ahmad ElFadil')
supervisors.remove('Musab Hassan')
len(supervisors), supervisors

(12,
 ['Osman Bakri',
  'Mazin MohammedKhir',
  'Mohammed Barakat',
  'Mustafa Alnmar',
  'Omar Azab',
  'Shaden Alfuraihi',
  'Reem Alotaibi',
  'Mohammed Ibrahim Mohammed',
  'Raseel Alharthi',
  'Fatimah Almarshed',
  'Mohammed Fadil',
  'Fatimah Haddadi'])

In [21]:
# Assign to supervisors
final_df["AssignedSupervisor"] = [
    supervisors[i % len(supervisors)]
    for i in range(len(final_df))
]

In [22]:
final_df.groupby("AssignedSupervisor").size()

AssignedSupervisor
Fatimah Almarshed            30
Fatimah Haddadi              29
Mazin MohammedKhir           30
Mohammed Barakat             30
Mohammed Fadil               29
Mohammed Ibrahim Mohammed    30
Mustafa Alnmar               30
Omar Azab                    30
Osman Bakri                  30
Raseel Alharthi              30
Reem Alotaibi                30
Shaden Alfuraihi             30
dtype: int64

In [21]:
today = datetime.now().date()

assignment_days = [
    today,
    today + timedelta(days=1),
    today + timedelta(days=2)
]
assignment_days

[datetime.date(2025, 12, 28),
 datetime.date(2025, 12, 29),
 datetime.date(2025, 12, 30)]

In [22]:
final_df["AssignmentDate"] = pd.NaT

for supervisor, group in final_df.groupby("AssignedSupervisor"):
    idx = group.index.tolist()
    n = len(idx)
    # print(idx, n)

    final_df.loc[idx, "AssignmentDate"] = [
        assignment_days[i % 3] for i in range(n)
    ]

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_56952\347213859.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29)]' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  final_df.loc[idx, "AssignmentDate"] = [

In [23]:
final_df.groupby(["AssignedSupervisor", "AssignmentDate"]).size()

AssignedSupervisor         AssignmentDate
Fatimah Almarshed          2026-01-08        30
Fatimah Haddadi            2026-01-08        29
Mazin MohammedKhir         2026-01-08        30
Mohammed Barakat           2026-01-08        30
Mohammed Fadil             2026-01-08        29
Mohammed Ibrahim Mohammed  2026-01-08        30
Mustafa Alnmar             2026-01-08        30
Omar Azab                  2026-01-08        30
Osman Bakri                2026-01-08        30
Raseel Alharthi            2026-01-08        30
Reem Alotaibi              2026-01-08        30
Shaden Alfuraihi           2026-01-08        30
dtype: int64

In [24]:
final_df["AssignmentType"] = 'Auto'
final_df

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate,AssignmentType
0,FR20251015942_2026-01-07 19:14:06,FR20251015942,5374863835900000,2026-01-07,Mohammed Hamed,submit | تم التجزئة,Omar Azab,Editor Night Shift,تجزئة,Hael,Osman Bakri,2026-01-08,Auto
1,FR20251006520_2026-01-07 21:43:05,FR20251006520,7558737664500000,2026-01-07,Aboalhassan Shatir,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Omar Azab,Editor Night Shift,رفض,Makka,Mazin MohammedKhir,2026-01-08,Auto
2,FR2025828081_2026-01-07 08:11:51,FR2025828081,8886167014300000,2026-01-07,Najla Alotaibi,submit | مع ملاحظة بيانات وزارة العدل لم تنعكس...,Mustafa Alnmar,Editor Morning Shift,شطفة,Madinah,Mohammed Barakat,2026-01-08,Auto
3,FR2025512866_2025-11-10 13:29:39,FR2025512866,5808752580700000,2025-11-10,Reem Alzahrani,submit | تم الدمج - الطلب لوحدة عقارية يرجى مل...,Mohammed Ibrahim Mohammed,Pod-Al-Shuhada-2,دمج,Qasim,Mustafa Alnmar,2026-01-08,Auto
4,FR2025997091_2026-01-06 21:58:01,FR2025997091,9256475324500000,2026-01-06,Ahmad Ishag,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Omar Azab,Editor Night Shift,رفض,Hael,Omar Azab,2026-01-08,Auto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,FR20251086956_2026-01-07 22:35:32,FR20251086956,4051168124600000,2026-01-07,Ahmed Merghani,submit | تمت المعالجة بناءً على الوثيقة المرفق...,Mazin MohammedKhir,Editor Night Shift,شطفة,Eastern,Shaden Alfuraihi,2026-01-08,Auto
354,FR20251014923_2026-01-07 10:29:18,FR20251014923,6789477470500000,2026-01-07,Amjad Alnajey,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Osman Bakri,Editor Morning Shift,رفض,Eastern,Reem Alotaibi,2026-01-08,Auto
355,FR2025869030_2025-11-13 14:42:57,FR2025869030,6669621988800000,2025-11-13,Noura AlDosari,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Raseel Alharthi,Editor Morning Shift,رفض,Eastern,Mohammed Ibrahim Mohammed,2026-01-08,Auto
356,FR2025996338_2026-01-07 09:16:38,FR2025996338,7204704629700000,2026-01-07,Wafi Noah,submit | يعاد إلى مدقق الطلبات‑الأرض المختارة ...,Reem Alotaibi,Editor Morning Shift,رفض,Hael,Raseel Alharthi,2026-01-08,Auto
357,FR2025910090_2026-01-07 09:58:11,FR2025910090,8255036068800000,2026-01-07,Amira Aldhafri,submit | يعاد إلى مدقق الطلبات‑نقص في المستندا...,Fatimah Almarshed,Editor Morning Shift,رفض,Madinah,Fatimah Almarshed,2026-01-08,Auto

In [43]:
final_df.to_excel(r"D:\Unclassified\GRS Evaluation System\2025 - 12\Supplementary Cases\SupplementaryCases_POD.xlsx", index=False)

In [25]:
final_df.to_sql("CaseAssignment", engine_postgres2, schema='evaluation',if_exists='append',index=False)

358

In [26]:
final_df["UploadDate"] = datetime.now().date()
final_df.to_sql("OpsData", engine_postgres2, schema='evaluation',if_exists='replace',index=False)

358