In [1]:
import pandas as pd
from sqlalchemy import create_engine, text, types
import sqlite3
import pyodbc
import math
import plotly.express as px
from datetime import datetime, timedelta
import openpyxl
import urllib
conn_postgres = "postgresql://postgres:1234@localhost:5432/GSA"
conn_postgres2 = "postgresql://postgres:1234@localhost:5432/GRS"

In [2]:
from sqlalchemy import create_engine

import urllib.parse
DB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'GRSDASHBOARD',
    "username": 'lasapp',
    "password": 'lasapp@LAS123'
}

# Build ODBC connection string from existing DB_CONFIG
odbc_params = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={DB_CONFIG['server']};"
    f"DATABASE={DB_CONFIG['database']};"
    f"UID={DB_CONFIG['username']};"
    f"PWD={DB_CONFIG['password']};"
)
odbc_connect_str = urllib.parse.quote_plus(odbc_params)

# Create SQLAlchemy engine for SQL Server via pyodbc
engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
# engine_postgres = create_engine(conn_postgres)
engine_postgres2 = create_engine(conn_postgres2)

# simple test query
# with engine_sqlserver.connect() as conn_sql:
#     print(conn_sql.execute("SELECT * FROM grsdbrd.CR_Data").scalar())

In [3]:
regions_dict= {
    'Makka': ['مكة المكرمة', 'الجموم', 'جدة', 'بحرة'], 'Madinah':['المدينة المنورة'],
    'Riyadh': ['الرياض', 'المزاحمية', 'الدرعية', 'حريملاء','مرات', "القويعية", 'الخرج', 'الدلم', 'الزلفى', 'الغاط', 'المجمعه', 
                'جلاجل','حوطة سدير', 'روضة سدير', 'الرين', 'الافلاج', 'السليل', 'ضرماء', 'رماح', 'ثادق', 'عفيف', 'وادى الدواسر'],
    'Eastern': ['الدمام', 'الخبر', 'القطيف', 'الاحساء', 'الجبيل','النعيرية', 'ابقيق', 'راس تنوره', 'الخفجي',"حفر الباطن", "القيصومة"],
    'Qasim':['بريدة','رياض الخبراء','عنيزة','الرس','البكيرية','البدائع', 'البطين', 'الخبراء والسحابين', 'عيون الجواء', 'القوارة', 'الشماسية', 'المذنب', 'الاسياح'],
    "Hael":["حائل", 'بقعاء', 'الشنان', 'جبة', 'موقق', 'الشملي', 'الغزالة', 'الحائط', 'سميراء', 'السليمي'],
    "Tabuk": ['تبوك','الوجه', 'تيماء'],
    "Jawf": ['دومة الجندل', 'صوير', 'سكاكا', 'القريات', 'طبرجل', 'العيساوية'],
    "Northern Borders": ['رفحاء', 'عرعر', 'طريف']} # 'ضباء', 'حقل', 'الوجه', 'أملج', 'البدع', 'حقل', 'العيص', 'الحمادة', 


geoActions = {'البيانات الجيومكانية صحيحة':['الجيومكانية صحيحة', 'الجيومكانية صحيحه', 'الجيومكانيه صحيحه', 'جيومكانية صحيحة'],'تعديل بيانات وصفية':['بيانات وصفية', 'بيانات وصفيه', 'البيانات الوصفية', 'البيانات الوصفيه'], 'تعديل أبعاد الأرض':['أبعاد', 'ابعاد', 'تعديل أبعاد', 'تعديل ابعاد', 'تعديل الأبعاد', 'تعديل الابعاد'], 
                'تجزئة':['تجزئة','التجزئة'], 'دمج':['دمج', 'الدمج'], 'رفض':["يعاد", 'رفض', 'نقص','مرفوض',"مستندات", "ارفاق", "إرفاق", "غير صحيحة", "الارض المختارة غير صحيحة"]}

rejectionReasons = {'محضر الدمج/التجزئة':['محضر', 'المحضر', 'المحضر المطلوب', 'محضر اللجنة الفنية'], 
                    'إزدواجية صكوك': ['ازدواجية صكوك', 'إزدواجية صكوك', 'ازدواجيه', 'إزدواجيه صكوك'],
                    "خطأ في بيانات الصك'":['خطأ في بيانات الصك', 'خطأ في الصك'],
                    'صك الأرض':['صك الأرض', 'صك الارض', 'صك', 'الصك'], 
                    "إرفاق المؤشرات":["مؤشرات", "إرفاق كافه المؤشرات", "ارفاق كافة المؤشرات","ارفاق كافه المؤشرات"],
                    'طلب لوحدة عقارية':['طلب لوحدة عقارية', 'وحدة', 'وحده', 'وحده عقارية', 'وحدة عقاريه', 'عقارية'], 
                    'طلب مسجل مسبقاً':['سابق', 'مسبقا', 'مسبقاً', 'مسبق', 'طلب آخر', 'مكرر', 'طلب تسجيل اول مكرر'], 'إختيار خاطئ': ['اختيار خاطئ','المختارة غير صحيحة','إختيار خاطئ','المختارة غير صحيحه'],
                    "المخطط المعتمد":["المخطط", "مخطط"]}

def getGeoAction(df):
    
    if 'City Name' in df.columns:
        df['Region'] = ''
        for regionName, cities in regions_dict.items():
            df.loc[df["City Name"].isin(cities), 'Region'] = regionName
    
    # Ensure required columns exist
    if not {'Geo Supervisor Recommendation','GEO Recommendation'}.issubset(df.columns):
        return df

    df['GeoAction'] = ''
    df['Rejection'] = ''

    for i in range(len(df)):
        recomm = df.at[i, 'Geo Supervisor Recommendation']
        recomm2 = df.at[i, 'GEO Recommendation']

        # Normalize empty values
        if pd.isna(recomm) or recomm == '':
            recomm = recomm2
        if pd.isna(recomm) or recomm == '':
            df.at[i, 'GeoAction'] = 'No Action'
            continue

        text = str(recomm)

        action_found = False

        # -----------------------------------------------------
        # 1️⃣ FIRST: check all official actions from geoActions
        # -----------------------------------------------------
        for action, keywords in geoActions.items():
            if any(k in text for k in keywords):
                df.at[i, 'GeoAction'] = action
                action_found = True

                # If it is a rejection, also check reasons
                if action == 'رفض':
                    for reject, r_words in rejectionReasons.items():
                        if any(k in text for k in r_words):
                            df.at[i, 'Rejection'] = reject

                break  # stop scanning actions once matched

        # -----------------------------------------------------
        # 2️⃣ If no official action found, check “شطفة”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['شطفة', 'الشطفة', 'شطفه']):
                df.at[i, 'GeoAction'] = 'شطفة'
                continue

        # -----------------------------------------------------
        # 3️⃣ If still nothing, check “غرفة كهرباء”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['كهرب', 'غرف', 'غرفة كهرباء', 'غرفة الكهرباء', 'غرفة', 'الكهرباء']):
                df.at[i, 'GeoAction'] = 'غرفة كهرباء'
                continue

        # -----------------------------------------------------
        # 4️⃣ If still no match → No Action
        # -----------------------------------------------------
        if not action_found:
            df.at[i, 'GeoAction'] = 'No Action'

    return df

def calculate_sla(row, work_dates):
    trans_date = row[0]
    comp_date = row[1]
    try:
        period = int((comp_date - trans_date).days)
        
        sla = 0
        for i in range(period):
            current_date = trans_date + timedelta(days=i)
            if current_date in work_dates:
                sla += 1
            else:
                pass
        return int(sla)
    except:
        return None
    

def load_excel(filename):
    wb = openpyxl.load_workbook(filename, read_only=True)
    ws = wb['Sheet1']
    header_row_idx = None
    for i, row in enumerate(ws.iter_rows(max_col=2, max_row=10, values_only=True)):
        if row and 'Case Number' in row:
            header_row_idx = i
            break
    wb.close()
    if header_row_idx is not None:
        df = pd.read_excel(filename, sheet_name='Sheet1', skiprows=header_row_idx)
        return df
    else:
        raise ValueError(f"Header row with 'Case Number' not found in: {filename}")
    
def convert_to_date(df):
    dtimeFields = ['Case Date', 'Case Submission Date','Latest Action Date','Transferred to Geospatial','GEO Completion','GEO S Completion','Transferred to Ops', 'Attachment Added Date', "ListDate"]
    for field in dtimeFields:
        if field in df.columns:
            df[field] = pd.to_datetime(df[field]).dt.date
    return df

In [4]:
# editors = pd.read_excel(r"D:\Unclassified\GRS Evaluation System\2025 - 12\Supplementary Cases\Cases Per Editor_POD.xlsx", sheet_name='Sheet2')
editors = pd.read_sql("""SELECT * FROM evaluation."EditorsList" 
                        WHERE "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team',
                      'Support Team_Morning', 'Support Team_Night','RG-Cases') 
                        -- AND "SupervisorName" <> 'Ahmad ElFadil' """, engine_postgres2)
editors.head()

,EditorName,CasePortalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,Mohamed Ibrahim Hasabeldaeim Ali,Mohamed Hasabeldaeim,Mhasabeldaeim.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11
1,Assad Mohamed Ali Omer,Asaad Ali,AsaadMAli.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11
2,Muteb Salman Altaher,Muteb Altaher,Maltaher.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11
3,Abdul Rahman Ismail,Abdulrahman Ismail,aismail.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11
4,Ithar Shaker Al-Mudan,Ithar AlMudan,Ialmudan.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11

In [5]:
print(len(editors))

186

In [6]:
# editors = editors[editors["EditorName"]=='Mohammed Hamed']
editors["Required"] = 2
editorName = editors["CasePortalName"].unique().tolist()
editors.head()

,EditorName,CasePortalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate,Required
0,Mohamed Ibrahim Hasabeldaeim Ali,Mohamed Hasabeldaeim,Mhasabeldaeim.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11,2
1,Assad Mohamed Ali Omer,Asaad Ali,AsaadMAli.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11,2
2,Muteb Salman Altaher,Muteb Altaher,Maltaher.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11,2
3,Abdul Rahman Ismail,Abdulrahman Ismail,aismail.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11,2
4,Ithar Shaker Al-Mudan,Ithar AlMudan,Ialmudan.c,obakri.c,Osman Bakri,Editor Morning Shift,2026-01-11,2

In [7]:
sql = """SELECT * FROM grsdbrd."GeoCompletion" """
# sql += """WHERE "GEO S Completion" <= '2025-12-20' AND "Geo Supervisor" = 'Mohammed Hamed' """
completed = pd.read_sql(sql, engine_sqlserver)

In [8]:
completed = convert_to_date(completed)
completed = completed.sort_values(by="GEO S Completion", ascending=True)
print(len(completed))
completed = completed.drop_duplicates(subset="Case Number", keep='last')
print(len(completed))

716225
493591

In [9]:
current_cases = pd.read_sql("""SELECT * FROM grsdbrd."CurrentCases" """, engine_sqlserver)
evaluated_cases = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable" 
                              UNION 
                              SELECT "UniqueKey" FROM evaluation."CaseAssignment" """, engine_postgres2)
print(len(current_cases), current_cases["UploadDate"].unique())
evaluated_cases = evaluated_cases.drop_duplicates(subset="UniqueKey")
print(len(evaluated_cases))
# assigned_cases = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."" """, engine_postgres2)

146090 ['2026-01-15']
10401

In [10]:
import psycopg2
DB_SETTINGS = {
    # "dbname": "GSA",
    "dbname": "GRS",
    "user": "evalApp",
    "password": "app1234",
    # "host": "10.150.40.74",
    "host":"127.0.0.1",
    "port": "5432"
}
def get_connection():
    return psycopg2.connect(**DB_SETTINGS)

In [11]:
def check_unevaluateded_status():
    print("Checking Unevaluated Cases...")
    conn = get_connection()
    # Create SQLAlchemy engine for SQL Server via pyodbc
    engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
    # 1. Fetch all un-evaluated assignments
    
    current_df = pd.read_sql("""SELECT "Case Number" FROM grsdbrd."CurrentCases" """, engine_sqlserver)['Case Number'].dropna().unique().tolist()
    evaluated_df = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable"
                                UNION SELECT "UniqueKey" FROM evaluation."CaseAssignment" """, conn)["UniqueKey"].dropna().unique().tolist()
    current_cases = str(current_df).strip('[]') #','.join([current_df[:10]])
    evaluated_cases = str(evaluated_df).strip('[]')
    # print(current_df[:10])
    # print(current_cases)
    # print(evaluated_cases)
    query_assignments = f"""
        SELECT * FROM evaluation."CaseAssignment"
        WHERE "IsEvaluated" = FALSE AND "IsRetired" = FALSE AND "AssignmentDate" <> CURRENT_DATE
        AND "Case Number" IN ({current_cases})
        """
    # print(query_assignments)
    assignments = pd.read_sql(query_assignments, conn)
    print("****", len(assignments))
    if assignments.empty:
        print("All unevaluated cases are still valid")
        return  # Nothing to do
    
    # # print(f"There are {len(assignments)} un-evaluated cases to be updated")
    
    # # 2. Loop through each assignment and check if case exists in OpsData
    # # QtWidgets.QMessageBox.warning(None, "Unresolved Assignments", 
    # #         f"There are {len(assignments)} unresolved cases.")
    editors_names = str(assignments["EditorName"].dropna().unique().tolist()).strip('[]')
    geo_comp = pd.read_sql(f"""SELECT * FROM grsdbrd."GeoCompletion" WHERE "Geo Supervisor" IN ({editors_names}) """, engine_sqlserver)
    potential_replacements = geo_comp[(~geo_comp["Case Number"].isin(current_df)) & (~geo_comp["UniqueKey"].isin(evaluated_df))]
    potential_replacements = potential_replacements.sort_values(by="GEO S Completion", ascending=False)
    print(len(geo_comp), len(potential_replacements))
    # return potential_replacements
    for idx, row in assignments.head(2).iterrows():
        assign_id = row["AssignmentID"]
        case_id = row["UniqueKey"]
        editor = row["EditorName"]
        assigned_supervisor = row["AssignedSupervisor"]
        assignment_date = row["AssignmentDate"]
        geo_action = row["GeoAction"]
        print(f"Searching for replacement for {case_id}, {editor}, {geo_action}...")
        if geo_action=="رفض":
            action = [geo_action]
            action_query = f"""AND "GeoAction" = N'{geo_action}' """
        else:
            action = ['شطفة', 'تجزئة', 'غرفة كهرباء', 'تعديل أبعاد الأرض', 'تعديل بيانات وصفية', 'البيانات الجيومكانية صحيحة', 'دمج']
            action_query = """AND "GeoAction" NOT IN (N'رفض', N'No Action') """
    #     print(case_id, editor, assigned_supervisor, geo_action)
    #     replacement_query = f"""
    #         SELECT TOP 1 * FROM grsdbrd."GeoCompletion"
    #         WHERE "Geo Supervisor" = '{editor}'
    #         {action_query}
    #         AND "UniqueKey" NOT IN ({evaluated_cases})
    #         AND "Case Number" NOT IN ({current_cases})
    #         ORDER BY "GEO S Completion" DESC
    #     """
        replacement = potential_replacements[(potential_replacements["Geo Supervisor"]==editor) & (potential_replacements["GeoAction"].isin(action))]
    # #     print(f"_____{len(replacement)}")
        if not replacement.empty:
            replacement_case = replacement.iloc[0]
            replacement_case["REN"] = str(replacement_case["REN"])
            print(f"Replacement Case: {replacement_case["Case Number"]}, REN: {replacement_case["REN"]}, Date: {replacement_case["GEO S Completion"]}\n========================")

            update_query = """UPDATE evaluation."CaseAssignment"
                            SET "IsRetired" = TRUE
                                WHERE "AssignmentID" = %s """
            cols =  ["UniqueKey", "Case Number", "REN", "GEO S Completion", "Geo Supervisor", 
                        "Geo Supervisor Recommendation", "SupervisorName", "GroupID", "GeoAction", "Region"]
            values = replacement_case[cols].tolist() + [assigned_supervisor, assignment_date, "Replacement", case_id]
    #         print(len(values))
            insert_query = text(f"""
                    INSERT INTO evaluation."CaseAssignment"
                    ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation", 
                    "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate", "AssignmentType", "ReplacedCase")
                    VALUES ({values})
                """)
            print(f"Case: '{case_id}',  '{values[0]}'\nInsert Query: {insert_query}")
            cur = conn.cursor()
            cur.execute(update_query, [assign_id])
            cur.execute("""
                INSERT INTO evaluation."CaseAssignment"
                ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation", 
                "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate", "AssignmentType", "ReplacedCase")
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
            """, values)
            conn.commit()
            cur.close()
            # retired_assigments = assignments["AssignmentID"].dropna().tolist()
            update_query = f"""UPDATE evaluation."CaseAssignment"
                            SET "IsRetired" = TRUE
                            WHERE "AssignmentID" = '{assign_id}' """
            # '({str(retired_assigments).strip('[]')})
    # print(retired_assigments)
            print(f"Update Query:\n{update_query}")
    conn.close()
    engine_sqlserver.dispose()

In [34]:
# replacement = 
check_unevaluateded_status()

Checking Unevaluated Cases...

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_24972\1729000698.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  evaluated_df = pd.read_sql("""SELECT "UniqueKey" FROM evaluation."EvaluationTable"
C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_24972\1729000698.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  assignments = pd.read_sql(query_assignments, conn)

**** 22
63889 61029
Searching for replacement for FR20251224777_2026-01-06 18:54:57, Sanad Alshammari, رفض...
Replacement Case: FR2025957690, REN: 9115523611500000, Date: 2025-12-16
========================
Case: 'FR20251224777_2026-01-06 18:54:57',  'FR2025957690_2025-12-16 21:33:22'
Insert Query:
                    INSERT INTO evaluation."CaseAssignment"
                    ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation",
                    "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate", "AssignmentType", "ReplacedCase")
                    VALUES (['FR2025957690_2025-12-16 21:33:22', 'FR2025957690', '9115523611500000', datetime.date(2025, 12, 16), 'Sanad Alshammari', 'submit | يعاد إلى مدقق الطلبات‑الأرض المختارة غير صحيحة', 'Mohammed Barakat', 'Editor Night Shift', 'رفض', 'Eastern', 'Raseel Alharthi', datetime.date(2026, 1, 8), 'Replacement', 'FR20251224777_2026-01-06 18:54:57'])

Update Query:
UPDATE evaluation."CaseAssignment"
                            SET "IsRetired" = TRUE
                            WHERE "AssignmentID" = '13892'
Searching for replacement for FR20251030255_2026-01-07 21:46:31, Muhannad Alatrash, رفض...
Replacement Case: FR20251070251, REN: 8282021509400000, Date: 2026-01-14
========================
Case: 'FR20251030255_2026-01-07 21:46:31',  'FR20251070251_2026-01-14 19:47:49'
Insert Query:
                    INSERT INTO evaluation."CaseAssignment"
                    ("UniqueKey", "Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation",
                    "SupervisorName", "GroupID", "GeoAction", "Region", "AssignedSupervisor", "AssignmentDate", "AssignmentType", "ReplacedCase")
                    VALUES (['FR20251070251_2026-01-14 19:47:49', 'FR20251070251', '8282021509400000', datetime.date(2026, 1, 14), 'Muhannad Alatrash', 'submit | يعاد إلى مدقق الطلبات‑الأرض المختارة غير صحيحة', 'Musab AlSheikh', 'Editor Night Shift', 'رفض', 'Eastern', 'Fatimah Haddadi', datetime.date(2026, 1, 8), 'Replacement', 'FR20251030255_2026-01-07 21:46:31'])

Update Query:
UPDATE evaluation."CaseAssignment"
                            SET "IsRetired" = TRUE
                            WHERE "AssignmentID" = '13895'

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_24972\1729000698.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  replacement_case["REN"] = str(replacement_case["REN"])
C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_24972\1729000698.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  replacement_case["REN"] = str(replacement_case["REN"])

In [12]:
df_cases = completed[completed["Geo Supervisor"].isin(editors["CasePortalName"])]
df_cases = df_cases[(~df_cases["Case Number"].isin(current_cases["Case Number"])) & (~df_cases["UniqueKey"].isin(evaluated_cases["UniqueKey"]))]
counts = df_cases.groupby("Geo Supervisor").size().reset_index(name="Count")
print(len(df_cases), len(counts))
# counts

331049 186

In [13]:
counts.loc[counts["Count"].idxmin()]

Geo Supervisor    Fatimah Almarshed
Count                            23
Name: 69, dtype: object

In [14]:
df_cases.head(2)

,Case Number,Absolute Ownership,Duplicate Case,Generated Titles,Case Submission Date,Latest Action Date,Action,Assignee,Transferred to Geospatial,Return To Geo Team,...,Region,GeoAction,Rejection,SLA,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
103904,FR2024525164,None,NaN,NaN,2024-11-04,2025-02-24,CW Pool,None,2025-02-18,Yes,...,Eastern,تعديل بيانات وصفية,,0.0,None,None,None,None,None,NaT
103832,FR2024558542,None,NaN,NaN,2024-11-11,2025-02-24,CW Pool,None,2025-02-17,No,...,Eastern,تعديل أبعاد الأرض,,0.0,None,None,None,None,None,NaT

In [15]:

selected_rows = []

for _, row in editors.iterrows():
    editor = row["CasePortalName"]
    total_required = int(row["Required"])

    reject_needed = total_required // 2
    non_reject_needed = math.ceil(total_required / 2)

    editor_cases = (
        df_cases[df_cases["Geo Supervisor"] == editor]
        .sort_values("GEO S Completion", ascending=False)
    )

    reject_cases = editor_cases[editor_cases["GeoAction"] == "رفض"]
    non_reject_cases = editor_cases[~editor_cases["GeoAction"].isin(["رفض", "No Action"])]

    selected_reject = reject_cases.head(reject_needed)
    selected_non_reject = non_reject_cases.head(non_reject_needed)

    selected = pd.concat([selected_reject, selected_non_reject])

    # Optional: Top-up from remaining recent cases if shortage exists
    if len(selected) < total_required:
        remaining = total_required - len(selected)
        extra_cases = (
            editor_cases
            .drop(selected.index)
            .head(remaining)
        )
        selected = pd.concat([selected, extra_cases])

    selected_rows.append(selected)

df_selected = pd.concat(selected_rows, ignore_index=True)
print(len(df_selected))

372

In [16]:
# Organise the dataframe into case assignment table format
final_df = df_selected[["UniqueKey", "Case Number", "REN", "GEO S Completion", "Geo Supervisor", "Geo Supervisor Recommendation", "SupervisorName","GroupID", "GeoAction", "Region"]]
final_df = final_df.rename(columns={"GEO S Completion":"CompletionDate","Geo Supervisor":"EditorName", "Geo Supervisor Recommendation":"EditorRecommendation"})
final_df["AssignedSupervisor"] = ''
final_df["AssignmentDate"] = datetime.now().date()
final_df.head()

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate
0,FR20251025999_2026-01-14 14:18:11,FR20251025999,7115562634000000,2026-01-14,Mohamed Hasabeldaeim,submit | يعاد إلى مدقق الطلبات‑نقص في المستندا...,Osman Bakri,Editor Morning Shift,رفض,Riyadh,,2026-01-15
1,FR20251073659_2026-01-14 10:59:16,FR20251073659,7426683258300000,2026-01-14,Mohamed Hasabeldaeim,submit | تم تعديل البيانات الوصفية,Osman Bakri,Editor Morning Shift,تعديل بيانات وصفية,Makka,,2026-01-15
2,FR20251059689_2026-01-14 14:30:25,FR20251059689,4630115610800000,2026-01-14,Asaad Ali,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Osman Bakri,Editor Morning Shift,رفض,Eastern,,2026-01-15
3,FR20251055170_2026-01-14 11:16:56,FR20251055170,9309861635700000,2026-01-14,Asaad Ali,submit | تم الدمج‑الصك المتعدد وتعذر تضمين الق...,Osman Bakri,Editor Morning Shift,دمج,Eastern,,2026-01-15
4,FR20251075702_2026-01-14 14:58:25,FR20251075702,6012606176500000,2026-01-14,Muteb Altaher,submit | يعاد إلى مدقق الطلبات نقص في المستندا...,Osman Bakri,Editor Morning Shift,رفض,Riyadh,,2026-01-15

In [17]:
#### Shuffle the dataframe
final_df = (
    final_df
    .sample(frac=1, random_state=42)  # random_state optional (for reproducibility)
    .reset_index(drop=True)
)
final_df.head(10)

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate
0,FR2025918267_2026-01-15 00:00:17,FR2025918267,7069008444000000,2026-01-15,Mohammed Fadil,submit | تم التجزئة - تم المعالجة بناء على الم...,Anas Marzouk,Support Team_Night,تجزئة,Riyadh,,2026-01-15
1,FR20251054926_2026-01-14 10:57:07,FR20251054926,2643520167500000,2026-01-14,Sumayyh AlMuqayel,submit | تم التجزئة,Osman Bakri,Editor Morning Shift,تجزئة,Riyadh,,2026-01-15
2,FR20251096218_2026-01-14 13:33:26,FR20251096218,2470955393700000,2026-01-14,Waad AlOtaibi,submit | تم تعديل البيانات الوصفية,Osman Bakri,Editor Morning Shift,تعديل بيانات وصفية,Qasim,,2026-01-15
3,FR20251005050_2026-01-14 17:02:03,FR20251005050,4007091610600000,2026-01-14,Mohammed Barakat,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Musab AlSheikh,Support Team_Night,رفض,Eastern,,2026-01-15
4,FR20251019667_2026-01-14 11:26:37,FR20251019667,2630959118000000,2026-01-14,Husaam Shaaban,submit | تم تعديل الشطفة - تمت المعالجة بناءً ...,Shaden Alfuraihi,Editor Morning Shift,شطفة,Eastern,,2026-01-15
5,FR2025870812_2026-01-14 17:27:15,FR2025870812,2059249828900000,2026-01-14,Abdulrahman Alghamdi,submit | تم تعديل البيانات الوصفية - مع ملاح...,Khaled Abdulwahab,Editor Night Shift,تعديل بيانات وصفية,Makka,,2026-01-15
6,FR20251175333_2026-01-14 09:52:28,FR20251175333,3471847987500000,2026-01-14,Mohammed Saif,submit | يعاد إلى مدقق الطلبات‑نقص في المستندا...,Shaden Alfuraihi,Editor Morning Shift,رفض,Riyadh,,2026-01-15
7,FR20251050244_2026-01-14 10:22:45,FR20251050244,5324255272900000,2026-01-14,Aseel Hasnoon,submit | تمت المعالجة بناءً على الوثيقة المرفق...,Mosab Alsafi,Editor Morning Shift,شطفة,Madinah,,2026-01-15
8,FR20251068230_2026-01-13 19:38:57,FR20251068230,7431688860500000,2026-01-13,Amr Darwish,submit | تمت تجزئة القطع و ترقيمها بناء علي بي...,Musab AlSheikh,Editor Night Shift,تجزئة,Eastern,,2026-01-15
9,FR20251044841_2026-01-14 09:27:46,FR20251044841,7458814964000000,2026-01-14,Najla Alotaibi,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Mohamed Loay,Editor Morning Shift,رفض,Eastern,,2026-01-15

In [18]:
final_df.groupby(["EditorName", "GeoAction"]).size().reset_index(name="Count")

              EditorName           GeoAction  Count
0          AHMED Mahmmod  تعديل بيانات وصفية      1
1          AHMED Mahmmod                 رفض      1
2     Abdulaziz AlOtaibi  تعديل بيانات وصفية      1
3     Abdulaziz AlOtaibi                 رفض      1
4    Abdulaziz Alhegbani               تجزئة      1
..                   ...                 ...    ...
367        Waleed Hassan                 رفض      1
368    Wardah Alshahrani  تعديل بيانات وصفية      1
369    Wardah Alshahrani                 رفض      1
370        Wijdan AlAsab               تجزئة      1
371        Wijdan AlAsab                 رفض      1

[372 rows x 3 columns]

In [19]:
final_df["CompletionDate"].min(), final_df["CompletionDate"].max()

(datetime.date(2025, 8, 27), datetime.date(2026, 1, 15))

In [20]:
supervisors = pd.read_sql("""SELECT DISTINCT("SupervisorName") FROM evaluation."EditorsList" 
                         WHERE "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team',
                        'Support Team_Morning', 'Support Team_Night','RG-Cases')
                         AND "SupervisorName" IS NOT NULL """, engine_postgres2)["SupervisorName"].tolist()
# supervisors = supervisors[supervisors["SupervisorName"].isin(["Fatimah Almarshed",
# "Fatimah Haddadi",
# "Osman Bakri",
# "Raseel Alharthi"])]["SupervisorName"].tolist()
supervisors.remove('Mohammed Mustafa Al-Daly')
supervisors.remove('Ahmad ElFadil')
supervisors.remove('Mohammed Ibrahim Mohammed')
len(supervisors), supervisors

(8,
 ['Khaled Abdulwahab',
  'Mohamed Loay',
  'Shaden Alfuraihi',
  'Osman Bakri',
  'Mosab Alsafi',
  'Ahmad Ishag',
  'Musab AlSheikh',
  'Anas Marzouk'])

In [21]:
# Assign to supervisors
final_df["AssignedSupervisor"] = [
    supervisors[i % len(supervisors)]
    for i in range(len(final_df))
]

In [22]:
final_df.groupby("AssignedSupervisor").size()

AssignedSupervisor
Ahmad Ishag          46
Anas Marzouk         46
Khaled Abdulwahab    47
Mohamed Loay         47
Mosab Alsafi         46
Musab AlSheikh       46
Osman Bakri          47
Shaden Alfuraihi     47
dtype: int64

In [52]:
today = datetime.now().date()

assignment_days = [
    today,
    today + timedelta(days=1),
    today + timedelta(days=2)
]
assignment_days

[datetime.date(2026, 1, 11),
 datetime.date(2026, 1, 12),
 datetime.date(2026, 1, 13)]

In [22]:
final_df["AssignmentDate"] = pd.NaT

for supervisor, group in final_df.groupby("AssignedSupervisor"):
    idx = group.index.tolist()
    n = len(idx)
    # print(idx, n)

    final_df.loc[idx, "AssignmentDate"] = [
        assignment_days[i % 3] for i in range(n)
    ]

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_56952\347213859.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29), datetime.date(2025, 12, 30), datetime.date(2025, 12, 28), datetime.date(2025, 12, 29)]' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  final_df.loc[idx, "AssignmentDate"] = [

In [23]:
final_df.groupby(["AssignedSupervisor", "AssignmentDate"]).size()

AssignedSupervisor  AssignmentDate
Ahmad Ishag         2026-01-15        46
Anas Marzouk        2026-01-15        46
Khaled Abdulwahab   2026-01-15        47
Mohamed Loay        2026-01-15        47
Mosab Alsafi        2026-01-15        46
Musab AlSheikh      2026-01-15        46
Osman Bakri         2026-01-15        47
Shaden Alfuraihi    2026-01-15        47
dtype: int64

In [24]:
final_df["AssignmentType"] = 'Auto'
final_df

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate,AssignmentType
0,FR2025918267_2026-01-15 00:00:17,FR2025918267,7069008444000000,2026-01-15,Mohammed Fadil,submit | تم التجزئة - تم المعالجة بناء على الم...,Anas Marzouk,Support Team_Night,تجزئة,Riyadh,Khaled Abdulwahab,2026-01-15,Auto
1,FR20251054926_2026-01-14 10:57:07,FR20251054926,2643520167500000,2026-01-14,Sumayyh AlMuqayel,submit | تم التجزئة,Osman Bakri,Editor Morning Shift,تجزئة,Riyadh,Mohamed Loay,2026-01-15,Auto
2,FR20251096218_2026-01-14 13:33:26,FR20251096218,2470955393700000,2026-01-14,Waad AlOtaibi,submit | تم تعديل البيانات الوصفية,Osman Bakri,Editor Morning Shift,تعديل بيانات وصفية,Qasim,Shaden Alfuraihi,2026-01-15,Auto
3,FR20251005050_2026-01-14 17:02:03,FR20251005050,4007091610600000,2026-01-14,Mohammed Barakat,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Musab AlSheikh,Support Team_Night,رفض,Eastern,Osman Bakri,2026-01-15,Auto
4,FR20251019667_2026-01-14 11:26:37,FR20251019667,2630959118000000,2026-01-14,Husaam Shaaban,submit | تم تعديل الشطفة - تمت المعالجة بناءً ...,Shaden Alfuraihi,Editor Morning Shift,شطفة,Eastern,Mosab Alsafi,2026-01-15,Auto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,FR20251048046_2026-01-14 11:16:56,FR20251048046,5547791928200000,2026-01-14,Sara Mukhtar,submit | تم تعديل البيانات الوصفية - تم ترقيم...,Shaden Alfuraihi,Editor Morning Shift,تعديل بيانات وصفية,Eastern,Anas Marzouk,2026-01-15,Auto
368,FR20251067766_2026-01-14 15:17:53,FR20251067766,3930403637600000,2026-01-14,Bayan AlGhamdi,submit | يعاد إلى مدقق الطلبات‑نقص المستندات‑إ...,Mosab Alsafi,Editor Morning Shift,رفض,Riyadh,Khaled Abdulwahab,2026-01-15,Auto
369,FR20251061292_2026-01-14 18:29:10,FR20251061292,4571431093600000,2026-01-14,Abu Bakr Ali,submit | يعاد إلى مدقق الطلبات‑نقص المستندات‑إ...,Anas Marzouk,Editor Night Shift,رفض,Riyadh,Mohamed Loay,2026-01-15,Auto
370,FR2025782782_2026-01-14 14:29:10,FR2025782782,4480944415900000,2026-01-14,Abdullah Magdy,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Mohammed Mustafa Al-Daly,Pod-Al-Shuhada-1,رفض,Eastern,Shaden Alfuraihi,2026-01-15,Auto
371,FR20251054273_2026-01-13 11:32:58,FR20251054273,1471864971200000,2026-01-13,Ibrahim Abu Bashar,submit | تم ارفاق الارض الصحيحة ضمن المرفقات .,Mosab Alsafi,Editor Morning Shift,رفض,Eastern,Osman Bakri,2026-01-15,Auto

In [43]:
final_df.to_excel(r"D:\Unclassified\GRS Evaluation System\2025 - 12\Supplementary Cases\SupplementaryCases_POD.xlsx", index=False)

In [25]:
final_df.to_sql("CaseAssignment", engine_postgres2, schema='evaluation',if_exists='append',index=False)

372

In [26]:
final_df["UploadDate"] = datetime.now().date()
final_df.to_sql("OpsData", engine_postgres2, schema='evaluation',if_exists='append',index=False)

372