In [1]:
import pandas as pd
import openpyxl
from sqlalchemy import create_engine, text
from datetime import datetime, timedelta
import pyodbc
import urllib.parse

### Functions

In [2]:
regions_dict= {
    'Makka': ['مكة المكرمة', 'الجموم', 'جدة'], 'Madinah':['المدينة المنورة'],
    'Riyadh': ['الرياض', 'المزاحمية', 'الدرعية', 'حريملاء','مرات', "القويعية", 'الخرج', 'الدلم', 'الزلفى', 'الغاط', 'المجمعه', 
                'جلاجل','حوطة سدير', 'روضة سدير', 'الرين', 'الافلاج', 'السليل'],
    'Eastern': ['الدمام', 'الخبر', 'القطيف', 'الاحساء', 'الجبيل','النعيرية', 'ابقيق', 'راس تنوره', 'الخفجي',"حفر الباطن", "القيصومة"],
    'Qasim':['بريدة','رياض الخبراء','عنيزة','الرس','البكيرية','البدائع', 'البطين', 'الخبراء والسحابين', 'عيون الجواء', 'القوارة'],
    "Hael":["حائل"]}

geoActions = {'البيانات الجيومكانية صحيحة':['الجيومكانية صحيحة', 'الجيومكانية صحيحه', 'الجيومكانيه صحيحه', 'جيومكانية صحيحة'],'تعديل بيانات وصفية':['بيانات وصفية', 'بيانات وصفيه', 'البيانات الوصفية', 'البيانات الوصفيه'], 'تعديل أبعاد الأرض':['أبعاد', 'ابعاد', 'تعديل أبعاد', 'تعديل ابعاد', 'تعديل الأبعاد', 'تعديل الابعاد'], 
                'تجزئة':['تجزئة','التجزئة'], 'دمج':['دمج', 'الدمج'], 'رفض':["يعاد", 'رفض', 'نقص','مرفوض',"مستندات", "ارفاق", "إرفاق", "غير صحيحة", "الارض المختارة غير صحيحة"]}

rejectionReasons = {'محضر الدمج/التجزئة':['محضر', 'المحضر', 'المحضر المطلوب', 'محضر اللجنة الفنية'], 
                    'إزدواجية صكوك': ['ازدواجية صكوك', 'إزدواجية صكوك', 'ازدواجيه', 'إزدواجيه صكوك'],
                    "خطأ في بيانات الصك'":['خطأ في بيانات الصك', 'خطأ في الصك'],
                    'صك الأرض':['صك الأرض', 'صك الارض', 'صك', 'الصك'], 
                    "إرفاق المؤشرات":["مؤشرات", "إرفاق كافه المؤشرات", "ارفاق كافة المؤشرات","ارفاق كافه المؤشرات"],
                    'طلب لوحدة عقارية':['طلب لوحدة عقارية', 'وحدة', 'وحده', 'وحده عقارية', 'وحدة عقاريه', 'عقارية'], 
                    'طلب مسجل مسبقاً':['سابق', 'مسبقا', 'مسبقاً', 'مسبق', 'طلب آخر', 'مكرر', 'طلب تسجيل اول مكرر'], 'إختيار خاطئ': ['اختيار خاطئ','المختارة غير صحيحة','إختيار خاطئ','المختارة غير صحيحه'],
                    "المخطط المعتمد":["المخطط", "مخطط"]}

# 'شطفة':['شطفة','الشطفة', 'شطفه'], 'غرفة كهرباء':['كهرب', 'غرف'], 
# def getGeoAction(df):
#     if 'City Name' in df.columns:
#         df['Region'] = ''
#         for regionName in regions_dict.keys():
#             df.loc[df["City Name"].isin(regions_dict[regionName]),'Region'] = regionName
#     if 'Geo Supervisor Recommendation' in df.columns:
#         df['GeoAction'] = ''
#         df['Rejection'] = ''
#         for i in range(len(df)):
#             recomm = df['Geo Supervisor Recommendation'].values[i] 
#             recomm2 = df['GEO Recommendation'].values[i]
#             if pd.isna(recomm) or recomm == '' and recomm2 in [None, '']:
#                 df.at[i, 'GeoAction'] =  'No Action'
#             else:
#                 if recomm in [None, '']:
#                     recomm = recomm2
#                 for action in geoActions.keys():
#                     if any(j in recomm for j in geoActions[action]):
#                         df.at[i, 'GeoAction'] = action
#                         if action == 'رفض':
#                             for reject in rejectionReasons.keys():
#                                 if any(k in recomm for k in rejectionReasons[reject]):
#                                     df.at[i, 'Rejection'] = reject
#                     elif any(j in recomm for j in ['شطفة','الشطفة', 'شطفه']):
#                            df.at[i, 'GeoAction'] =  'شطفة'
#                     elif any(j in recomm for j in ['كهرب', 'غرف', 'غرفة كهرباء', 'غرفة الكهرباء', 'غرفة', 'الكهرباء']):
#                             df.at[i, 'GeoAction'] =  'غرفة كهرباء'

def getGeoAction(df):
    
    if 'City Name' in df.columns:
        df['Region'] = ''
        for regionName, cities in regions_dict.items():
            df.loc[df["City Name"].isin(cities), 'Region'] = regionName
    
    # Ensure required columns exist
    if not {'Geo Supervisor Recommendation','GEO Recommendation'}.issubset(df.columns):
        return df

    df['GeoAction'] = ''
    df['Rejection'] = ''

    for i in range(len(df)):
        recomm = df.at[i, 'Geo Supervisor Recommendation']
        recomm2 = df.at[i, 'GEO Recommendation']

        # Normalize empty values
        if pd.isna(recomm) or recomm == '':
            recomm = recomm2
        if pd.isna(recomm) or recomm == '':
            df.at[i, 'GeoAction'] = 'No Action'
            continue

        text = str(recomm)

        action_found = False

        # -----------------------------------------------------
        # 1️⃣ FIRST: check all official actions from geoActions
        # -----------------------------------------------------
        for action, keywords in geoActions.items():
            if any(k in text for k in keywords):
                df.at[i, 'GeoAction'] = action
                action_found = True

                # If it is a rejection, also check reasons
                if action == 'رفض':
                    for reject, r_words in rejectionReasons.items():
                        if any(k in text for k in r_words):
                            df.at[i, 'Rejection'] = reject

                break  # stop scanning actions once matched

        # -----------------------------------------------------
        # 2️⃣ If no official action found, check “شطفة”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['شطفة', 'الشطفة', 'شطفه']):
                df.at[i, 'GeoAction'] = 'شطفة'
                continue

        # -----------------------------------------------------
        # 3️⃣ If still nothing, check “غرفة كهرباء”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['كهرب', 'غرف', 'غرفة كهرباء', 'غرفة الكهرباء', 'غرفة', 'الكهرباء']):
                df.at[i, 'GeoAction'] = 'غرفة كهرباء'
                continue

        # -----------------------------------------------------
        # 4️⃣ If still no match → No Action
        # -----------------------------------------------------
        if not action_found:
            df.at[i, 'GeoAction'] = 'No Action'

    return df


def load_excel(filename):
    wb = openpyxl.load_workbook(filename, read_only=True)
    ws = wb['Sheet1']
    header_row_idx = None
    for i, row in enumerate(ws.iter_rows(max_col=2, max_row=10, values_only=True)):
        if row and 'Case Number' in row:
            header_row_idx = i
            break
    wb.close()
    if header_row_idx is not None:
        df = pd.read_excel(filename, sheet_name='Sheet1', skiprows=header_row_idx)
        return df
    else:
        raise ValueError(f"Header row with 'Case Number' not found in: {filename}")
    
def convert_to_date(df):
    dtimeFields = ['Case Date', 'Case Submission Date','Latest Action Date','Transferred to Geospatial','GEO Completion','GEO S Completion','Transferred to Ops', 'Attachment Added Date', "ListDate"]
    for field in dtimeFields:
        if field in df.columns:
            df[field] = pd.to_datetime(df[field]).dt.date
    return df

### DB Configurations

In [3]:
# Define config at the top of the file
AppDB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'LASCaseWorkerApp',
    "username": 'LASCaseWorker',
    "password": 'LASCaseWorker'
}

# Utility function to create a connection
def get_connection_Sql():
    return pyodbc.connect(
        f"DRIVER={{SQL Server}};"
        f"SERVER={AppDB_CONFIG['server']};"
        f"DATABASE={AppDB_CONFIG['database']};"
        f"UID={AppDB_CONFIG['username']};"
        f"PWD={AppDB_CONFIG['password']};"
    )

## Dashboard DB SQL
DashDB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'GRSDASHBOARD',
    "username": 'lasapp',
    "password": 'lasapp@LAS123'
}

# Build ODBC connection string from existing DB_CONFIG
odbc_params = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={DashDB_CONFIG['server']};"
    f"DATABASE={DashDB_CONFIG['database']};"
    f"UID={DashDB_CONFIG['username']};"
    f"PWD={DashDB_CONFIG['password']};"
)

DashPost = {
    "server":"127.0.0.1",
    "port": '5432',
    "database": "GSA",
    "username": "postgres",
    "password": "1234"
}
## Dashboard DB PostgreSQL
connection_str_post = f"postgresql://{DashPost['username']}:{DashPost['password']}@{DashPost['server']}:{DashPost['port']}/{DashPost['database']}"

In [4]:
odbc_connect_str = urllib.parse.quote_plus(odbc_params)
# Create SQLAlchemy engine for SQL Server via pyodbc
engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
engine_postgres = create_engine(connection_str_post)
tables = ['ApprovedCases', 'CR_Current', 'CR_Data', 'ClassificationData', 'CurrentCases', 'EditorsList', 'GeoData', 'GeoSCompletionData', 'HistoricalData', 'MG_Current', 'MG_Data', 'OpsData', 'RejectedCancelled', 'ReturnedCases', 'SR_Current', 'SR_Data', 'ST_EditorList', 'Ticketing', 'TransferToGeoData', 'Urgent', 'VIP',]

In [5]:
# # query_sql = """SELECT * FROM grsdbrd."{}" """
# query_post = """SELECT * FROM public."{}" """

def join_userlist(comp_df, editorlist):
    comp_df['GEO S Completion'] = pd.to_datetime(comp_df['GEO S Completion']).dt.normalize()
    editorlist = editorlist.rename({'CaseProtalName': 'Geo Supervisor'},axis=1)
    editorlist["ListDate"] = pd.to_datetime(editorlist["ListDate"]).dt.normalize()
    comp_df = comp_df.sort_values(by=["GEO S Completion", "Geo Supervisor"])
    editorlist = editorlist.sort_values(by=["ListDate", "Geo Supervisor"])
    comp_df = pd.merge_asof(comp_df, editorlist, by="Geo Supervisor", left_on="GEO S Completion", 
                            right_on="ListDate", direction='backward')
    comp_df['GEO S Completion'] = [pd.to_datetime(i).date() for i in comp_df['GEO S Completion']]
    comp_df['ListDate'] = [pd.to_datetime(i).date() for i in comp_df['ListDate']]
    return comp_df


# def generate_evaluation_sheet(engine, start_date, end_date):
#     query = query_post+ """WHERE "GEO S Completion" BETWEEN '{}' AND '{}' """
#     value = query.format(tables[7], str(start_date), str(end_date))
#     completed = convert_to_date(pd.read_sql(value, engine))
#     editorList = convert_to_date(pd.read_sql(query_post.format(tables[5]), engine_postgres))
#     completed = join_userlist(completed, editorList)
#     # completed = completed.dropna('Geo Supervisor Recommendation')
#     return completed[~completed['Geo Supervisor Recommendation'].str.contains('يعاد')]
# # end = datetime.now().date()
# end = pd.to_datetime('2025-09-15').date()
# start = end - timedelta(days=7)
# compCases = generate_evaluation_sheet(engine_postgres,start, end)

In [48]:
field_dict = {"Procedure": "", "Recommendation": "", "Topology": "", 
                      "Completeness": "", "BlockAlignment": ""}
null_fields = [i for i in field_dict][:2]
null_fields

['Procedure', 'Recommendation']

In [29]:
import os
ops = load_excel(r"\\10.150.40.49\las\Anas Alhares\NewTeam\E and C Final Folder 08092024\Case Editing and Classification\Editor Team\07-Raw Data\03-PBI Data\11-Nov\245-26-Nov 2025\Ops Data 26 Nov 2025.xlsx")
print(len(ops))
ops = ops.drop_duplicates(subset="Case Number")
print(len(ops))
ops = ops[(ops['Geo Supervisor'].notnull())& (ops['GEO S Completion'].notnull())].reset_index(drop=True)
print(len(ops))
ops["UniqueKey"] = [str(i) + '_' + str(pd.to_datetime(j).round('s'))  for i, j in zip(ops["Case Number"].values, ops["GEO S Completion"].values)]
ops["UploadDate"] = datetime.now().date()
ops["UploadedBy"] = os.getlogin()
ops = convert_to_date(ops)
ops = getGeoAction(ops)
ops.head()

75860
72664
32541

,Case Number,Absolute Ownership,Duplicate Case,Generated Titles,Case Submission Date,Latest Action Date,Action,Assignee,Transferred to Geospatial,Return To Geo Team,...,GEO,GEO Recommendation,Geo Supervisor,Geo Supervisor Recommendation,UniqueKey,UploadDate,UploadedBy,Region,GeoAction,Rejection
0,FR2024442533,NaN,0.0,0.0,2024-09-28,2025-11-02,CW Pool,NaN,2025-07-28,Yes,...,Wafi Noah,assignToGeoSupervisor | تجزئة,Hady Barakat,assignCaseWorker | تم ترقيم القطع حسب المفاهمة,FR2024442533_2025-07-29 11:57:18,2025-11-26,Aaltoum,Riyadh,No Action,
1,FR2024468501,NaN,NaN,NaN,2024-10-15,2025-11-25,QC Pool,NaN,2025-07-21,No,...,Wafi Noah,assignToGeoSupervisor | تعديل ابعاد الارض,Khaled Salah,assignCaseWorker | يعاد الي مدقق البيانات -الا...,FR2024468501_2025-08-27 07:12:58,2025-11-26,Aaltoum,Riyadh,رفض,
2,FR2024484673,Yes,0.0,0.0,2024-11-01,2025-10-09,CW Pool,NaN,2025-06-23,Yes,...,Wafi Noah,assignToGeoSupervisor | تعديل أبعاد الارض,Ghsoon Alsaggami,assignCaseWorker | يعاد الى مدقق البيانات ، ال...,FR2024484673_2025-07-03 09:30:48,2025-11-26,Aaltoum,Riyadh,رفض,طلب لوحدة عقارية
3,FR2024637712,NaN,1.0,0.0,2024-12-10,2025-11-23,CW Supervisor Claimed,Suliman Bin Jebreen,2024-12-11,No,...,Wafi Noah,submit | -,Hady Barakat,assignCaseWorker | الصك المتسخدم غير فعال لعدم...,FR2024637712_2024-12-15 14:46:10,2025-11-26,Aaltoum,Riyadh,No Action,
4,FR2024694252,NaN,0.0,0.0,2024-12-24,2025-11-02,CW Pool,NaN,2025-01-07,No,...,Abdullah alateer,assignToGeoSupervisor | تم تحديث البيانات الوصفية,Mohammed A Jaafar,assignCaseWorker | تم تحديث البيانات الوصفية,FR2024694252_2025-03-05 13:11:23,2025-11-26,Aaltoum,Eastern,تعديل بيانات وصفية,

In [30]:
ops[ops['GEO S Completion'].isna()][ops.columns[8:20]]

Empty DataFrame
Columns: [Transferred to Geospatial, Return To Geo Team, Count of Returns Cases , GEO Completion, GEO S Completion, Transferred to Ops, Case Status, REN, Boundary Length Deed, Boundary Length Parcel, MoJ Deed Number, Moj Real Estate Serial]
Index: []

In [31]:
editorlist = pd.read_sql("SELECT * FROM public.\"EditorsList\" ", engine_postgres)
editorlist = convert_to_date(editorlist)
# editorlist.head()

In [32]:
editorlist[editorlist["ListDate"]==pd.to_datetime('2025-11-18').date()]["GroupID"].unique()

array(['Editor Morning Shift', 'Urgent Team', 'COORDINATOR',
       'Pod-Al-Shuhada-1', 'Developers', 'Editor Night Shift', 'RG-Cases',
       'SAHAFA', 'Subsequent Team', 'Missing Parcel Team ', 'Null',
       'Pod-Al-Shuhada-2', 'PR-Cases', 'QC Team', 'REPORTER', 'RRM-Team',
       'Supervisor', 'TEAMLEADER', 'Ticket System', 'TRANING'],
      dtype=object)

In [33]:
editorlist[editorlist["GroupID"] == 'TEAMLEADER']

,EditorName,CaseProtalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
1568,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-09-27
1737,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-10-05
1920,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-10-06
2088,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-10-15
2104,Aiad Abbas Magboul Abbas,Aiad Magboul,AMagboul.c,Null,Null,TEAMLEADER,2025-10-15
2257,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-10-27
2425,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-10-30
2443,Aiad Abbas Magboul Abbas,Aiad Magboul,AMagboul.c,Null,Null,TEAMLEADER,2025-10-30
2596,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-11-04
2616,Aiad Abbas Magboul Abbas,Aiad Magboul,AMagboul.c,Null,Null,TEAMLEADER,2025-09-27
2617,Aiad Abbas Magboul Abbas,Aiad Magboul,AMagboul.c,Null,Null,TEAMLEADER,2025-10-05
2618,Aiad Abbas Magboul Abbas,Aiad Magboul,AMagboul.c,Null,Null,TEAMLEADER,2025-10-06
2619,Aiad Abbas Magboul Abbas,Aiad Magboul,AMagboul.c,Null,Null,TEAMLEADER,2025-10-27
2620,Aiad Abbas Magboul Abbas,Aiad Magboul,AMagboul.c,Null,Null,TEAMLEADER,2025-11-04
2788,Aiad Abbas Magboul Abbas,None,AMagboul.c,Null,Null,TEAMLEADER,2025-11-12
2789,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-11-12
2948,Aiad Abbas Magboul Abbas,None,AMagboul.c,Null,Null,TEAMLEADER,2025-11-18
2949,Anas Omar Alhares,None,aalhares.c,Null,Null,TEAMLEADER,2025-11-18

In [34]:
ops_joined = join_userlist(ops, editorlist)
ops_final = ops_joined[ops_joined["ListDate"].notna()]
print(len(ops_final), len(ops_joined))
ops_joined[ops_joined.columns[8:20]].head(20)

31342 32541

,Transferred to Geospatial,Return To Geo Team,Count of Returns Cases,GEO Completion,GEO S Completion,Transferred to Ops,Case Status,REN,Boundary Length Deed,Boundary Length Parcel,MoJ Deed Number,Moj Real Estate Serial
0,2024-12-11,No,1,2024-12-11,2024-12-15,2024-12-15,New,7679403042100000,112.05,108.500000,3.101240e+11,284378
1,2025-01-07,No,1,2025-03-04,2025-03-05,2025-03-05,New,7046830461300000,130.28,130.250000,6.306070e+11,1439505
2,2025-01-19,No,1,2025-04-14,2025-04-14,2025-04-14,New,2559050673200000,73.20,73.619995,4.302040e+11,2467926
3,2025-03-18,No,1,2025-04-14,2025-04-21,2025-04-21,New,7227619477300000,29.90,84.000000,2.600013e+11,3415665
4,2025-04-24,Yes,2,2025-04-27,2025-04-27,2025-04-27,New,9269088128900000,70.14,69.920006,7.302110e+11,4448506
5,2025-01-23,No,1,2025-04-22,2025-04-28,2025-04-28,New,6899719268300000,100.50,72.699997,3.302020e+11,2492724
6,2025-04-27,No,1,2025-04-28,2025-04-28,2025-04-28,New,8518271634900000,80.00,80.000000,3.101240e+11,2684009
7,2025-02-02,No,1,2025-04-14,2025-04-28,2025-04-28,New,1693814623100000,64.02,64.019997,9.606020e+11,6951136
8,2025-02-20,No,1,2025-04-15,2025-04-29,2025-04-29,New,2151114058300000,279.00,559.239929,9.625130e+11,1318490
9,2025-03-13,No,1,2025-04-10,2025-04-30,2025-04-30,New,9031133554300000,91.00,90.270004,9.301070e+11,4394564
10,2025-02-13,No,1,2025-04-11,2025-04-30,2025-04-30,New,6707539506900000,74.68,74.800003,3.984120e+11,389566
11,2025-02-09,No,1,2025-04-11,2025-05-01,2025-05-01,New,1624353194300000,70.14,70.630005,9.198670e+11,4224001
12,2025-02-10,No,1,2025-04-11,2025-05-01,2025-05-01,New,5028955731800000,70.14,69.829994,7.198830e+11,1434244
13,2025-02-11,No,1,2025-04-11,2025-05-01,2025-05-01,New,6992305745000000,70.14,70.639999,3.198920e+11,1434233
14,2025-02-06,No,1,2025-04-11,2025-05-01,2025-05-01,New,7398800827900000,73.26,73.760002,4.606010e+11,6920047
15,2025-02-09,No,1,2025-04-11,2025-05-01,2025-05-01,New,8340952997900000,292.90,292.479980,5.302110e+11,3179654
16,2025-02-10,No,1,2025-04-11,2025-05-04,2025-05-04,New,9904346975600000,73.16,73.160004,3.301030e+11,424209
17,2025-04-30,Yes,2,2025-05-02,2025-05-04,2025-05-04,New,6676253841800000,74.00,96.019997,9.985070e+11,3643648
18,2025-02-06,No,1,2025-04-09,2025-05-05,2025-05-05,New,7545158816700000,76.24,76.160004,5.302090e+11,1851608
19,2025-03-03,No,1,2025-04-13,2025-05-07,2025-05-07,New,4109142352600000,73.16,73.160004,6.606310e+11,6702746

In [35]:
engine_postgres2 = create_engine("postgresql://postgres:1234@localhost:5432/GRS")
ops_final.to_sql("OpsData", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

157

In [12]:
# geocomp = pd.read_sql("SELECT * FROM grsdbrd.\"GeoSCompletionData\" ", engine_sqlserver)
# geocomp = convert_to_date(geocomp)
# geocomp.head(5)

In [13]:
# completed = geocomp.copy()
# completed = getGeoAction(completed)
# # completed

In [14]:
# completed[["Geo Supervisor Recommendation", "GeoAction", "Rejection"]].values[30:60]

In [15]:
editorlist = pd.read_sql("SELECT * FROM public.\"EditorsList\" ", engine_postgres)
editorlist = convert_to_date(editorlist)
editorlist.tail()

,EditorName,CaseProtalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
3952,Talal AL-ghadhban,Talal AlGhadhban,TALGhadhban.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-10-27
3953,Talal AL-ghadhban,Talal AlGhadhban,TALGhadhban.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-10-30
3954,Talal AL-ghadhban,Talal AlGhadhban,TALGhadhban.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-11-12
3955,Talal AL-ghadhban,Talal AlGhadhban,TALGhadhban.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-11-18
3956,MOSAB ALSAFI,Mosab Alsafi,MAlsafi.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-09-04

In [16]:
# comp = join_userlist(completed, editorlist)
# comp.tail(20)

### Update GeoCompletion For Evaluation

In [17]:
engine_postgres2 = create_engine("postgresql://postgres:1234@localhost:5432/GRS")
# comp.to_sql("GeoCompletion", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

In [18]:
# new_comp = pd.read_sql("""SELECT * FROM grsdbrd."GeoSCompletionData"
#                        WHERE "UploadDate" = '2025-11-24' """, engine_sqlserver)

In [19]:
# editors = pd.read_sql("""SELECT * FROM public."EditorsList"
#                        WHERE "ListDate" = (SELECT MAX("ListDate") FROM public."EditorsList") """, engine_postgres)
# editors["ListDate"].unique()

In [12]:
editors

,EditorName,CaseProtalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,Abdullah alateer,None,aalateer.c,Null,Null,CORDINADOR,2025-11-12
1,Bader alotaibe,Null,balotaibe.c,Null,Null,CORDINADOR,2025-11-12
2,Fahad shamah,Null,fshamah.c,Null,Null,CORDINADOR,2025-11-12
3,Ftoon Bader Saad Alrawily,Null,falrawily.c,Null,Null,CORDINADOR,2025-11-12
4,Jalal Khan,Null,JKhan,imohammed.c,ISLAM,Developers,2025-11-12
...,...,...,...,...,...,...,...
256,Mahmoud Mamdoh,Mahmoud Mamdoh,mmamdoh.c,mhassan.c,Musab Hassan,Urgent Team -1,2025-11-12
257,Jasser Aljasser,Jasser Aljasser,Jaljasser.c,mhassan.c,Musab Hassan,Urgent Team -1,2025-11-12
258,Sarra Mohamed Elhassan Elsayed Mukhtar,Sara Mukhtar,smohamed.c,falmarshed.c,Fatimh almarshed,Editor Morning shift,2025-11-12
259,Walaa Yousef Ali,Walaa Ali,Wali.c,falmarshed.c,Fatimh almarshed,Editor Morning shift,2025-11-12
260,Mohamed Faisal Hussein Baday,Mohamed Baday,MBaday.c,falmarshed.c,Fatimh almarshed,Editor Morning shift,2025-11-12

In [19]:
new_comp = convert_to_date(new_comp)
new_comp = getGeoAction(new_comp)
comp_combined = join_userlist(new_comp, editors)

In [22]:
comp_combined[comp_combined.columns[-12:]]

,UniqueKey,UploadDate,UploadedBy,Region,GeoAction,Rejection,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,FR2025772929_2025-11-23 16:08:24,2025-11-24,MIbrahim.c,Riyadh,رفض,محضر الدمج/التجزئة,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
1,FR2025828003_2025-11-23 23:15:05,2025-11-24,MIbrahim.c,Eastern,تعديل بيانات وصفية,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
2,FR2025832839_2025-11-23 17:54:55,2025-11-24,MIbrahim.c,Riyadh,تعديل بيانات وصفية,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
3,FR2025858924_2025-11-23 17:05:57,2025-11-24,MIbrahim.c,Riyadh,دمج,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
4,FR2025893570_2025-11-23 19:55:06,2025-11-24,MIbrahim.c,Eastern,رفض,إختيار خاطئ,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...
3124,FR2025920222_2025-11-23 13:53:04,2025-11-24,MIbrahim.c,Qasim,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3125,FR2025920548_2025-11-23 14:06:14,2025-11-24,MIbrahim.c,Qasim,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3126,FR2025923144_2025-11-23 10:21:57,2025-11-24,MIbrahim.c,Makka,تجزئة,,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3127,FR2025927138_2025-11-23 09:02:13,2025-11-24,MIbrahim.c,Makka,تعديل بيانات وصفية,,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3128,FR2025930512_2025-11-23 13:16:24,2025-11-24,MIbrahim.c,Madinah,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18

In [25]:
engine_postgres2

Engine(postgresql://postgres:***@localhost:5432/GRS)

In [49]:
editorlist[editorlist["ListDate"]==editorlist["ListDate"].max()].to_sql("EditorsList", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

261