In [2]:
import pandas as pd
import openpyxl
from sqlalchemy import create_engine, text
from datetime import datetime, timedelta
import pyodbc
import urllib.parse

### Functions

In [3]:
regions_dict= {
    'Makka': ['مكة المكرمة', 'الجموم', 'جدة', 'بحرة'], 'Madinah':['المدينة المنورة'],
    'Riyadh': ['الرياض', 'المزاحمية', 'الدرعية', 'حريملاء','مرات', "القويعية", 'الخرج', 'الدلم', 'الزلفى', 'الغاط', 'المجمعه', 
                'جلاجل','حوطة سدير', 'روضة سدير', 'الرين', 'الافلاج', 'السليل', 'ضرماء', 'رماح', 'ثادق', 'عفيف', 'وادى الدواسر'],
    'Eastern': ['الدمام', 'الخبر', 'القطيف', 'الاحساء', 'الجبيل','النعيرية', 'ابقيق', 'راس تنوره', 'الخفجي',"حفر الباطن", "القيصومة"],
    'Qasim':['بريدة','رياض الخبراء','عنيزة','الرس','البكيرية','البدائع', 'البطين', 'الخبراء والسحابين', 'عيون الجواء', 'القوارة', 'الشماسية', 'المذنب', 'الاسياح'],
    "Hael":["حائل", 'بقعاء', 'الشنان', 'جبة', 'موقق', 'الشملي', 'الغزالة', 'الحائط', 'سميراء', 'السليمي'],
    "Tabuk": ['تبوك','الوجه', 'تيماء'],
    "Jawf": ['دومة الجندل', 'صوير', 'سكاكا', 'القريات', 'طبرجل', 'العيساوية'],
    "Northern Borders": ['رفحاء', 'عرعر', 'طريف']} # 'ضباء', 'حقل', 'الوجه', 'أملج', 'البدع', 'حقل', 'العيص', 'الحمادة', 


geoActions = {'البيانات الجيومكانية صحيحة':['الجيومكانية صحيحة', 'الجيومكانية صحيحه', 'الجيومكانيه صحيحه', 'جيومكانية صحيحة'],'تعديل بيانات وصفية':['بيانات وصفية', 'بيانات وصفيه', 'البيانات الوصفية', 'البيانات الوصفيه'], 'تعديل أبعاد الأرض':['أبعاد', 'ابعاد', 'تعديل أبعاد', 'تعديل ابعاد', 'تعديل الأبعاد', 'تعديل الابعاد'], 
                'تجزئة':['تجزئة','التجزئة'], 'دمج':['دمج', 'الدمج'], 'رفض':["يعاد", 'رفض', 'نقص','مرفوض',"مستندات", "ارفاق", "إرفاق", "غير صحيحة", "الارض المختارة غير صحيحة"]}

rejectionReasons = {'محضر الدمج/التجزئة':['محضر', 'المحضر', 'المحضر المطلوب', 'محضر اللجنة الفنية'], 
                    'إزدواجية صكوك': ['ازدواجية صكوك', 'إزدواجية صكوك', 'ازدواجيه', 'إزدواجيه صكوك'],
                    "خطأ في بيانات الصك'":['خطأ في بيانات الصك', 'خطأ في الصك'],
                    'صك الأرض':['صك الأرض', 'صك الارض', 'صك', 'الصك'], 
                    "إرفاق المؤشرات":["مؤشرات", "إرفاق كافه المؤشرات", "ارفاق كافة المؤشرات","ارفاق كافه المؤشرات"],
                    'طلب لوحدة عقارية':['طلب لوحدة عقارية', 'وحدة', 'وحده', 'وحده عقارية', 'وحدة عقاريه', 'عقارية'], 
                    'طلب مسجل مسبقاً':['سابق', 'مسبقا', 'مسبقاً', 'مسبق', 'طلب آخر', 'مكرر', 'طلب تسجيل اول مكرر'], 'إختيار خاطئ': ['اختيار خاطئ','المختارة غير صحيحة','إختيار خاطئ','المختارة غير صحيحه'],
                    "المخطط المعتمد":["المخطط", "مخطط"]}

def getGeoAction(df):
    
    if 'City Name' in df.columns:
        df['Region'] = ''
        for regionName, cities in regions_dict.items():
            df.loc[df["City Name"].isin(cities), 'Region'] = regionName
    
    # Ensure required columns exist
    if not {'Geo Supervisor Recommendation','GEO Recommendation'}.issubset(df.columns):
        return df

    df['GeoAction'] = ''
    df['Rejection'] = ''

    for i in range(len(df)):
        recomm = df.at[i, 'Geo Supervisor Recommendation']
        recomm2 = df.at[i, 'GEO Recommendation']

        # Normalize empty values
        if pd.isna(recomm) or recomm == '':
            recomm = recomm2
        if pd.isna(recomm) or recomm == '':
            df.at[i, 'GeoAction'] = 'No Action'
            continue

        text = str(recomm)

        action_found = False

        # -----------------------------------------------------
        # 1️⃣ FIRST: check all official actions from geoActions
        # -----------------------------------------------------
        for action, keywords in geoActions.items():
            if any(k in text for k in keywords):
                df.at[i, 'GeoAction'] = action
                action_found = True

                # If it is a rejection, also check reasons
                if action == 'رفض':
                    for reject, r_words in rejectionReasons.items():
                        if any(k in text for k in r_words):
                            df.at[i, 'Rejection'] = reject

                break  # stop scanning actions once matched

        # -----------------------------------------------------
        # 2️⃣ If no official action found, check “شطفة”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['شطفة', 'الشطفة', 'شطفه']):
                df.at[i, 'GeoAction'] = 'شطفة'
                continue

        # -----------------------------------------------------
        # 3️⃣ If still nothing, check “غرفة كهرباء”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['كهرب', 'غرف', 'غرفة كهرباء', 'غرفة الكهرباء', 'غرفة', 'الكهرباء']):
                df.at[i, 'GeoAction'] = 'غرفة كهرباء'
                continue

        # -----------------------------------------------------
        # 4️⃣ If still no match → No Action
        # -----------------------------------------------------
        if not action_found:
            df.at[i, 'GeoAction'] = 'No Action'

    return df

def calculate_sla(row, work_dates):
    trans_date = row[0]
    comp_date = row[1]
    try:
        period = int((comp_date - trans_date).days)
        
        sla = 0
        for i in range(period):
            current_date = trans_date + timedelta(days=i)
            if current_date in work_dates:
                sla += 1
            else:
                pass
        return int(sla)
    except:
        return None
    

def load_excel(filename):
    wb = openpyxl.load_workbook(filename, read_only=True)
    ws = wb['Sheet1']
    header_row_idx = None
    for i, row in enumerate(ws.iter_rows(max_col=2, max_row=10, values_only=True)):
        if row and 'Case Number' in row:
            header_row_idx = i
            break
    wb.close()
    if header_row_idx is not None:
        df = pd.read_excel(filename, sheet_name='Sheet1', skiprows=header_row_idx)
        return df
    else:
        raise ValueError(f"Header row with 'Case Number' not found in: {filename}")
    
def convert_to_date(df):
    dtimeFields = ['Case Date', 'Case Submission Date','Latest Action Date','Transferred to Geospatial','GEO Completion','GEO S Completion','Transferred to Ops', 'Attachment Added Date', "ListDate"]
    for field in dtimeFields:
        if field in df.columns:
            df[field] = pd.to_datetime(df[field]).dt.date
    return df

### DB Configurations

In [4]:
# Define config at the top of the file
AppDB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'LASCaseWorkerApp',
    "username": 'LASCaseWorker',
    "password": 'LASCaseWorker'
}

# Utility function to create a connection
def get_connection_Sql():
    return pyodbc.connect(
        f"DRIVER={{SQL Server}};"
        f"SERVER={AppDB_CONFIG['server']};"
        f"DATABASE={AppDB_CONFIG['database']};"
        f"UID={AppDB_CONFIG['username']};"
        f"PWD={AppDB_CONFIG['password']};"
    )

## Dashboard DB SQL
DashDB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'GRSDASHBOARD',
    "username": 'lasapp',
    "password": 'lasapp@LAS123'
}

# Build ODBC connection string from existing DB_CONFIG
odbc_params = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={DashDB_CONFIG['server']};"
    f"DATABASE={DashDB_CONFIG['database']};"
    f"UID={DashDB_CONFIG['username']};"
    f"PWD={DashDB_CONFIG['password']};"
)

DashPost = {
    "server":"127.0.0.1",
    "port": '5432',
    "database": "GSA",
    "username": "postgres",
    "password": "1234"
}
## Dashboard DB PostgreSQL
connection_str_post = f"postgresql://{DashPost['username']}:{DashPost['password']}@{DashPost['server']}:{DashPost['port']}/{DashPost['database']}"

In [5]:
odbc_connect_str = urllib.parse.quote_plus(odbc_params)
# Create SQLAlchemy engine for SQL Server via pyodbc
engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
engine_postgres = create_engine(connection_str_post)
engine_postgres2 = create_engine("postgresql://postgres:1234@localhost:5432/GRS")
tables = ['ApprovedCases', 'CR_Current', 'CR_Data', 'ClassificationData', 'CurrentCases', 'EditorsList', 'GeoData', 'GeoSCompletionData', 'HistoricalData', 'MG_Current', 'MG_Data', 'OpsData', 'RejectedCancelled', 'ReturnedCases', 'SR_Current', 'SR_Data', 'ST_EditorList', 'Ticketing', 'TransferToGeoData', 'Urgent', 'VIP',]

In [6]:
# # query_sql = """SELECT * FROM grsdbrd."{}" """
# query_post = """SELECT * FROM public."{}" """

def join_userlist(comp_df, editorlist):
    comp_df['GEO S Completion'] = pd.to_datetime(comp_df['GEO S Completion']).dt.normalize()
    editorlist = editorlist.rename({'CasePortalName': 'Geo Supervisor'},axis=1)
    editorlist["ListDate"] = pd.to_datetime(editorlist["ListDate"]).dt.normalize()
    comp_df = comp_df.sort_values(by=["GEO S Completion", "Geo Supervisor"])
    editorlist = editorlist.sort_values(by=["ListDate", "Geo Supervisor"])
    comp_df = pd.merge_asof(comp_df, editorlist, by="Geo Supervisor", left_on="GEO S Completion", 
                            right_on="ListDate", direction='backward')
    comp_df['GEO S Completion'] = [pd.to_datetime(i).date() for i in comp_df['GEO S Completion']]
    comp_df['ListDate'] = [pd.to_datetime(i).date() for i in comp_df['ListDate']]
    return comp_df


# def generate_evaluation_sheet(engine, start_date, end_date):
#     query = query_post+ """WHERE "GEO S Completion" BETWEEN '{}' AND '{}' """
#     value = query.format(tables[7], str(start_date), str(end_date))
#     completed = convert_to_date(pd.read_sql(value, engine))
#     editorList = convert_to_date(pd.read_sql(query_post.format(tables[5]), engine_postgres))
#     completed = join_userlist(completed, editorList)
#     # completed = completed.dropna('Geo Supervisor Recommendation')
#     return completed[~completed['Geo Supervisor Recommendation'].str.contains('يعاد')]
# # end = datetime.now().date()
# end = pd.to_datetime('2025-09-15').date()
# start = end - timedelta(days=7)
# compCases = generate_evaluation_sheet(engine_postgres,start, end)

In [6]:
#  def generate_daily_assignment(self):
#         self.check_unevaluateded_status()
#         try:
#             max_days = 360
#             day_back = 1
#             found_cases = False
#             engine = create_engine("postgresql://evalApp:app1234@10.150.40.74:5432/GRS")
#             # engine = create_engine("postgresql://evalApp:app1234@127.0.0.1:5432/GSA")
#             conn = get_connection()
#             active_editors = pd.read_sql("""SELECT DISTINCT("CasePortalName") FROM evaluation."EditorsList" 
#                                         WHERE "CasePortalName" IS NOT NULL
#                                         AND "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team')
#                                         """, conn)["CasePortalName"].tolist()
#             while day_back <= max_days:
#                 target_date = self.end_date.date().toPyDate() - timedelta(days=day_back)
#                 # print(f"Searching Cases on {target_date}")
#                     # Pull yesterday's cases
#                 sql = """
#                     SELECT *
#                     FROM evaluation."OpsData"
#                     WHERE "GEO S Completion"::date = %s
#                     AND "GeoAction" IS NOT NULL AND "GeoAction" <> 'No Action'
#                     AND "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team')
#                     AND "UniqueKey" NOT IN (
#                         SELECT "UniqueKey" FROM evaluation."EvaluationTable"
#                         UNION
#                         SELECT "UniqueKey" FROM evaluation."CaseAssignment"
#                     )
#                 """
#                 df = pd.read_sql(sql, conn, params=[target_date])

#                 if not df.empty:# or len(df["Geo Supervisor"].unique().tolist()) >= 20:
#                     found_cases = True
#                     break
#                 day_back += 1
#                 # print(f"No cases found on {target_date}. Searching back {day_back} days...")

#             if not found_cases:
#                 QtWidgets.QMessageBox.warning(None, "No Cases", 
#                     f"No valid cases found in the past {max_days} days.")
#                 return None, day_back-1

#             # Editors and Supervisors for assignment

#             supervisors = [i for i in current_supervisors]
#             excluded = ["Mahmoud Aboalmaged", "Moataz Ibrahim"] + [i for i in supervisors]
#             editors = [i for i in active_editors if not pd.isnull(i) and i not in excluded]
#             random.shuffle(supervisors)

#             assignments = []

#             # Create a list of all dates to search, starting with target_date
#             search_dates = [self.end_date.date().toPyDate() - timedelta(days=x) for x in range(1, max_days + 1)]
#             dates_back = []
#             for i, editor in enumerate(active_editors):
#                 # 1 — Get cases for this editor from the primary (target) date
#                 editor_cases = df[df["Geo Supervisor"] == editor]

#                 reject_case = editor_cases[editor_cases["GeoAction"] == 'رفض']
#                 edit_case = editor_cases[editor_cases["GeoAction"] != 'رفض']
#                 # print(f"==================================================\n Initial Df Editor: {editor} | Date: {target_date}\n{len(reject_case)}, {len(edit_case)}")
#                 # 2 — If missing categories → search older dates
#                 if reject_case.empty or edit_case.empty:

#                     for d in search_dates[1:]:  # skip target_date already checked
#                         # print(f"==================================================\n Searching for cases on {d}")
#                         if d not in dates_back:
#                             dates_back.append(d)
#                         sql_more = """
#                             SELECT *
#                             FROM evaluation."OpsData"
#                             WHERE "GEO S Completion"::date = %s
#                             AND "GeoAction" IS NOT NULL AND "GeoAction" <> 'No Action'
#                             AND "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team')
#                             AND "Geo Supervisor" = %s
#                             AND "UniqueKey" NOT IN (
#                                     SELECT "UniqueKey" FROM evaluation."EvaluationTable"
#                                     UNION
#                                     SELECT "UniqueKey" FROM evaluation."CaseAssignment"
#                             )
#                         """

#                         df_more = pd.read_sql(sql_more, conn, params=[d, editor])

#                         if df_more.empty:
#                             continue

#                         # append additional rows
#                         if reject_case.empty:
#                             reject_case = df_more[df_more["GeoAction"] == "رفض"]
#                             # reject_case = pd.concat([reject_case, df_more[df_more["GeoAction"] == "رفض"]])

#                         if edit_case.empty:
#                             edit_case = df_more[df_more["GeoAction"] != "رفض"]
#                             # edit_case = pd.concat([edit_case, df_more[df_more["GeoAction"] != "رفض"]])
#                         # print(editor,":", len(reject_case), "/ ", len(edit_case))
#                         # Stop searching if both categories found
#                         if not reject_case.empty and not edit_case.empty:
#                             break

#                 # 3 — Final selection  
#                 selected_rows = []

#                 if not reject_case.empty:
#                     selected_rows.append(reject_case.sample(1))

#                 if not edit_case.empty:
#                     selected_rows.append(edit_case.sample(1))

#                 # If editor has neither category even after searching 14 days → skip
#                 if not selected_rows:
#                     continue

#                 # 4 — Format & assign supervisor
#                 for row in selected_rows:
#                     row_dict = row.to_dict(orient="records")[0]
#                     row_dict['AssignedSupervisor'] = supervisors[i % len(supervisors)]
#                     row_dict['AssignmentDate'] = date.today()
#                     assignments.append(row_dict)
#             # if not assignments:
#             #     QtWidgets.QMessageBox.warning(None, "No Assignments", 
#             #         "No cases could be assigned today.")
#             #     return None, day_back-1

#             assign_df = pd.DataFrame(assignments)
#             assign_df = assign_df.drop_duplicates(subset=["UniqueKey"])
#             # Write to CaseAssignment
#             assign_df = assign_df[["UniqueKey","Case Number", "REN", "GEO S Completion", "Geo Supervisor", "Geo Supervisor Recommendation", "SupervisorName", "GroupID", "GeoAction",
#                     "Region", "AssignedSupervisor","AssignmentDate"]]
#             assign_df = assign_df.rename({"GEO S Completion":"CompletionDate", "Geo Supervisor":"EditorName", 
#                                         "Geo Supervisor Recommendation":"EditorRecommendation"}, axis=1)
#             assign_df[["UniqueKey","Case Number", "REN", "CompletionDate", "EditorName", "EditorRecommendation", "SupervisorName", "GroupID", "GeoAction",
#                     "Region", "AssignedSupervisor","AssignmentDate"]].to_sql("CaseAssignment", engine, schema='evaluation', if_exists="append", index=False)
            
#             days_searched = target_date - min(dates_back) if dates_back else timedelta(0)
#             return assign_df, day_back, days_searched.days
#         except Exception as e:
#             QtWidgets.QMessageBox.warning(None, "Error during case assignment", 
#                 f"{e}")
#         # return "",'',''

In [9]:
evaluationCases = pd.read_excel(r"D:\Unclassified\GRS Evaluation System\2025 - 12\Supplementary Cases\SupplementaryCases.xlsx", sheet_name='Sheet1')
evaluationCases['UploadDate'] = datetime.now().date()
print(len(evaluationCases))
evaluationCases.head()

913

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate,UploadDate
0,FR2025694168_2025-09-29 14:16:10,FR2025694168,8139978328900000,2025-09-29,Malik AlKhuthlan,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Fatimah Almarshed,Editor Morning Shift,رفض,Eastern,Osman Bakri,2025-12-28,2025-12-29
1,FR2025754247_2025-12-24 07:25:44,FR2025754247,1798847133800000,2025-12-24,Wadaa Alghamdi,submit | يعاد إلى مدقق الطلبات‑الأرض المختارة ...,Fatimah Haddadi,Editor Morning Shift,رفض,Riyadh,Mazin MohammedKhir,2025-12-28,2025-12-29
2,FR2025841399_2025-11-27 10:57:43,FR2025841399,6232654406100000,2025-11-27,Shurooq AlHarbi,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Reem Alotaibi,Editor Morning Shift,رفض,Makka,Mohammed Barakat,2025-12-28,2025-12-29
3,FR2025936424_2025-11-26 10:44:24,FR2025936424,2960586094900000,2025-11-26,Shurooq AlHarbi,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,Reem Alotaibi,Editor Morning Shift,رفض,Riyadh,Mustafa Alnmar,2025-12-28,2025-12-29
4,FR2025921125_2025-11-25 14:15:15,FR2025921125,5067290688500000,2025-11-25,Shurooq AlHarbi,submit | تم تعديل ابعاد الارض,Reem Alotaibi,Editor Morning Shift,تعديل أبعاد الأرض,Eastern,Shaden Alfuraihi,2025-12-28,2025-12-29

In [7]:
# engine_postgres2 = create_engine("postgresql://postgres:1234@localhost:5432/GRS")
# evaluationCases.to_sql("OpsData", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

In [12]:
import os
ops = load_excel(r"\\10.150.40.49\las\Anas Alhares\NewTeam\E and C Final Folder 08092024\Case Editing and Classification\Editor Team\07-Raw Data\03-PBI Data\12-Dec\267-28-Dec 2025\Ops Data 28 Dec 2025.xlsx")
print(len(ops))
ops = ops.drop_duplicates(subset="Case Number")
print(len(ops))
ops = ops[(ops['Geo Supervisor'].notnull())& (ops['GEO S Completion'].notnull())].reset_index(drop=True)
print(len(ops))
ops["UniqueKey"] = [str(i) + '_' + str(pd.to_datetime(j).round('s'))  for i, j in zip(ops["Case Number"].values, ops["GEO S Completion"].values)]
ops["UploadDate"] = datetime.now().date()
ops["UploadedBy"] = os.getlogin()
ops = convert_to_date(ops)
ops = getGeoAction(ops)
ops.head()

150002
147621
12122

,Case Number,Absolute Ownership,Duplicate Case,Generated Titles,Case Submission Date,Latest Action Date,Action,Assignee,Transferred to Geospatial,Return To Geo Team,...,GEO,GEO Recommendation,Geo Supervisor,Geo Supervisor Recommendation,UniqueKey,UploadDate,UploadedBy,Region,GeoAction,Rejection
0,FR20251000002,NaN,0.0,0.0,2025-11-23,2025-12-22,CW Pool,NaN,2025-11-25,No,...,Omar Jebrel,submit |,Abdullah AlHujailan,submit | مع ملاحظة بيانات وزارة العدل لم تنعكس...,FR20251000002_2025-12-22 20:57:25,2025-12-28,Aaltoum,Hael,شطفة,
1,FR20251000003,NaN,0.0,0.0,2025-11-23,2025-12-21,CW Pool,NaN,2025-11-24,No,...,Bader alotaibe,submit |,Mohammed Alshahrani,submit | يعاد إلى مدقق الطلبات‑نقص في المستندا...,FR20251000003_2025-12-21 11:35:02,2025-12-28,Aaltoum,Makka,رفض,صك الأرض
2,FR20251000005,NaN,0.0,0.0,2025-11-23,2025-12-25,CW Supervisor Pool,NaN,2025-11-24,No,...,Bader alotaibe,submit |,Mojahed Sayed,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,FR20251000005_2025-12-21 13:30:35,2025-12-28,Aaltoum,Riyadh,رفض,صك الأرض
3,FR20251000009,NaN,0.0,0.0,2025-11-23,2025-12-22,CW Pool,NaN,2025-11-24,No,...,Omar Jebrel,submit |,Samy Mohammed,submit | يعاد إلى مدقق الطلبات‑البيانات الجيوم...,FR20251000009_2025-12-22 19:33:24,2025-12-28,Aaltoum,Hael,البيانات الجيومكانية صحيحة,
4,FR20251000016,NaN,0.0,0.0,2025-11-23,2025-12-24,QC Pool,NaN,2025-11-26,No,...,Omar Jebrel,submit |,Amjad Alnajey,submit | يعاد إلى مدقق الطلبات‑الأرض المختارة ...,FR20251000016_2025-12-23 13:51:26,2025-12-28,Aaltoum,Eastern,رفض,إختيار خاطئ

In [7]:
# unassigned_editors = pd.read_sql("""
#     SELECT "CasePortalName" FROM evaluation."EditorsList"
# WHERE "GroupID" IN ('Editor Morning Shift', 'Editor Night Shift', 
# 		'Pod-Al-Shuhada-1', 'Pod-Al-Shuhada-2', 'Urgent Team')
# AND "CasePortalName" NOT IN (
# 	SELECT "EditorName" FROM evaluation."CaseAssignment"
# 	WHERE "AssignmentDate" = CURRENT_DATE
# )
# """, engine_postgres2)
# # unassigned_editors.head(20)

In [8]:
# editors_cases[editors_cases["Geo Supervisor"].isin(unassigned_editors["CasePortalName"])]

In [9]:
# ops[ops['GEO S Completion'].isna()][ops.columns[8:20]]

In [13]:
editorlist = pd.read_sql("SELECT * FROM public.\"EditorsList\" ", engine_postgres)
editorlist = convert_to_date(editorlist)
# editorlist.head()

In [14]:
ops_joined = join_userlist(ops, editorlist)
# ops_final = ops_joined[ops_joined["ListDate"].notna()]
# print(len(ops_final), len(ops_joined))
# ops_joined[ops_joined.columns[8:20]].head(20)

In [15]:
print(f"Count of Cases: {len(ops_joined):,} \nEarliest Completion Date: {ops_joined["GEO S Completion"].min()}")

Count of Cases: 12,122
Earliest Completion Date: 2025-04-30

In [ ]:
engine_postgres2 = create_engine("postgresql://postgres:1234@localhost:5432/GRS")
# ops_joined.to_sql("OpsData", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

242

In [ ]:
assignment = pd.read_sql("""SELECT "AssignedSupervisor", COUNT(*) FROM evaluation."CaseAssignment"
                         WHERE "AssignmentDate" = CURRENT_DATE
                         GROUP BY "AssignedSupervisor" """, engine_postgres2)
assignment

### Update GeoCompletion For Evaluation

In [7]:
# engine_postgres2 = create_engine("postgresql://postgres:1234@localhost:5432/GRS")
# last_update_post = pd.read_sql("SELECT MAX(\"UploadDate\") FROM public.\"GeoCompletion\" ", engine_postgres2).iloc[0,0]
last_update_sql = pd.read_sql("SELECT MAX(\"UploadDate\") FROM grsdbrd.\"GeoSCompletionData\" ", engine_sqlserver).iloc[0,0]
last_update_comp = pd.read_sql("SELECT MAX(\"UploadDate\") FROM grsdbrd.\"GeoCompletion\" ", engine_sqlserver).iloc[0,0]
print(last_update_sql,last_update_comp)

2026-01-08 2026-01-07

In [8]:
# geocomp = pd.read_sql(f"""SELECT * FROM grsdbrd."GeoSCompletionData" 
#                       WHERE "GEO S Completion" BETWEEN '2025-12-14' AND '2025-12-18' 
#                       AND "Geo Supervisor" = 'Moataz Ibrahim' """, engine_sqlserver)
# print(len(geocomp))
# geocomp.head()

In [9]:

geocomp = pd.read_sql(f"""SELECT * FROM grsdbrd."GeoSCompletionData" 
                       WHERE "UploadDate"> '{last_update_comp}' """, engine_sqlserver)
working_dates = pd.read_sql("""SELECT DISTINCT("GEO S Completion") FROM grsdbrd."GeoSCompletionData" 
                            UNION
                            SELECT DISTINCT("GEO S Completion") FROM grsdbrd."HistoricalData" """, engine_sqlserver)
working_dates = convert_to_date(working_dates)['GEO S Completion'].unique().tolist()
print(len(geocomp))
geocomp = convert_to_date(geocomp)
# geocomp["UploadDate"].unique()

3608

In [10]:
completed = geocomp.copy()
completed = getGeoAction(completed)
completed['SLA'] = completed[["Transferred to Geospatial", "GEO S Completion"]].apply(lambda row: calculate_sla(row, working_dates), axis=1)
# # completed

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_20276\3310136916.py:95: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  trans_date = row[0]
C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_20276\3310136916.py:96: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  comp_date = row[1]

In [11]:
# completed[completed.columns[-10:]].head()
completed["UploadDate"].unique()

array(['2026-01-08'], dtype=object)

In [12]:
editorlist = pd.read_sql("SELECT * FROM evaluation.\"EditorsList\" ", engine_postgres2)
editorlist = convert_to_date(editorlist)
editorlist.tail()

,EditorName,CasePortalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
262,Abdulelah Mipad Alotaibi,Abdulelah Alotaibi,AAlotaibi.c,aelfadil.c,Ahmad ElFadil,Editor Night Shift,2026-01-05
263,Abdulwahab Yahya Hazazi,Abdulwahab Hazazi,AHazazi.c,aelfadil.c,Ahmad ElFadil,Editor Night Shift,2026-01-05
264,Feras Alghorabe,Feras Alghorabe,FAlghorabe.c,aelfadil.c,Ahmad ElFadil,Editor Night Shift,2026-01-05
265,MOHAMED RAMADAN MOHAMED,Mohammed Mohammed,MRMohammed.c,aelfadil.c,Ahmad ElFadil,Editor Night Shift,2026-01-05
266,Montaha Zuhair Alnahari,Montaha Alnahari,MAlnahari.c,aelfadil.c,Ahmad ElFadil,Editor Night Shift,2026-01-05

In [13]:
comp = join_userlist(completed, editorlist)
comp[comp.columns[-15:]].head(10)

,Geo Supervisor,Geo Supervisor Recommendation,UniqueKey,UploadDate,UploadedBy,Region,GeoAction,Rejection,SLA,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,AHMED Mahmmod,submit | يعاد إلى مدقق الطلبات‑نقص في المستندا...,FR20251025534_2026-01-07 19:13:31,2026-01-08,Aaltoum,Riyadh,رفض,صك الأرض,26,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
1,AHMED Mahmmod,submit | تم تعديل البيانات الوصفية,FR20251031474_2026-01-07 22:07:57,2026-01-08,Aaltoum,Madinah,تعديل بيانات وصفية,,27,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
2,AHMED Mahmmod,submit | مع ملاحظة وجود اختلاف بين رقم القطعة ...,FR20251043330_2026-01-07 19:22:07,2026-01-08,Aaltoum,Riyadh,No Action,,25,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
3,AHMED Mahmmod,submit | يعاد إلى مدقق الطلبات‑نقص المستندات‑إ...,FR20251048013_2026-01-07 18:46:15,2026-01-08,Aaltoum,Riyadh,رفض,إرفاق المؤشرات,26,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
4,AHMED Mahmmod,submit | يعاد الى مدقق الطلبات – نقص مستندات –...,FR20251054321_2026-01-07 19:35:40,2026-01-08,Aaltoum,Riyadh,رفض,محضر الدمج/التجزئة,24,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
5,AHMED Mahmmod,submit | يعاد إلى مدقق الطلبات – نقص مستندات –...,FR20251060295_2026-01-07 19:32:48,2026-01-08,Aaltoum,Riyadh,رفض,المخطط المعتمد,23,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
6,AHMED Mahmmod,submit | الأرض المختارة غير صحيحة - عدم تطابق ...,FR20251067189_2026-01-07 21:46:31,2026-01-08,Aaltoum,Qasim,رفض,إختيار خاطئ,22,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
7,AHMED Mahmmod,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,FR20251088267_2026-01-07 19:42:11,2026-01-08,Aaltoum,Riyadh,رفض,صك الأرض,21,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
8,AHMED Mahmmod,submit | تم تعديل البيانات الوصفية,FR20251122825_2026-01-07 22:24:24,2026-01-08,Aaltoum,Eastern,تعديل بيانات وصفية,,18,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05
9,AHMED Mahmmod,submit | يعاد إلى مدقق الطلبات – نقص مستندات –...,FR20251144656_2026-01-07 22:51:53,2026-01-08,Aaltoum,Riyadh,رفض,المخطط المعتمد,15,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2026-01-05

In [14]:
print(len(comp))

3608

In [15]:
comp.to_sql("GeoCompletion", engine_sqlserver, schema='grsdbrd', if_exists="append", index=False)

-1

In [26]:
pod_df = pd.read_sql("""SELECT * FROM grsdbrd."GeoCompletion"
WHERE "GroupID" IN ('Pod-Al-Shuhada-1','Pod-Al-Shuhada-2')
AND [GEO S Completion] BETWEEN '2025-12-01' AND '2025-12-31'
-- GROUP BY [Geo Supervisor] """, engine_sqlserver)
pod_df = convert_to_date(pod_df)
len(pod_df)

1143

In [ ]:
# pod_df[["Case Number", "Transferred to Geospatial", "GEO S Completion", "Geo Supervisor", "Geo Supervisor Recommendation"]].to_excel(r"\\10.150.40.49\las\Mutaz\data\POD Cases - December2025.xlsx", index=False)

In [ ]:
editors=editorlist.rename(columns={"CasePortalName": "CaseProtalName"})
editors.head()

,EditorName,CaseProtalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,Nawaf Al-Harbi,Nawaf AlHarbi,Nharbi.c,MMohammedKhir.c,Mazin MohammedKhir,Editor Night Shift,2025-12-28
1,Ibrahim Abu Bashar,Ibrahim Abu Bashar,Ibashar.c,ralotaibi.c,Reem Alotaibi,Editor Morning Shift,2025-12-28
2,Khaled Abdulwahab,Khaled Abdulwahab,Kabdulwahab.c,oazab.c,Omar Azab,Editor Night Shift,2025-12-28
3,Othman Sager,Othman Sager,osager.c,obakri.c,Osman Bakri,Editor Morning Shift,2025-12-28
4,Abbas Omar Mohamed Ali,Abbas Ali,aali.c,tmqasem.c,TAHA,QC Team,2025-12-28

In [29]:
editors2 = pd.read_sql("""SELECT MAX("ListDate") FROM grsdbrd."EditorsList" """, engine_sqlserver).iloc[0,0]
editors1 = pd.read_sql(f"""SELECT DISTINCT("ListDate") FROM public."EditorsList" 
                       WHERE "ListDate" > '2025-11-18' """, engine_postgres).iloc[0,0]
editors1

'2025-12-09'

In [25]:
editors.to_sql("EditorsList", engine_postgres, schema='public', if_exists='append', index=False)

267

In [19]:
new_comp = convert_to_date(new_comp)
new_comp = getGeoAction(new_comp)
comp_combined = join_userlist(new_comp, editors)

In [52]:
def get_connection_Sql():
    return pyodbc.connect(
        f"DRIVER={{SQL Server}};"
        f"SERVER={AppDB_CONFIG['server']};"
        f"DATABASE={AppDB_CONFIG['database']};"
        f"UID={AppDB_CONFIG['username']};"
        f"PWD={AppDB_CONFIG['password']};"
    )

def fetch_finalstatus_counts():
    conn = get_connection_Sql()
    # conn=get_connection_liteanother()
    cursor = conn.cursor()
    cursor.execute("""SELECT "Case Number", "Case Submission Date", "Transferred to Geospatial", "FinalStatus", "Task_Classification" 
                   FROM RER_cases_PowerBI_sync WITH (NOLOCK)
                   WHERE FinalStatus <> 'Complete'""")
    results = cursor.fetchall()
    results = pd.DataFrame.from_records(results, columns=[column[0] for column in cursor.description])
    cursor.close()
    conn.close()
    return results  # List of tuples like [('Complete', 30), ...]

In [53]:
results = fetch_finalstatus_counts()
results

,Case Number,Case Submission Date,Transferred to Geospatial,FinalStatus,Task_Classification
0,FR20251037326,2025-11-30 11:20:44,2025-12-05 12:55:33.030,New,تعديل أبعاد الأرض
1,FR2025912464,2025-11-04 20:52:52,2025-12-28 12:19:47.173,New,None
2,FR2025913577,2025-11-05 08:25:17,2025-12-09 11:29:17.190,New,None
3,FR2025914016,2025-11-05 09:59:57,2025-12-04 08:58:54.143,New,Others
4,FR2025915053,2025-11-05 12:47:07,2025-12-16 20:02:11.233,New,تعديل أبعاد الأرض
...,...,...,...,...,...
141097,FR20251157677,2025-12-13 10:05:38,2025-12-24 16:42:04.843,New,None
141098,FR20251168965,2025-12-13 23:56:55,2025-12-24 15:30:19.647,New,None
141099,FR20251168977,2025-12-13 23:58:28,2025-12-25 03:55:22.323,New,None
141100,FR20251169048,2025-12-14 00:13:36,2025-12-24 19:02:45.763,New,None
141101,FR20251169052,2025-12-14 00:14:14,2025-12-25 04:02:50.393,New,None

In [22]:
comp_combined[comp_combined.columns[-12:]]

,UniqueKey,UploadDate,UploadedBy,Region,GeoAction,Rejection,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,FR2025772929_2025-11-23 16:08:24,2025-11-24,MIbrahim.c,Riyadh,رفض,محضر الدمج/التجزئة,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
1,FR2025828003_2025-11-23 23:15:05,2025-11-24,MIbrahim.c,Eastern,تعديل بيانات وصفية,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
2,FR2025832839_2025-11-23 17:54:55,2025-11-24,MIbrahim.c,Riyadh,تعديل بيانات وصفية,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
3,FR2025858924_2025-11-23 17:05:57,2025-11-24,MIbrahim.c,Riyadh,دمج,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
4,FR2025893570_2025-11-23 19:55:06,2025-11-24,MIbrahim.c,Eastern,رفض,إختيار خاطئ,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...
3124,FR2025920222_2025-11-23 13:53:04,2025-11-24,MIbrahim.c,Qasim,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3125,FR2025920548_2025-11-23 14:06:14,2025-11-24,MIbrahim.c,Qasim,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3126,FR2025923144_2025-11-23 10:21:57,2025-11-24,MIbrahim.c,Makka,تجزئة,,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3127,FR2025927138_2025-11-23 09:02:13,2025-11-24,MIbrahim.c,Makka,تعديل بيانات وصفية,,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3128,FR2025930512_2025-11-23 13:16:24,2025-11-24,MIbrahim.c,Madinah,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18

In [25]:
engine_postgres2

Engine(postgresql://postgres:***@localhost:5432/GRS)

In [36]:
evaluation = pd.read_sql("""SELECT "EditorName", COUNT("Case Number") AS "Count OF Cases" FROM evaluation."EvaluationTable" 
                         GROUP BY "EditorName" """, engine_postgres2)
evaluation.head()

        EditorName  Count OF Cases
0  Shurooq AlHarbi               4
1   Abdulaziz Faiz              10
2     Amr Alsanosy               8
3   Hisham Alshwei               6
4   Bayan AlGhamdi               7

In [37]:
evaluation.to_excel(r"D:\Unclassified\Eng. Anas\Evaluation Productivity - Breakdown by Editor.xlsx", index=False)

In [49]:
editorlist[editorlist["ListDate"]==editorlist["ListDate"].max()].to_sql("EditorsList", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

261

In [16]:
engine_postgres2 = create_engine("postgresql://postgres:1234@localhost:5432/GRS")

In [ ]:
tables = pd.read_sql("""SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'evaluation'""", engine_postgres2)["table_name"].tolist()b
tables

['EvaluationTable',
 'CaseAssignment',
 'Regions',
 'SupervisorReplacements',
 'Administrator',
 'OpsData',
 'EditorsList']

In [25]:
editorlist.to_excel(r"D:\Unclassified\DB Tables\Evaluation\EditorsList_all.xlsx", index=False)

In [26]:
for table in tables:
    df = pd.read_sql(f"""SELECT * FROM evaluation."{table}" """, engine_postgres2)
    df.to_excel(r"D:\Unclassified\DB Tables\Evaluation"+f"/{table}.xlsx", index=False)

### Assign Cases to Supervisor:

In [50]:
active_editors = ['Ibrahim Abu Bashar', 'Khaled Abdulwahab', 'Othman Sager', 'Abdulaziz Alhegbani', 'Abdulaziz Faiz', 'Abdulbaqi Hamed', 'Abdullah AlHujailan', 
                  'Abdulmalik Alzahrani', 'Afnan Alhumaidy', 'Afnan Mohammed', 'Ahad AlZahrani', 'Ahmad Ishag', 'Ahmed Dafaaldeen', 'Ahmed Alghamdi', 'Alanood Alghamdi', 
                  'Alhanouf Almarzouq', 'Ali Nasser', 'Alsiddig Hassballa', 'Amal Altalhi', 'Amjad Alamri', 'Amr Alsanosy', 'Anwar Aljarallah', 'Aseel Hasnoon', 'Asmaa Alanazi', 
                  'Asaad Ali', 'Atiyaf AlJadani', 'Dyaeldin Mahmoud', 'Fahad AlRuwis', 'Fala Alharbi', 'Faris Alshibani', 'Fayez Khalfa', 'Ghufran AlJabri', 'Hamad Alrashidi', 
                  'Hany Mansour', 'Husaam Shaaban', 'Ibrahim Alghamdi', 'Ithar AlMudan', 'Jasser Aljasser', 'Jawaher AlSultan', 'Khaled AlSharif', 'Lamya Mohammed', 'Latifa AlRasheed', 
                  'Maha Alzahrani', 'Majed AlHassan', 'Mohamed Baday', 'Mohamed Hasabeldaeim', 'Mohammed Yousef Mohammed', 'Mohammad Ramdhan', 'Mohammed Akthum', 'Mohammed Alfathel', 
                  'Mohammed Badawi', 'Mohammed Alburayk', 'Mohammed alddin', 'Mohammed Hamed', 'Mohammed Sheikh', 'Mosaab Mohamed', 'Muhanad Mansur', 'Musab AlSheikh', 'Mustafa Hasab', 
                  'Muteb Altaher', 'Najah Almuteri', 'Najla Alotaibi', 'Nawaf Alrayyani', 'Nouf Albalawi', 'Noura AlDosari', 'Omar Azab', 'Omar Hamid', 'Omar Salah', 'Omer Mohammed', 
                  'Osama Mohamed', 'Osama Ali', 'Rahaf AlZaylai', 'Rakan Alzaila', 'Rana Alghufaili', 'Rana AlSheikh', 'Razan AlMuqayel', 'Refal Alharbi', 'Rehab Alghamdi', 'Renad Alkaak', 
                  'Rowa Alsadig', 'Safa Alnoor', 'Saleh AlMorqi', 'Samer Mohammed', 'Shurooq AlHarbi', 'Sultan Almutairi', 'Wadaa Alghamdi', 'Walaa Ali', 'Waleed Hassan', 'Wardah Alshahrani', 
                  'Abdulaziz Almutlaq', 'Abdulhafeez Mohammed', 'Abdullah AlMalki', 'Abdulrahman AlMubarak', 'Ammar Kamal', 'Suhaib AlSharif', 'Mohammed Mahgoub', 'Mohammed Mukhtar', 
                  'Musab AlAmin', 'Muslim Almjfel', 'Obada AlMousa']

In [32]:
supervisors = pd.read_sql("""SELECT DISTINCT("SupervisorName") FROM evaluation."EditorsList" 
                          WHERE "GroupID" IN ('Editor Morning Shift','Editor Night Shift','Pod-Al-Shuhada-1','Pod-Al-Shuhada-2','Urgent Team'
                ) """, engine_postgres2)["SupervisorName"].tolist()
supervisors

['Osman Bakri',
 'Mazin MohammedKhir',
 'Mohammed Barakat',
 'Mustafa Alnmar',
 'Musab Hassan',
 'Shaden Alfuraihi',
 'Ahmad ElFadil',
 'Reem Alotaibi',
 'Mohammed Ibrahim Mohammed',
 'Raseel Alharthi',
 'Fatimah Almarshed',
 'Mohammed Mustafa Al-Daly',
 'Mohammed Fadil',
 'Fatimah Haddadi']

In [33]:
supervisors.remove('Mohammed Mustafa Al-Daly')
supervisors.remove('Musab Hassan')
supervisors

['Osman Bakri',
 'Mazin MohammedKhir',
 'Mohammed Barakat',
 'Mustafa Alnmar',
 'Shaden Alfuraihi',
 'Ahmad ElFadil',
 'Reem Alotaibi',
 'Mohammed Ibrahim Mohammed',
 'Raseel Alharthi',
 'Fatimah Almarshed',
 'Mohammed Fadil',
 'Fatimah Haddadi']

In [34]:
len(supervisors)

12

In [52]:
cases = pd.read_sql(f"""SELECT *
        FROM evaluation."OpsData"
        WHERE "GeoAction" <> 'No Action'
        -- AND "GroupID" IN ('Editor Morning Shift','Editor Night Shift','Pod-Al-Shuhada-1','Pod-Al-Shuhada-2','Urgent Team')
        AND "Geo Supervisor" IN ({str(active_editors).strip('[]')})         
        AND "UniqueKey" NOT IN (
            SELECT "UniqueKey" FROM evaluation."EvaluationTable"
            UNION
            SELECT "UniqueKey" FROM evaluation."CaseAssignment"
        )
        -- AND "GEO S Completion" >= CURRENT_DATE - INTERVAL '180 days'
        """, engine_postgres2)
cases = cases.sort_values(by="GEO S Completion", ascending=False)
cases.head()

,Case Number,Absolute Ownership,Duplicate Case,Generated Titles,Case Submission Date,Latest Action Date,Action,Assignee,Transferred to Geospatial,Return To Geo Team,...,UploadedBy,Region,GeoAction,Rejection,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,FR2025101945,None,0.0,0.0,2025-08-26,2025-12-16,CW Pool,None,2025-11-05,Yes,...,MIbrahim.c,Qasim,دمج,,Mohamed Youssef,MYMohammed.c,mhassan.c,Musab Hassan,Urgent Team -1,2025-11-04

In [53]:
for i in active_editors:
   case = cases[cases["Geo Supervisor"]==i]
   if len(case) > 0:
      print(i, f"has {len(case)} cases")

Mohammed Yousef Mohammed has 1 cases

In [54]:
# ===============================
# ASSIGNMENT LOGIC
# ===============================
assignments = []
supervisor_index = 0
for editor in active_editors:
    editor_cases = cases[cases["Geo Supervisor"] == editor]
    print(f"Processing editor: {editor} with {len(editor_cases)} cases")

    reject_cases = editor_cases[editor_cases["GeoAction"] == "رفض"]
    edit_cases   = editor_cases[editor_cases["GeoAction"] != "رفض"]

    # Search back if missing category
    if reject_cases.empty or edit_cases.empty:
        for d in range(1, 180 + 1):
            target_date = datetime.now().date() - timedelta(days=d)

            df_more = cases[
                (cases["Geo Supervisor"] == editor) &
                (cases["GEO S Completion"] == target_date)
            ]

            if reject_cases.empty:
                reject_cases = df_more[df_more["GeoAction"] == "رفض"]

            if edit_cases.empty:
                edit_cases = df_more[df_more["GeoAction"] != "رفض"]

            if not reject_cases.empty and not edit_cases.empty:
                break

    selected = []

    if not reject_cases.empty:
        selected.append(reject_cases.sample(1))

    if not edit_cases.empty:
        selected.append(edit_cases.sample(1))

    if not selected:
        continue

    for row_df in selected:
        row = row_df.iloc[0].to_dict()
        assigned_supervisor = supervisors[supervisor_index % len(supervisors)]
        supervisor_index += 1

        assignments.append({
            "UniqueKey": row["UniqueKey"],
            "Case Number": row["Case Number"],
            "REN": row["REN"],
            "CompletionDate": row["GEO S Completion"],
            "EditorName": row["Geo Supervisor"],
            "EditorRecommendation": row["Geo Supervisor Recommendation"],
            "SupervisorName": row["SupervisorName"],
            "GroupID": row["GroupID"],
            "GeoAction": row["GeoAction"],
            "Region": row["Region"],
            "AssignedSupervisor": assigned_supervisor,
            "AssignmentDate": datetime.now().date()
        })

Processing editor: Ibrahim Abu Bashar with 0 cases
Processing editor: Khaled Abdulwahab with 0 cases
Processing editor: Othman Sager with 0 cases
Processing editor: Abdulaziz Alhegbani with 0 cases
Processing editor: Abdulaziz Faiz with 0 cases
Processing editor: Abdulbaqi Hamed with 0 cases
Processing editor: Abdullah AlHujailan with 0 cases
Processing editor: Abdulmalik Alzahrani with 0 cases
Processing editor: Afnan Alhumaidy with 0 cases
Processing editor: Afnan Mohammed with 0 cases
Processing editor: Ahad AlZahrani with 0 cases
Processing editor: Ahmad Ishag with 0 cases
Processing editor: Ahmed Dafaaldeen with 0 cases
Processing editor: Ahmed Alghamdi with 0 cases
Processing editor: Alanood Alghamdi with 0 cases
Processing editor: Alhanouf Almarzouq with 0 cases
Processing editor: Ali Nasser with 0 cases
Processing editor: Alsiddig Hassballa with 0 cases
Processing editor: Amal Altalhi with 0 cases
Processing editor: Amjad Alamri with 0 cases
Processing editor: Amr Alsanosy with 0 cases
Processing editor: Anwar Aljarallah with 0 cases
Processing editor: Aseel Hasnoon with 0 cases
Processing editor: Asmaa Alanazi with 0 cases
Processing editor: Asaad Ali with 0 cases
Processing editor: Atiyaf AlJadani with 0 cases
Processing editor: Dyaeldin Mahmoud with 0 cases
Processing editor: Fahad AlRuwis with 0 cases
Processing editor: Fala Alharbi with 0 cases
Processing editor: Faris Alshibani with 0 cases
Processing editor: Fayez Khalfa with 0 cases
Processing editor: Ghufran AlJabri with 0 cases
Processing editor: Hamad Alrashidi with 0 cases
Processing editor: Hany Mansour with 0 cases
Processing editor: Husaam Shaaban with 0 cases
Processing editor: Ibrahim Alghamdi with 0 cases
Processing editor: Ithar AlMudan with 0 cases
Processing editor: Jasser Aljasser with 0 cases
Processing editor: Jawaher AlSultan with 0 cases
Processing editor: Khaled AlSharif with 0 cases
Processing editor: Lamya Mohammed with 0 cases
Processing editor: Latifa AlRasheed with 0 cases
Processing editor: Maha Alzahrani with 0 cases
Processing editor: Majed AlHassan with 0 cases
Processing editor: Mohamed Baday with 0 cases
Processing editor: Mohamed Hasabeldaeim with 0 cases
Processing editor: Mohammed Yousef Mohammed with 1 cases
Processing editor: Mohammad Ramdhan with 0 cases
Processing editor: Mohammed Akthum with 0 cases
Processing editor: Mohammed Alfathel with 0 cases
Processing editor: Mohammed Badawi with 0 cases
Processing editor: Mohammed Alburayk with 0 cases
Processing editor: Mohammed alddin with 0 cases
Processing editor: Mohammed Hamed with 0 cases
Processing editor: Mohammed Sheikh with 0 cases
Processing editor: Mosaab Mohamed with 0 cases
Processing editor: Muhanad Mansur with 0 cases
Processing editor: Musab AlSheikh with 0 cases
Processing editor: Mustafa Hasab with 0 cases
Processing editor: Muteb Altaher with 0 cases
Processing editor: Najah Almuteri with 0 cases
Processing editor: Najla Alotaibi with 0 cases
Processing editor: Nawaf Alrayyani with 0 cases
Processing editor: Nouf Albalawi with 0 cases
Processing editor: Noura AlDosari with 0 cases
Processing editor: Omar Azab with 0 cases
Processing editor: Omar Hamid with 0 cases
Processing editor: Omar Salah with 0 cases
Processing editor: Omer Mohammed with 0 cases
Processing editor: Osama Mohamed with 0 cases
Processing editor: Osama Ali with 0 cases
Processing editor: Rahaf AlZaylai with 0 cases
Processing editor: Rakan Alzaila with 0 cases
Processing editor: Rana Alghufaili with 0 cases
Processing editor: Rana AlSheikh with 0 cases
Processing editor: Razan AlMuqayel with 0 cases
Processing editor: Refal Alharbi with 0 cases
Processing editor: Rehab Alghamdi with 0 cases
Processing editor: Renad Alkaak with 0 cases
Processing editor: Rowa Alsadig with 0 cases
Processing editor: Safa Alnoor with 0 cases
Processing editor: Saleh AlMorqi with 0 cases
Processing editor: Samer Mohammed with 0 cases
Processing editor: Shurooq AlHarbi with 0 cases
Processing editor: Sultan Almutairi with 0 cases
Processing editor: Wadaa Alghamdi with 0 cases
Processing editor: Walaa Ali with 0 cases
Processing editor: Waleed Hassan with 0 cases
Processing editor: Wardah Alshahrani with 0 cases
Processing editor: Abdulaziz Almutlaq with 0 cases
Processing editor: Abdulhafeez Mohammed with 0 cases
Processing editor: Abdullah AlMalki with 0 cases
Processing editor: Abdulrahman AlMubarak with 0 cases
Processing editor: Ammar Kamal with 0 cases
Processing editor: Suhaib AlSharif with 0 cases
Processing editor: Mohammed Mahgoub with 0 cases
Processing editor: Mohammed Mukhtar with 0 cases
Processing editor: Musab AlAmin with 0 cases
Processing editor: Muslim Almjfel with 0 cases
Processing editor: Obada AlMousa with 0 cases

In [57]:
assign_df = pd.DataFrame(assignments)
assign_df.head()
# assign_df.groupby("EditorName").size()
# assign_df

,UniqueKey,Case Number,REN,CompletionDate,EditorName,EditorRecommendation,SupervisorName,GroupID,GeoAction,Region,AssignedSupervisor,AssignmentDate
0,FR2025101945_2025-11-06 11:48:35,FR2025101945,5877986446100000,2025-11-06,Mohammed Yousef Mohammed,submit | يعاد الى مدقق الطلبات – نقص مستندات –...,Musab Hassan,Urgent Team -1,دمج,Qasim,Osman Bakri,2025-12-21

### Case Count (Overtime Vs Normal hours)

In [16]:
geo_Comp = pd.read_sql("""SELECT * FROM grsdbrd.[GeoCompletion] WHERE [GEO S Completion] BETWEEN '2025-12-28' AND '2026-01-01' """, engine_sqlserver)

In [17]:
geo_Comp = convert_to_date(geo_Comp)

In [38]:
# geo_Comp["CompletionTime"] = [pd.to_datetime(i.split('_')[1]) for i in geo_Comp["UniqueKey"]]
prod_df = geo_Comp[["Case Number", "Transferred to Geospatial", "GEO S Completion", "Geo Supervisor", "SupervisorName", "GroupID", "Region", "GeoAction", "Rejection", "CompletionTime"]]

In [39]:
prod_df.head()

,Case Number,Transferred to Geospatial,GEO S Completion,Geo Supervisor,SupervisorName,GroupID,Region,GeoAction,Rejection,CompletionTime
0,FR20251181465,2025-12-28,2025-12-28,AHMED Mahmmod,Mohammed Fadil,Editor Night Shift,Hael,No Action,,2025-12-28 22:05:27
1,FR20251005543,2025-11-26,2025-12-28,Abdulaziz Faiz,Mazin MohammedKhir,Editor Night Shift,Makka,No Action,,2025-12-28 21:42:56
2,FR20251005572,2025-11-26,2025-12-28,Abdulaziz Faiz,Mazin MohammedKhir,Editor Night Shift,Makka,تعديل بيانات وصفية,,2025-12-28 21:15:43
3,FR20251008324,2025-11-25,2025-12-28,Abdullah Zamzami,Omar Azab,Editor Night Shift,Hael,تجزئة,,2025-12-28 16:55:05
4,FR20251008345,2025-11-25,2025-12-28,Abdullah Zamzami,Omar Azab,Editor Night Shift,Riyadh,No Action,,2025-12-28 21:15:43

In [43]:
# Extract cases by time period per editor per day
mask_7_9 = prod_df['CompletionTime'].dt.hour.between(7, 8)
mask_9_15 = prod_df['CompletionTime'].dt.hour.between(9, 15)
mask_15_21 = prod_df['CompletionTime'].dt.hour.between(15, 20)
mask_21_23 = prod_df['CompletionTime'].dt.hour.between(21, 23)

# Group by date and supervisor for each time period
time_7_9 = prod_df.loc[mask_7_9].groupby(['GEO S Completion', 'Geo Supervisor', 'SupervisorName', 'GroupID'])['Case Number'].nunique().reset_index(name='7-9AM')
time_9_15 = prod_df.loc[mask_9_15].groupby(['GEO S Completion', 'Geo Supervisor', 'SupervisorName', 'GroupID'])['Case Number'].nunique().reset_index(name='9-3PM')
time_15_21 = prod_df.loc[mask_15_21].groupby(['GEO S Completion', 'Geo Supervisor', 'SupervisorName', 'GroupID'])['Case Number'].nunique().reset_index(name='3-9PM')
time_21_23 = prod_df.loc[mask_21_23].groupby(['GEO S Completion', 'Geo Supervisor', 'SupervisorName', 'GroupID'])['Case Number'].nunique().reset_index(name='9-11PM')

# Merge all time periods
result_df = time_7_9.merge(time_9_15, on=['GEO S Completion', 'Geo Supervisor', 'SupervisorName', 'GroupID'], how='outer')
result_df = result_df.merge(time_15_21, on=['GEO S Completion', 'Geo Supervisor', 'SupervisorName', 'GroupID'], how='outer')
result_df = result_df.merge(time_21_23, on=['GEO S Completion', 'Geo Supervisor', 'SupervisorName', 'GroupID'], how='outer')

# Add total column
result_df['Total'] = result_df[['7-9AM', '9-3PM', '3-9PM', '9-11PM']].fillna(0).sum(axis=1).astype(int)

result_df = result_df.fillna(0).astype({col: int for col in ['7-9AM', '9-3PM', '3-9PM', '9-11PM']})
result_df = result_df.sort_values(['GEO S Completion', 'Geo Supervisor'])

result_df.head(20)

,GEO S Completion,Geo Supervisor,SupervisorName,GroupID,7-9AM,9-3PM,3-9PM,9-11PM,Total
0,2025-12-28,AHMED Mahmmod,Mohammed Fadil,Editor Night Shift,0,0,19,9,28
1,2025-12-28,Abdulaziz AlOtaibi,Mohammed Fadil,Editor Night Shift,0,0,5,2,7
2,2025-12-28,Abdulaziz Alhegbani,Fatimah Haddadi,Editor Morning Shift,0,15,0,0,15
3,2025-12-28,Abdulaziz Almutlaq,Mohammed Fadil,Editor Night Shift,0,1,13,5,19
4,2025-12-28,Abdulaziz Faiz,Mazin MohammedKhir,Editor Night Shift,0,0,2,4,6
5,2025-12-28,Abdulaziz alzuayr,Mazin MohammedKhir,Editor Night Shift,0,0,8,0,8
6,2025-12-28,Abdullah AlHujailan,Omar Azab,Editor Night Shift,0,0,11,3,14
7,2025-12-28,Abdullah AlMalki,Mohammed Fadil,Editor Night Shift,0,0,6,0,6
8,2025-12-28,Abdullah Magdy,Mohammed Mustafa Al-Daly,Pod-Al-Shuhada-1,0,8,0,0,8
9,2025-12-28,Abdullah Zamzami,Omar Azab,Editor Night Shift,0,1,14,7,22
10,2025-12-28,Abdulmalik Alqahtani,Reem Alotaibi,Editor Morning Shift,2,23,1,0,26
11,2025-12-28,Abdulmalik Alzahrani,Reem Alotaibi,Editor Morning Shift,2,6,0,0,8
12,2025-12-28,Abdulrahman Alghamdi,Mohammed Fadil,Editor Night Shift,0,0,4,4,8
13,2025-12-28,Abdulrahman Almustafa,Omar Azab,Editor Night Shift,0,2,13,3,18
14,2025-12-28,Abdulrahman Ismail,Shaden Alfuraihi,Editor Morning Shift,2,21,0,0,23
15,2025-12-28,Abeer Alkhouli,Reem Alotaibi,Editor Morning Shift,3,28,0,0,31
16,2025-12-28,Aboalhassan Shatir,Omar Azab,Editor Night Shift,0,1,13,7,21
17,2025-12-28,Afnan Alotibi,Raseel Alharthi,Editor Morning Shift,1,14,0,0,15
18,2025-12-28,Afnan Mohammed,Fatimah Almarshed,Editor Morning Shift,0,20,0,0,20
19,2025-12-28,Ahmed Abdulrahman,Shaden Alfuraihi,Editor Morning Shift,2,18,0,0,20

In [44]:
result_df.to_excel(r"D:\Unclassified\Eng. Mashael\Overtime Vs Normal hours\Cases' Count Breadown per working hours.xlsx", index=False)

In [33]:
editor = 'Abdulmalik Alzahrani'
overTime_df[overTime_df["Geo Supervisor"]==editor]

    GEO S Completion        Geo Supervisor  Count
1         2025-12-28  Abdulmalik Alzahrani      2
59        2025-12-29  Abdulmalik Alzahrani     12
119       2025-12-30  Abdulmalik Alzahrani      4
176       2025-12-31  Abdulmalik Alzahrani      8
245       2026-01-01  Abdulmalik Alzahrani      6

In [35]:
date = '2025-12-31'
prod_df[(prod_df["Geo Supervisor"]==editor) & (prod_df["GEO S Completion"]==pd.to_datetime(date).date())& (prod_df["CompletionTime"]<=pd.to_datetime(date+" 9:00:00"))].sort_values(by="CompletionTime")

,Case Number,Transferred to Geospatial,GEO S Completion,Geo Supervisor,Region,GeoAction,Rejection,CompletionTime
14545,FR2025964400,2025-11-18,2025-12-31,Abdulmalik Alzahrani,Madinah,تعديل أبعاد الأرض,,2025-12-31 07:23:10
14555,FR2025981351,2025-11-19,2025-12-31,Abdulmalik Alzahrani,Riyadh,رفض,إختيار خاطئ,2025-12-31 07:50:44
14542,FR2025928215,2025-11-18,2025-12-31,Abdulmalik Alzahrani,Makka,تعديل بيانات وصفية,,2025-12-31 08:02:39
14532,FR20251007909,2025-11-26,2025-12-31,Abdulmalik Alzahrani,Eastern,رفض,صك الأرض,2025-12-31 08:16:10
14534,FR20251012021,2025-11-27,2025-12-31,Abdulmalik Alzahrani,Hael,رفض,صك الأرض,2025-12-31 08:18:25
14529,FR20251006701,2025-11-27,2025-12-31,Abdulmalik Alzahrani,Makka,تعديل بيانات وصفية,,2025-12-31 08:25:55
14536,FR20251097962,2025-12-09,2025-12-31,Abdulmalik Alzahrani,Eastern,رفض,صك الأرض,2025-12-31 08:34:31
14533,FR20251010975,2025-11-30,2025-12-31,Abdulmalik Alzahrani,Hael,رفض,صك الأرض,2025-12-31 08:37:00