In [3]:
import pandas as pd
import openpyxl
from sqlalchemy import create_engine, text
from datetime import datetime, timedelta
import pyodbc
import urllib.parse

### Functions

In [4]:
def load_excel(filename):
    wb = openpyxl.load_workbook(filename, read_only=True)
    ws = wb['Sheet1']
    header_row_idx = None
    for i, row in enumerate(ws.iter_rows(max_col=2, max_row=10, values_only=True)):
        if row and 'Case Number' in row:
            header_row_idx = i
            break
    wb.close()
    if header_row_idx is not None:
        df = pd.read_excel(filename, sheet_name='Sheet1', skiprows=header_row_idx)
        return df
    else:
        raise ValueError(f"Header row with 'Case Number' not found in: {filename}")
    
def convert_to_date(df):
    dtimeFields = ['Case Date', 'Case Submission Date','Latest Action Date','Transferred to Geospatial','GEO Completion','GEO S Completion','Transferred to Ops', 'Attachment Added Date', "ListDate"]
    for field in dtimeFields:
        if field in df.columns:
            df[field] = pd.to_datetime(df[field]).dt.date
    return df

### DB Configurations

In [1]:
# Define config at the top of the file
AppDB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'LASCaseWorkerApp',
    "username": 'LASCaseWorker',
    "password": 'LASCaseWorker'
}

# Utility function to create a connection
def get_connection_Sql():
    return pyodbc.connect(
        f"DRIVER={{SQL Server}};"
        f"SERVER={AppDB_CONFIG['server']};"
        f"DATABASE={AppDB_CONFIG['database']};"
        f"UID={AppDB_CONFIG['username']};"
        f"PWD={AppDB_CONFIG['password']};"
    )

## Dashboard DB SQL
DashDB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'GRSDASHBOARD',
    "username": 'lasapp',
    "password": 'lasapp@LAS123'
}

# Build ODBC connection string from existing DB_CONFIG
odbc_params = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={DashDB_CONFIG['server']};"
    f"DATABASE={DashDB_CONFIG['database']};"
    f"UID={DashDB_CONFIG['username']};"
    f"PWD={DashDB_CONFIG['password']};"
)

DashPost = {
    "server":"127.0.0.1",
    "port": '5432',
    "database": "GSA",
    "username": "postgres",
    "password": "1234"
}
## Dashboard DB PostgreSQL
connection_str_post = f"postgresql://{DashPost['username']}:{DashPost['password']}@{DashPost['server']}:{DashPost['port']}/{DashPost['database']}"

In [6]:
# odbc_connect_str = urllib.parse.quote_plus(odbc_params)
# Create SQLAlchemy engine for SQL Server via pyodbc
# engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
engine_postgres = create_engine(connection_str_post)
tables = ['ApprovedCases', 'CR_Current', 'CR_Data', 'ClassificationData', 'CurrentCases', 'EditorsList', 'GeoData', 'GeoSCompletionData', 'HistoricalData', 'MG_Current', 'MG_Data', 'OpsData', 'RejectedCancelled', 'ReturnedCases', 'SR_Current', 'SR_Data', 'ST_EditorList', 'Ticketing', 'TransferToGeoData', 'Urgent', 'VIP',]

In [5]:
# query_sql = """SELECT * FROM grsdbrd."{}" """
query_post = """SELECT * FROM public."{}" """

def join_userlist(comp_df, editorlist):
    comp_df['GEO S Completion'] = pd.to_datetime(comp_df['GEO S Completion']).dt.normalize()
    editorlist = editorlist.rename({'CaseProtalName': 'Geo Supervisor'},axis=1)
    editorlist["ListDate"] = pd.to_datetime(editorlist["ListDate"]).dt.normalize()
    comp_df = comp_df.sort_values(by=["GEO S Completion", "Geo Supervisor"])
    editorlist = editorlist.sort_values(by=["ListDate", "Geo Supervisor"])
    comp_df = pd.merge_asof(comp_df, editorlist, by="Geo Supervisor", left_on="GEO S Completion", 
                            right_on="ListDate", direction='backward')
    comp_df['GEO S Completion'] = [pd.to_datetime(i).date() for i in comp_df['GEO S Completion']]
    comp_df['ListDate'] = [pd.to_datetime(i).date() for i in comp_df['ListDate']]
    return comp_df


def generate_evaluation_sheet(engine, start_date, end_date):
    query = query_post+ """WHERE "GEO S Completion" BETWEEN '{}' AND '{}' """
    value = query.format(tables[7], str(start_date), str(end_date))
    completed = convert_to_date(pd.read_sql(value, engine))
    editorList = convert_to_date(pd.read_sql(query_post.format(tables[5]), engine_postgres))
    completed = join_userlist(completed, editorList)
    # completed = completed.dropna('Geo Supervisor Recommendation')
    return completed[~completed['Geo Supervisor Recommendation'].str.contains('يعاد')]
# end = datetime.now().date()
end = pd.to_datetime('2025-09-15').date()
start = end - timedelta(days=7)
compCases = generate_evaluation_sheet(engine_postgres,start, end)

In [72]:
field_dict = {"Procedure": "", "Recommendation": "", "Topology": "", 
                      "Completeness": "", "BlockAlignment": ""}
null_fields = [i for i in field_dict][:2]
null_fields

['Procedure', 'Recommendation']

In [7]:
geocomp = pd.read_csv(r"E:\Data\Geo S Completion.csv")

C:\Users\AyMaN\AppData\Local\Temp\ipykernel_23184\1078613638.py:1: DtypeWarning: Columns (1,7,25,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  geocomp = pd.read_csv(r"E:\Data\Geo S Completion.csv")

In [8]:
geocomp = convert_to_date(geocomp)
geocomp.head(5)

,Case Number,Absolute Ownership,Duplicate Case,Generated Titles,Case Submission Date,Latest Action Date,Action,Assignee,Transferred to Geospatial,Return To Geo Team,...,Region,GeoAction,Rejection,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate,SLA
0,FR2024453665,NaN,NaN,NaN,2024-10-04,2025-02-24,CW Pool,NaN,2025-02-24,Yes,...,Riyadh,رفض,إرفاق المؤشرات,NaN,NaN,NaN,NaN,NaN,NaT,0
1,FR2024508846,NaN,NaN,NaN,2024-11-01,2025-02-24,CW Pool,NaN,2025-02-24,Yes,...,Riyadh,تعديل بيانات وصفية,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
2,FR2024509346,NaN,NaN,NaN,2024-11-01,2025-02-24,CW Pool,NaN,2024-12-18,Yes,...,Riyadh,تعديل أبعاد الأرض,NaN,NaN,NaN,NaN,NaN,NaN,NaT,55
3,FR2024509895,NaN,NaN,NaN,2024-11-01,2025-02-24,CW Pool,NaN,2024-12-11,Yes,...,Riyadh,رفض,طلب مسجل مسبقاً,NaN,NaN,NaN,NaN,NaN,NaT,61
4,FR2024512322,NaN,NaN,NaN,2024-11-02,2025-02-24,CW Pool,NaN,2024-12-31,Yes,...,Riyadh,رفض,طلب مسجل مسبقاً,NaN,NaN,NaN,NaN,NaN,NaT,44

In [9]:
geocomp.to_sql("GeoCompletion", engine_postgres, if_exists="replace", index=False)

420

In [84]:
supvisor_id = "RAlharthi.c"
query = """SELECT * FROM "GeoCompletion" WHERE "GEO S Completion" BETWEEN '2025-10-28' AND '2025-11-02'
AND "Geo Supervisor" = 'Mohammed Alshahrani' """

In [86]:
cases = pd.read_sql(query, engine_postgres)
print(len(cases))
cases[["Case Number", "GEO S Completion", "Geo Supervisor Recommendation", "GeoAction"]]
# cases.groupby(["GEO S Completion","GeoAction"]).size().reset_index(name="Count of Cases")

13

,Case Number,GEO S Completion,Geo Supervisor Recommendation,GeoAction
0,FR2025817804,2025-11-02,submit | .,None
1,FR2025815619,2025-11-02,submit | .,None
2,FR2025793334,2025-11-02,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,رفض
3,FR2025794499,2025-11-02,submit | تمت المعالجة بناءً على بيانات الامانة...,None
4,FR2025804878,2025-11-02,submit | يعاد إلى مدقق الطلبات نقص المستندات إ...,رفض
5,FR2025813408,2025-11-02,submit | .,None
6,FR2025815586,2025-11-02,submit | تمت المعالجة بناءً على الوثيقة المرفق...,شطفة
7,FR2025818011,2025-11-02,submit | يعاد الى مدقق الطلبات-خطأ في بيانات ا...,رفض
8,FR2025821948,2025-11-02,submit | .,None
9,FR2025826249,2025-11-02,submit | FR2025656144,None
10,FR2025825789,2025-11-02,submit | FR2025209224,None
11,FR2025828760,2025-11-02,submit | القرار المساحي غير معتمد,None
12,FR2025841746,2025-11-02,submit | .,None

In [69]:
supervisors = editors["SupervisorName"].unique().tolist()
print(len(supervisors))

11

In [8]:
sql = """SELECT * FROM employees."BasicInfo" """
columns = pd.read_sql(sql, engine_postgres).columns.tolist()
columns

['RER_ID',
 'FULLNAME',
 'FirstName',
 'LastName',
 'DoB',
 'National/IqamaID',
 'PassportNo',
 'Gender',
 'Nationality',
 'PrimaryPhoneNo',
 'AlternativePhoneNo',
 'Email',
 'EmergencyContact',
 'EmergencyPhone',
 'LastUpdated']