In [ ]:
import pandas as pd
import openpyxl
from sqlalchemy import create_engine, text
from datetime import datetime, timedelta
import os
import pyodbc
import urllib.parse

### Functions

In [ ]:
regions_dict= {
    'Makka': ['مكة المكرمة', 'الجموم', 'جدة'], 'Madinah':['المدينة المنورة'],
    'Riyadh': ['الرياض', 'المزاحمية', 'الدرعية', 'حريملاء','مرات', "القويعية", 'الخرج', 'الدلم', 'الزلفى', 'الغاط', 'المجمعه', 
                'جلاجل','حوطة سدير', 'روضة سدير', 'الرين', 'الافلاج', 'السليل'],
    'Eastern': ['الدمام', 'الخبر', 'القطيف', 'الاحساء', 'الجبيل','النعيرية', 'ابقيق', 'راس تنوره', 'الخفجي',"حفر الباطن", "القيصومة"],
    'Qasim':['بريدة','رياض الخبراء','عنيزة','الرس','البكيرية','البدائع', 'البطين', 'الخبراء والسحابين', 'عيون الجواء', 'القوارة'],
    "Hael":["حائل"]}

geoActions = {'البيانات الجيومكانية صحيحة':['الجيومكانية صحيحة', 'الجيومكانية صحيحه', 'الجيومكانيه صحيحه', 'جيومكانية صحيحة'],'تعديل بيانات وصفية':['بيانات وصفية', 'بيانات وصفيه', 'البيانات الوصفية', 'البيانات الوصفيه'], 'تعديل أبعاد الأرض':['أبعاد', 'ابعاد', 'تعديل أبعاد', 'تعديل ابعاد', 'تعديل الأبعاد', 'تعديل الابعاد'], 
                'تجزئة':['تجزئة','التجزئة'], 'دمج':['دمج', 'الدمج'], 'رفض':["يعاد", 'رفض', 'نقص','مرفوض',"مستندات", "ارفاق", "إرفاق", "غير صحيحة", "الارض المختارة غير صحيحة"]}

rejectionReasons = {'محضر الدمج/التجزئة':['محضر', 'المحضر', 'المحضر المطلوب', 'محضر اللجنة الفنية'], 
                    'إزدواجية صكوك': ['ازدواجية صكوك', 'إزدواجية صكوك', 'ازدواجيه', 'إزدواجيه صكوك'],
                    "خطأ في بيانات الصك'":['خطأ في بيانات الصك', 'خطأ في الصك'],
                    'صك الأرض':['صك الأرض', 'صك الارض', 'صك', 'الصك'], 
                    "إرفاق المؤشرات":["مؤشرات", "إرفاق كافه المؤشرات", "ارفاق كافة المؤشرات","ارفاق كافه المؤشرات"],
                    'طلب لوحدة عقارية':['طلب لوحدة عقارية', 'وحدة', 'وحده', 'وحده عقارية', 'وحدة عقاريه', 'عقارية'], 
                    'طلب مسجل مسبقاً':['سابق', 'مسبقا', 'مسبقاً', 'مسبق', 'طلب آخر', 'مكرر', 'طلب تسجيل اول مكرر'], 'إختيار خاطئ': ['اختيار خاطئ','المختارة غير صحيحة','إختيار خاطئ','المختارة غير صحيحه'],
                    "المخطط المعتمد":["المخطط", "مخطط"]}

def getGeoAction(df):
    
    if 'City Name' in df.columns:
        df['Region'] = ''
        for regionName, cities in regions_dict.items():
            df.loc[df["City Name"].isin(cities), 'Region'] = regionName
    
    # Ensure required columns exist
    if not {'Geo Supervisor Recommendation','GEO Recommendation'}.issubset(df.columns):
        return df

    df['GeoAction'] = ''
    df['Rejection'] = ''

    for i in range(len(df)):
        recomm = df.at[i, 'Geo Supervisor Recommendation']
        recomm2 = df.at[i, 'GEO Recommendation']

        # Normalize empty values
        if pd.isna(recomm) or recomm == '':
            recomm = recomm2
        if pd.isna(recomm) or recomm == '':
            df.at[i, 'GeoAction'] = 'No Action'
            continue

        text = str(recomm)

        action_found = False

        # -----------------------------------------------------
        # 1️⃣ FIRST: check all official actions from geoActions
        # -----------------------------------------------------
        for action, keywords in geoActions.items():
            if any(k in text for k in keywords):
                df.at[i, 'GeoAction'] = action
                action_found = True

                # If it is a rejection, also check reasons
                if action == 'رفض':
                    for reject, r_words in rejectionReasons.items():
                        if any(k in text for k in r_words):
                            df.at[i, 'Rejection'] = reject

                break  # stop scanning actions once matched

        # -----------------------------------------------------
        # 2️⃣ If no official action found, check “شطفة”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['شطفة', 'الشطفة', 'شطفه']):
                df.at[i, 'GeoAction'] = 'شطفة'
                continue

        # -----------------------------------------------------
        # 3️⃣ If still nothing, check “غرفة كهرباء”
        # -----------------------------------------------------
        if not action_found:
            if any(k in text for k in ['كهرب', 'غرف', 'غرفة كهرباء', 'غرفة الكهرباء', 'غرفة', 'الكهرباء']):
                df.at[i, 'GeoAction'] = 'غرفة كهرباء'
                continue

        # -----------------------------------------------------
        # 4️⃣ If still no match → No Action
        # -----------------------------------------------------
        if not action_found:
            df.at[i, 'GeoAction'] = 'No Action'

    return df


def load_excel(filename):
    wb = openpyxl.load_workbook(filename, read_only=True)
    ws = wb['Sheet1']
    header_row_idx = None
    for i, row in enumerate(ws.iter_rows(max_col=2, max_row=10, values_only=True)):
        if row and 'Case Number' in row:
            header_row_idx = i
            break
    wb.close()
    if header_row_idx is not None:
        df = pd.read_excel(filename, sheet_name='Sheet1', skiprows=header_row_idx)
        return df
    else:
        raise ValueError(f"Header row with 'Case Number' not found in: {filename}")
    
def convert_to_date(df):
    dtimeFields = ['Case Date', 'Case Submission Date','Latest Action Date','Transferred to Geospatial','GEO Completion','GEO S Completion','Transferred to Ops', 'Attachment Added Date', "ListDate"]
    for field in dtimeFields:
        if field in df.columns:
            df[field] = pd.to_datetime(df[field]).dt.date
    return df

def calculate_sla(row, work_dates):
    trans_date = row[0]
    comp_date = row[1]
    try:
        period = int((comp_date - trans_date).days)
        
        sla = 0
        for i in range(period):
            current_date = trans_date + timedelta(days=i)
            if current_date in work_dates:
                sla += 1
            else:
                pass
        return sla
    except:
        return None

def join_userlist(comp_df, editorlist):
    comp_df['GEO S Completion'] = pd.to_datetime(comp_df['GEO S Completion']).dt.normalize()
    editorlist = editorlist.rename({'CaseProtalName': 'Geo Supervisor'},axis=1)
    editorlist["ListDate"] = pd.to_datetime(editorlist["ListDate"]).dt.normalize()
    comp_df = comp_df.sort_values(by=["GEO S Completion", "Geo Supervisor"])
    editorlist = editorlist.sort_values(by=["ListDate", "Geo Supervisor"])
    comp_df = pd.merge_asof(comp_df, editorlist, by="Geo Supervisor", left_on="GEO S Completion", 
                            right_on="ListDate", direction='backward')
    comp_df['GEO S Completion'] = [pd.to_datetime(i).date() for i in comp_df['GEO S Completion']]
    comp_df['ListDate'] = [pd.to_datetime(i).date() for i in comp_df['ListDate']]
    return comp_df

### DB Configurations

In [ ]:
## Dashboard DB SQL
DashDB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'GRSDASHBOARD',
    "username": 'lasapp',
    "password": 'lasapp@LAS123'
}

# Build ODBC connection string from existing DB_CONFIG
odbc_params = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={DashDB_CONFIG['server']};"
    f"DATABASE={DashDB_CONFIG['database']};"
    f"UID={DashDB_CONFIG['username']};"
    f"PWD={DashDB_CONFIG['password']};"
)

In [ ]:
odbc_connect_str = urllib.parse.quote_plus(odbc_params)
# Create SQLAlchemy engine for SQL Server via pyodbc
engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)
engine_postgres = create_engine("postgresql://postgres:1234@10.150.40.74:5432/GSA")
engine_postgres2 = create_engine("postgresql://postgres:1234@10.150.40.74:5432/GRS")

In [ ]:
### Load Ops Data Excel File
file_path = r"\\10.150.40.49\las\Anas Alhares\NewTeam\E and C Final Folder 08092024\Case Editing and Classification\Editor Team\07-Raw Data\03-PBI Data\12-Dec\251-04-Des 2025\Ops Data 04 Dec 2025.xlsx"
ops = load_excel()
print(f"Total Count of Cases: {len(ops)}")
ops = ops.drop_duplicates(subset="Case Number")
print(f"Total Count of Unique Cases: {len(ops)}")
ops = ops[(ops['Geo Supervisor'].notnull())& (ops['GEO S Completion'].notnull())].reset_index(drop=True)
print(f"Total Count of Cases From GEO: {len(ops)}")
ops["UniqueKey"] = [str(i) + '_' + str(pd.to_datetime(j).round('s'))  for i, j in zip(ops["Case Number"].values, ops["GEO S Completion"].values)]
ops["UploadDate"] = datetime.now().date()
ops["UploadedBy"] = os.getlogin()
ops = convert_to_date(ops)
ops = getGeoAction(ops)
# ops.head()

79769
76509
28029

,Case Number,Absolute Ownership,Duplicate Case,Generated Titles,Case Submission Date,Latest Action Date,Action,Assignee,Transferred to Geospatial,Return To Geo Team,...,GEO,GEO Recommendation,Geo Supervisor,Geo Supervisor Recommendation,UniqueKey,UploadDate,UploadedBy,Region,GeoAction,Rejection
0,FR2024442533,NaN,0.0,0.0,2024-09-28,2025-11-02,CW Pool,NaN,2025-07-28,Yes,...,Wafi Noah,assignToGeoSupervisor | تجزئة,Hady Barakat,assignCaseWorker | تم ترقيم القطع حسب المفاهمة,FR2024442533_2025-07-29 11:57:18,2025-12-04,Aaltoum,Riyadh,No Action,
1,FR2024484673,Yes,0.0,0.0,2024-11-01,2025-10-09,CW Pool,NaN,2025-06-23,Yes,...,Wafi Noah,assignToGeoSupervisor | تعديل أبعاد الارض,Ghsoon Alsaggami,assignCaseWorker | يعاد الى مدقق البيانات ، ال...,FR2024484673_2025-07-03 09:30:48,2025-12-04,Aaltoum,Riyadh,رفض,طلب لوحدة عقارية
2,FR2024637712,NaN,1.0,0.0,2024-12-10,2025-11-23,CW Supervisor Claimed,Suliman Bin Jebreen,2024-12-11,No,...,Wafi Noah,submit | -,Hady Barakat,assignCaseWorker | الصك المتسخدم غير فعال لعدم...,FR2024637712_2024-12-15 14:46:10,2025-12-04,Aaltoum,Riyadh,No Action,
3,FR2024694252,NaN,0.0,0.0,2024-12-24,2025-11-02,CW Pool,NaN,2025-01-07,No,...,Abdullah alateer,assignToGeoSupervisor | تم تحديث البيانات الوصفية,Mohammed A Jaafar,assignCaseWorker | تم تحديث البيانات الوصفية,FR2024694252_2025-03-05 13:11:23,2025-12-04,Aaltoum,Eastern,تعديل بيانات وصفية,
4,FR20251000096,NaN,0.0,0.0,2025-11-23,2025-12-02,CW Supervisor Pool,NaN,2025-11-24,No,...,Bader alotaibe,submit |,Alsiddig Hassballa,submit | اختلاف في البيانات الوصفية للصك مع ال...,FR20251000096_2025-11-25 18:07:44,2025-12-04,Aaltoum,Eastern,تعديل بيانات وصفية,

In [ ]:
# Loading EditorList
editorlist = pd.read_sql("SELECT * FROM public.\"EditorsList\" ", engine_postgres)
editorlist = convert_to_date(editorlist)

In [ ]:
# Join Editor List to Ops Data
ops_joined = join_userlist(ops, editorlist)
ops_final = ops_joined[ops_joined["ListDate"].notna()]
print("Total Count of Valid Cases: {},\nTotal Count of Joined Cases: {}".format(len(ops_final), len(ops_joined)))

27176 28029

,Transferred to Geospatial,Return To Geo Team,Count of Returns Cases,GEO Completion,GEO S Completion,Transferred to Ops,Case Status,REN,Boundary Length Deed,Boundary Length Parcel,MoJ Deed Number,Moj Real Estate Serial
0,2024-12-11,No,1,2024-12-11,2024-12-15,2024-12-15,New,7679403042100000,112.05,108.500000,3.101240e+11,284378
1,2025-01-07,No,1,2025-03-04,2025-03-05,2025-03-05,New,7046830461300000,130.28,130.250000,6.306070e+11,1439505
2,2025-02-13,No,1,2025-04-08,2025-04-08,2025-04-08,New,4641583457000000,77.01,77.000000,3.110270e+11,3988606
3,2025-01-19,No,1,2025-04-14,2025-04-14,2025-04-14,New,2559050673200000,73.20,73.619995,4.302040e+11,2467926
4,2025-03-18,No,1,2025-04-14,2025-04-21,2025-04-21,New,7227619477300000,29.90,84.000000,2.600013e+11,3415665
5,2025-04-24,Yes,2,2025-04-27,2025-04-27,2025-04-27,New,9269088128900000,70.14,69.920006,7.302110e+11,4448506
6,2025-01-23,No,1,2025-04-22,2025-04-28,2025-04-28,New,6899719268300000,100.50,72.699997,3.302020e+11,2492724
7,2025-02-02,No,1,2025-04-14,2025-04-28,2025-04-28,New,1693814623100000,64.02,64.019997,9.606020e+11,6951136
8,2025-03-13,No,1,2025-04-10,2025-04-30,2025-04-30,New,9031133554300000,91.00,90.270004,9.301070e+11,4394564
9,2025-02-13,No,1,2025-04-11,2025-04-30,2025-04-30,New,6707539506900000,74.68,74.800003,3.984120e+11,389566
10,2025-02-09,No,1,2025-04-11,2025-05-01,2025-05-01,New,1624353194300000,70.14,70.630005,9.198670e+11,4224001
11,2025-02-10,No,1,2025-04-11,2025-05-01,2025-05-01,New,5028955731800000,70.14,69.829994,7.198830e+11,1434244
12,2025-02-11,No,1,2025-04-11,2025-05-01,2025-05-01,New,6992305745000000,70.14,70.639999,3.198920e+11,1434233
13,2025-02-10,No,1,2025-04-11,2025-05-04,2025-05-04,New,9904346975600000,73.16,73.160004,3.301030e+11,424209
14,2025-04-30,Yes,2,2025-05-02,2025-05-04,2025-05-04,New,6676253841800000,74.00,96.019997,9.985070e+11,3643648
15,2025-02-06,No,1,2025-04-09,2025-05-05,2025-05-05,New,7545158816700000,76.24,76.160004,5.302090e+11,1851608
16,2025-03-03,No,1,2025-04-13,2025-05-07,2025-05-07,New,4109142352600000,73.16,73.160004,6.606310e+11,6702746
17,2025-05-06,Yes,2,2025-05-08,2025-05-10,2025-05-10,New,5481342868400000,73.20,73.449997,5.302030e+11,2847312
18,2025-04-15,No,1,2025-04-23,2025-05-12,2025-05-12,New,5370003555400000,91.00,91.160004,5.932800e+11,4544581
19,2025-03-03,No,1,2025-04-13,2025-05-13,2025-05-13,New,5446963042000000,83.90,83.200005,8.306120e+11,983388

In [ ]:
# Loading to DB

ops_final.to_sql("OpsData", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

446

In [ ]:
# regions_df.to_sql("Regions", engine_postgres2, schema="evaluation", if_exists='replace', index=False)

43

In [41]:
geocompletion = pd.read_sql("SELECT * FROM evaluation.\"GeoCompletion\" ", engine_postgres2)

In [42]:
geocompletion.to_excel(r"D:\GitHub\Editors Evaluation\Files\GeoCompletion.xlsx", index=False)

In [11]:
datetime.now().date()-timedelta(days=2)

datetime.date(2025, 11, 25)

In [12]:
# geocomp = pd.read_sql("SELECT * FROM grsdbrd.\"GeoSCompletionData\" ", engine_sqlserver)
# geocomp = convert_to_date(geocomp)
# geocomp.head(5)

In [13]:
# completed = geocomp.copy()
# completed = getGeoAction(completed)
# # completed

In [14]:
# completed[["Geo Supervisor Recommendation", "GeoAction", "Rejection"]].values[30:60]

In [15]:
editorlist = pd.read_sql("SELECT * FROM public.\"EditorsList\" ", engine_postgres)
editorlist = convert_to_date(editorlist)
editorlist.tail()

,EditorName,CaseProtalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
3952,Talal AL-ghadhban,Talal AlGhadhban,TALGhadhban.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-10-27
3953,Talal AL-ghadhban,Talal AlGhadhban,TALGhadhban.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-10-30
3954,Talal AL-ghadhban,Talal AlGhadhban,TALGhadhban.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-11-12
3955,Talal AL-ghadhban,Talal AlGhadhban,TALGhadhban.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-11-18
3956,MOSAB ALSAFI,Mosab Alsafi,MAlsafi.c,falmarshed.c,Fatimh almarshed,Editor Morning Shift,2025-09-04

In [16]:
# comp = join_userlist(completed, editorlist)
# comp.tail(20)

### Update GeoCompletion For Evaluation

In [49]:
engine_postgres2 = create_engine("postgresql://postgres:1234@localhost:5432/GRS")
# comp.to_sql("GeoCompletion", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

In [20]:
new_comp = pd.read_sql("""SELECT * FROM grsdbrd."GeoSCompletionData" 
                       WHERE "UploadDate" IN (SELECT MAX("UploadDate") FROM grsdbrd."GeoSCompletionData") """, engine_sqlserver)
working_dates = convert_to_date(pd.read_sql("""SELECT DISTINCT("GEO S Completion") FROM grsdbrd."GeoSCompletionData" UNION SELECT DISTINCT("GEO S Completion") FROM grsdbrd."HistoricalData"  """, engine_sqlserver))["GEO S Completion"].tolist()

In [21]:
len(new_comp)

2704

In [22]:
working_dates[:5], working_dates[-5:]

([datetime.date(2023, 11, 16),
  datetime.date(2023, 11, 28),
  datetime.date(2023, 11, 30),
  datetime.date(2023, 12, 3),
  datetime.date(2024, 1, 2)],
 [datetime.date(2025, 10, 29),
  datetime.date(2025, 11, 6),
  datetime.date(2025, 11, 14),
  datetime.date(2025, 11, 24),
  datetime.date(2025, 11, 28)])

In [24]:
cities = regions_df["CityName"].unique()
# cities
for i in range(len(new_comp)):
    city_value = new_comp['City Name'].values[i]
    if str(city_value) == 'nan' or city_value == None:
        location = new_comp['Location Description'].values[i]
        for city in cities:
            if city in str(location):
                new_comp['City Name'].values[i] = city

In [25]:
new_comp = convert_to_date(new_comp)
new_comp = getGeoAction(new_comp)
new_comp["SLA"] = new_comp[["Transferred to Geospatial", "GEO S Completion"]].apply(lambda row: calculate_sla(row,working_dates), axis=1)

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_18276\3354737029.py:143: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  trans_date = row[0]
C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_18276\3354737029.py:144: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  comp_date = row[1]

In [27]:
# new_comp[new_comp["Region"]==''][["Case Number", "City Name", "Location Description", "Geo Supervisor Recommendation","GeoAction"]]
new_comp[["Case Number", "City Name", "Location Description", "Geo Supervisor Recommendation","GeoAction"]]
# new_comp[new_comp["City Name"]== None]

,Case Number,City Name,Location Description,Geo Supervisor Recommendation,GeoAction
0,FR20251000387,الخرج,حي الجامعة في محافظة الخرج,submit | تم تعديل البيانات الوصفية,تعديل بيانات وصفية
1,FR20251000889,حفر الباطن,حي الفيحاء بمدينة حفر الباطن .,submit | تم تعديل البيانات الوصفية,تعديل بيانات وصفية
2,FR20251000934,الرياض,حي الملز بمدينة الرياض .,submit | يعاد الى مدقق الطلبات-الارض المختارة ...,رفض
3,FR20251001141,حائل,حي أجا بمدينة حائل مساحة الوحدة من الأرض 100....,submit | يعاد الى مدقق الطلبات-الارض المختارة ...,رفض
4,FR20251001172,الرياض,حي الصحافة بمدينة الرياض .,submit | مع ملاحظة بيانات وزارة العدل لم تنعكس...,No Action
...,...,...,...,...,...
2699,FR2025999398,حفر الباطن,حي الوادى بمدينة حفر الباطن .,submit | تسجيل اولي مكرر برقمFR2025902806,No Action
2700,FR2025999523,حفر الباطن,حي النزهة بمدينة حفر الباطن .,submit | يعاد إلى مدقق الطلبات‑طلب تسجيل أول م...,رفض
2701,FR2025999577,حفر الباطن,حي النزهة بمدينة حفر الباطن .,submit | يعاد إلى مدقق الطلبات‑طلب تسجيل أول م...,رفض
2702,FR2025999776,حفر الباطن,حي المحمدية بمدينة حفر الباطن .,submit | يعاد إلى مدقق الطلبات - طلب تسجيل أول...,رفض
2703,FR2025999798,الرياض,حي عـــكاظ بمدينة الرياض .,submit | يعاد الى مدقق الطلبات-الارض المختارة ...,رفض

In [28]:
new_comp[["Transferred to Geospatial", "GEO S Completion", "SLA"]]

     Transferred to Geospatial GEO S Completion  SLA
0                   2025-11-24       2025-12-02    7
1                   2025-11-25       2025-12-02    6
2                   2025-12-01       2025-12-02    1
3                   2025-11-24       2025-12-02    7
4                   2025-11-27       2025-12-02    4
...                        ...              ...  ...
2699                2025-11-25       2025-12-02    6
2700                2025-11-25       2025-12-02    6
2701                2025-11-24       2025-12-02    7
2702                2025-11-24       2025-12-02    7
2703                2025-12-01       2025-12-02    1

[2704 rows x 3 columns]

In [29]:
final_comp = join_userlist(new_comp, editorlist)
print(len(final_comp))
final_comp[final_comp.columns[8:]]#.iloc[]

2704

,Transferred to Geospatial,Return To Geo Team,Count of Returns Cases,GEO Completion,GEO S Completion,Transferred to Ops,Case Status,REN,Boundary Length Deed,Boundary Length Parcel,...,Region,GeoAction,Rejection,SLA,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,2025-11-20,Yes,2.0,2025-12-02,2025-12-02,2025-12-02,New,5880931173100000,94.8,93.980003,...,Eastern,No Action,,10,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2025-11-18
1,2025-11-13,No,1.0,2025-12-02,2025-12-02,2025-12-02,New,1854431859400000,70.0,75.720001,...,Eastern,رفض,صك الأرض,16,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2025-11-18
2,2025-11-13,No,1.0,2025-12-02,2025-12-02,2025-12-02,New,6740130703700000,108.0,105.019997,...,Qasim,رفض,صك الأرض,16,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2025-11-18
3,2025-11-13,No,1.0,2025-12-02,2025-12-02,2025-12-02,New,1115135571300000,102.0,90.730003,...,Qasim,رفض,إرفاق المؤشرات,16,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2025-11-18
4,2025-11-17,No,1.0,2025-12-02,2025-12-02,2025-12-02,New,8959820268200000,114.0,114.000000,...,Eastern,تعديل بيانات وصفية,,13,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2025-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,2025-11-12,No,1.0,2025-11-19,2025-12-02,2025-12-02,New,5693896447300000,76.0,148.179993,...,Riyadh,رفض,صك الأرض,17,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2025-11-18
2700,2025-11-13,No,1.0,2025-12-02,2025-12-02,2025-12-02,New,4626074793200000,74.0,74.220001,...,Qasim,تعديل بيانات وصفية,,16,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2025-11-18
2701,2025-11-13,No,1.0,2025-12-02,2025-12-02,2025-12-02,New,2458179721300000,32.3,140.849991,...,Eastern,رفض,صك الأرض,16,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2025-11-18
2702,2025-11-13,No,1.0,2025-12-02,2025-12-02,2025-12-02,New,6288089585600000,122.0,121.639999,...,Makka,رفض,صك الأرض,16,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shaden Alfuraihi,Editor Morning Shift,2025-11-18
2703,2025-11-20,Yes,2.0,2025-12-02,2025-12-03,2025-12-03,New,9083645815800000,45.0,47.449997,...,Riyadh,تعديل بيانات وصفية,,11,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Fadil,Editor Night Shift,2025-11-18

In [30]:
final_comp.to_sql("GeoCompletion", engine_postgres2, schema='public', if_exists='append', index=False)

264

In [19]:
# editors = pd.read_sql("""SELECT * FROM public."EditorsList"
#                        WHERE "ListDate" = (SELECT MAX("ListDate") FROM public."EditorsList") """, engine_postgres)
# editors["ListDate"].unique()

In [12]:
editors

,EditorName,CaseProtalName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,Abdullah alateer,None,aalateer.c,Null,Null,CORDINADOR,2025-11-12
1,Bader alotaibe,Null,balotaibe.c,Null,Null,CORDINADOR,2025-11-12
2,Fahad shamah,Null,fshamah.c,Null,Null,CORDINADOR,2025-11-12
3,Ftoon Bader Saad Alrawily,Null,falrawily.c,Null,Null,CORDINADOR,2025-11-12
4,Jalal Khan,Null,JKhan,imohammed.c,ISLAM,Developers,2025-11-12
...,...,...,...,...,...,...,...
256,Mahmoud Mamdoh,Mahmoud Mamdoh,mmamdoh.c,mhassan.c,Musab Hassan,Urgent Team -1,2025-11-12
257,Jasser Aljasser,Jasser Aljasser,Jaljasser.c,mhassan.c,Musab Hassan,Urgent Team -1,2025-11-12
258,Sarra Mohamed Elhassan Elsayed Mukhtar,Sara Mukhtar,smohamed.c,falmarshed.c,Fatimh almarshed,Editor Morning shift,2025-11-12
259,Walaa Yousef Ali,Walaa Ali,Wali.c,falmarshed.c,Fatimh almarshed,Editor Morning shift,2025-11-12
260,Mohamed Faisal Hussein Baday,Mohamed Baday,MBaday.c,falmarshed.c,Fatimh almarshed,Editor Morning shift,2025-11-12

In [19]:
new_comp = convert_to_date(new_comp)
new_comp = getGeoAction(new_comp)
comp_combined = join_userlist(new_comp, editors)

In [22]:
comp_combined[comp_combined.columns[-12:]]

,UniqueKey,UploadDate,UploadedBy,Region,GeoAction,Rejection,EditorName,UserID,SupervisorID,SupervisorName,GroupID,ListDate
0,FR2025772929_2025-11-23 16:08:24,2025-11-24,MIbrahim.c,Riyadh,رفض,محضر الدمج/التجزئة,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
1,FR2025828003_2025-11-23 23:15:05,2025-11-24,MIbrahim.c,Eastern,تعديل بيانات وصفية,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
2,FR2025832839_2025-11-23 17:54:55,2025-11-24,MIbrahim.c,Riyadh,تعديل بيانات وصفية,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
3,FR2025858924_2025-11-23 17:05:57,2025-11-24,MIbrahim.c,Riyadh,دمج,,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
4,FR2025893570_2025-11-23 19:55:06,2025-11-24,MIbrahim.c,Eastern,رفض,إختيار خاطئ,AHMED Mustafa Mahmmod Alqadi,amahmmod.c,MFadil.c,Mohammed Abdallah Fadil,Editor Night Shift,2025-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...
3124,FR2025920222_2025-11-23 13:53:04,2025-11-24,MIbrahim.c,Qasim,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3125,FR2025920548_2025-11-23 14:06:14,2025-11-24,MIbrahim.c,Qasim,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3126,FR2025923144_2025-11-23 10:21:57,2025-11-24,MIbrahim.c,Makka,تجزئة,,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3127,FR2025927138_2025-11-23 09:02:13,2025-11-24,MIbrahim.c,Makka,تعديل بيانات وصفية,,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18
3128,FR2025930512_2025-11-23 13:16:24,2025-11-24,MIbrahim.c,Madinah,رفض,صك الأرض,Wijdan Al-Asab,Wasab.c,SAlfuraihi.c,Shden Al-Furaihi,Editor Morning Shift,2025-11-18

In [25]:
engine_postgres2

Engine(postgresql://postgres:***@localhost:5432/GRS)

In [49]:
editorlist[editorlist["ListDate"]==editorlist["ListDate"].max()].to_sql("EditorsList", engine_postgres2, schema='evaluation', if_exists="replace", index=False)

261

# Append Data online

In [11]:
def field_to_timestamp(df):
    dtimeFields = ['Case Date', 'Case Submission Date','Latest Action Date','Transferred to Geospatial','GEO Completion','GEO S Completion','Transferred to Ops', 'Attachment Added Date', "ListDate"]
    for i in dtimeFields:
        if i in df.columns:
            df[i] = pd.to_datetime(df[i], errors='coerce')
    return df

def calculate_sla(row, work_dates):
    trans_date = row[0]
    comp_date = row[1]
    try:
        period = int((comp_date - trans_date).days)
        
        sla = 0
        for i in range(period):
            current_date = trans_date + timedelta(days=i)
            if current_date in work_dates:
                sla += 1
            else:
                pass
        return sla
    except:
        return "Missing Date"
    
def classify(text):
    keywords = {'بيانات': 'بيانات وصفية',
            'تعديل': 'تعديل أبعاد الأرض',
            'تجزئة':'تجزئة',
            'خارج':'خارج المناطق المعلنة',
            'دمج':'دمج',
            'صك متعدد':'صك متعدد',
            'وحدة عقارية':'وحدة عقارية',
            'Others':'Others'}
    
    if text == 'غرفة كهرباء':
        return 'غرفة كهرباء'
    elif text == 'شطفة':
        return 'شطفة'
    else:
        for word in keywords.keys():
            if word in text:
                return keywords[word]

In [7]:
from sqlalchemy import create_engine

import urllib.parse
DB_CONFIG = {
    "server": '0003-MAAL-01\\LASSQLSERVER',
    "database": 'GRSDASHBOARD',
    "username": 'lasapp',
    "password": 'lasapp@LAS123'
}

# Build ODBC connection string from existing DB_CONFIG
odbc_params = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={DB_CONFIG['server']};"
    f"DATABASE={DB_CONFIG['database']};"
    f"UID={DB_CONFIG['username']};"
    f"PWD={DB_CONFIG['password']};"
)
odbc_connect_str = urllib.parse.quote_plus(odbc_params)

# Create SQLAlchemy engine for SQL Server via pyodbc
engine_sqlserver = create_engine(f"mssql+pyodbc:///?odbc_connect={odbc_connect_str}", fast_executemany=True)

# simple test query
# with engine_sqlserver.connect() as conn_sql:
#     print(conn_sql.execute("SELECT * FROM grsdbrd.CR_Data").scalar())

# engine_postgres = create_engine(connection_str_post)

In [21]:
# comp_tbl = pd.read_sql("""SELECT * FROM evaluation."GeoCompletion" WHERE "GEO S Completion">='2025-11-01' """, engine_postgres2)
comp_tbl = pd.read_sql("""SELECT * FROM grsdbrd."GeoSCompletionData" """, engine_sqlserver)
trans_tbl = pd.read_sql("""SELECT * FROM grsdbrd."TransferToGeoData" """, engine_sqlserver)
classification = pd.read_sql("""SELECT * FROM public."ClassificationData" """, engine_postgres)
editorlist = pd.read_sql("""SELECT * FROM public."EditorsList" """, engine_postgres)

comp_tbl = convert_to_date(comp_tbl)
comp_tbl = getGeoAction(comp_tbl)
trans_tbl = convert_to_date(trans_tbl)
classification = convert_to_date(classification)
editorlist = convert_to_date(editorlist)
print(len(comp_tbl))
comp_tbl.head()

585928

,Case Number,Absolute Ownership,Duplicate Case,Generated Titles,Case Submission Date,Latest Action Date,Action,Assignee,Transferred to Geospatial,Return To Geo Team,...,GEO,GEO Recommendation,Geo Supervisor,Geo Supervisor Recommendation,UniqueKey,UploadDate,UploadedBy,Region,GeoAction,Rejection
0,FR2025291019,None,NaN,NaN,2025-05-01,2025-05-31,CW Pool,None,2025-05-04,No,...,Wafi Noah,assignToGeoSupervisor | تعديل أبعاد الارض,Waleed Alomari,assignCaseWorker | يعاد الى مدقق الطلبات-نقص ف...,FR2025291019_2025-05-31 20:06:25,2025-07-28,Aaltoum,Eastern,رفض,صك الأرض
1,FR2025291062,None,NaN,NaN,2025-05-01,2025-05-31,CW Pool,None,2025-05-05,No,...,Wafi Noah,assignToGeoSupervisor | تعديل أبعاد الارض,Walaa Ali,assignCaseWorker | تم تعديل الشطفة - تمت المعا...,FR2025291062_2025-05-31 17:04:07,2025-07-28,Aaltoum,Eastern,شطفة,
2,FR2025291089,None,NaN,NaN,2025-05-01,2025-05-31,CW Pool,None,2025-05-08,No,...,Wafi Noah,assignToGeoSupervisor | تعديل أبعاد الارض,Renad Alkaak,assignCaseWorker | تم تعديل البيانات الوصفية,FR2025291089_2025-05-31 11:01:26,2025-07-28,Aaltoum,Madinah,تعديل بيانات وصفية,
3,FR2025291139,None,NaN,NaN,2025-05-01,2025-05-31,CW Pool,None,2025-05-07,No,...,Wafi Noah,assignToGeoSupervisor | بيانات وصفية,Saad Alamri,assignCaseWorker | تم تعديل البيانات الوصفية,FR2025291139_2025-05-31 13:57:06,2025-07-28,Aaltoum,Eastern,تعديل بيانات وصفية,
4,FR2025291141,None,NaN,NaN,2025-05-01,2025-05-31,CW Pool,None,2025-05-05,No,...,Wafi Noah,assignToGeoSupervisor | بيانات وصفية,Shurooq AlHarbi,assignCaseWorker | تم تعديل البيانات الوصفية.,FR2025291141_2025-05-31 21:29:07,2025-07-28,Aaltoum,Eastern,تعديل بيانات وصفية,

In [17]:
comp_tbl.columns

Index(['Case Number', 'Absolute Ownership', 'Duplicate Case',
       'Generated Titles', 'Case Submission Date', 'Latest Action Date',
       'Action', 'Assignee', 'Transferred to Geospatial', 'Return To Geo Team',
       'Count of Returns Cases ', 'GEO Completion', 'GEO S Completion',
       'Transferred to Ops', 'Case Status', 'REN', 'Boundary Length Deed',
       'Boundary Length Parcel', 'MoJ Deed Number', 'Moj Real Estate Serial',
       'MoJ Plan #', 'MoJ Real Estate Area', 'MoJ Land Number', 'City Name',
       'District Name', 'MoJ Deed Area Text', 'Property Type',
       'Parcel Area Size', 'Parcel Number (PCP)', 'Location Description',
       'Attachments', 'Attachment Added Date', 'Deed East Limit Description',
       'Deed East Limit Length', 'Deed Eastern Type',
       'Deed  West Limit Description', 'Deed West Limit Length',
       'Deed Western Boarder Type', 'Deed North Limit Description',
       'Deed North Limit Length', 'Deed Northern Boarder Type',
       'Deed South Limit Description', 'Deed South Limit Length',
       'Deed Sothern Boarder Type', 'CW', 'CW Recommendation', 'CWS',
       'CWS Recommendation', 'QC', 'QC Recommendation', 'GEO',
       'GEO Recommendation', 'Geo Supervisor', 'Geo Supervisor Recommendation',
       'UniqueKey', 'UploadDate', 'UploadedBy', 'Region', 'GeoAction',
       'Rejection', 'EditorName', 'UserID', 'SupervisorID', 'SupervisorName',
       'GroupID', 'ListDate', 'SLA'],
      dtype='object')

In [22]:
comp_tbl = join_userlist(comp_tbl, editorlist)
working_dates = comp_tbl["GEO S Completion"].unique().tolist()
comp_tbl["SLA"] = comp_tbl[["Transferred to Geospatial", "GEO S Completion"]].apply(lambda row: calculate_sla(row, working_dates), axis=1)

C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_31792\513005197.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  trans_date = row[0]
C:\Users\Aaltoum\AppData\Local\Temp\ipykernel_31792\513005197.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  comp_date = row[1]

In [23]:
classification = classification.drop_duplicates(subset="Case Number", keep='last')
classification['Classification'] = classification['Classification'].apply(classify)
class_trans = pd.merge(trans_tbl, classification, on='Case Number', how='left')
class_trans.loc[class_trans['Classification'].isnull(), "Classification"] = "Others"
class_trans = class_trans.drop(columns=['REN_y', 'Zone', 'UniqueKey_y', 'UploadDate_y', 'UploadedBy_y'])
class_trans = class_trans.rename({"UniqueKey_x":"UniqueKey","UploadDate_x": "UploadDate", "UploadedBy_x": "UploadedBy"}, axis=1)

In [25]:
field_to_timestamp(comp_tbl).to_excel(r"D:\Unclassified\DB Tables _excel\GeoCompletion.xlsx", index=False)
field_to_timestamp(class_trans).to_excel(r"D:\Unclassified\DB Tables _excel\Transfer2Geo.xlsx", index=False)
field_to_timestamp(classification).to_excel(r"D:\Unclassified\DB Tables _excel\CaseClassification.xlsx", index=False)
# field_to_timestamp(comp_tbl).to_excel(r"D:\Unclassified\DB Tables _excel\GeoCompletion.xlsx", index=False)

In [11]:
# import arcpy

# gdb_path = r"D:\Documents\ArcGIS\Projects\GRS Dashboard\GRS Dashboard.gdb"
# # Set workspace to your .gdb
# arcpy.env.workspace = gdb_path

# # Name of the output feature class/table
# output_table = "GeoCompletion"

# # Save DataFrame to CSV (ArcPy can import from CSV)
# # ops_final.to_csv("ops_final.csv", index=False, encoding="utf-8-sig")
# arcpy.management.CopyRows()

# # Convert CSV to table in geodatabase
# arcpy.TableToTable_conversion("ops_final.csv", gdb_path, output_table)

In [12]:
# import arcpy

# arcpy.env.workspace = r"D:\Documents\ArcGIS\Projects\GRS Dashboard\GRS Dashboard.gdb"

# # Convert pandas df → NumPy structured array → Feature Class
# array = arcpy.da.NumPyArrayToTable(
#     comp_tbl.to_records(index=False),
#     "temp_table"
# )

# # Append into an existing feature class
# arcpy.management.Append(
#     inputs="temp_table",
#     target="GeoCompletion",
#     schema_type="NO_TEST"
# )

In [15]:
import arcpy
import numpy as np

gdb = r"D:\Documents\ArcGIS\Projects\GRS Dashboard\GRS Dashboard.gdb"
table_name = "GeoCompletion"

# Convert pandas df → NumPy structured array
arr = np.array(np.rec.fromrecords(comp_tbl.values), dtype=comp_tbl.dtypes.to_dict())

# Create the table
arcpy.da.NumPyArrayToTable(arr, f"{gdb}\\{table_name}")

ValueError: entry not a 2- or 3- tuple

In [27]:
comp_tbl['Case Submission Date'] = pd.to_datetime(comp_tbl['Case Submission Date'], errors='coerce')
comp_tbl['Case Submission Date'].iloc[0]

Timestamp('2025-10-28 00:00:00')

In [30]:
comp_tbl['Case Submission Date'].dtype

dtype('<M8[ns]')

In [29]:
for col in comp_tbl.select_dtypes(include=['datetime64']).columns:
    comp_tbl[col] = pd.to_datetime(comp_tbl[col])
    print(col)

Case Submission Date

In [ ]:
temp_tbl = r"C:/temp/Completed.xlsx"
arcpy.env.overwriteOutput = True
# comp_tbl.to_excel(temp_tbl)
arcpy.conversion.ExcelToTable(
    temp_tbl, r"D:\Documents\ArcGIS\Projects\GRS Dashboard\GRS Dashboard.gdb"+"/GeoCompletion")

ExecuteError: ERROR 000464: Cannot get exclusive schema lock.  Either being edited or in use by another application or service.
Failed to execute (ExcelToTable).